[2017-05-04 15:26] maxtaco commented on #6871
Thanks for the report.

Cc: @zanderz
On Thu, May 4, 2017 at 11:11 AM finneivind <notifications@github.com> wrote:

[2017-05-04 15:40] oconnor663 commented on #6798
Ah hmm, I think I misremembered some of the details here. Is it only Debian-based distros that disable the repo during a major distro upgrade? The RPM cronjob is working around a different problem, where some of those distros lock the repo list during package installation, so adding a repo means the package has to run code "later". The cronjob actually tries to preserve several different modificat

[2017-05-04 16:09] cjb commented on #3323
Thanks for tracking the process down, @nehararora!

CC @strib and @gabriel

[2017-05-04 16:58] zanderz commented on #6871
Are you able to do `keybase log send` at the Keybase Shell?

Are you running any antivirus software?

[2017-05-04 17:24] hevanaa commented on #6798
I would do the following modification to the cron script, thus allowing baseurl to contain both http and https (if the user changed it):

  # Check if the correct repository configuration is in there.
  SREPOCONFIG="$(echo "$REPOCONFIG" | sed -r 's#^https?://##; s#//$##')"
  REPOMATCH=$(egrep "^baseurl=https?://$SREPOCONFIG/$DEFAULT_ARCH" "$REPO_FILE"\
    2>/dev/null)
  # If it's there, nothing t

[2017-05-04 20:39] finneivind commented on #6871
Hi Steve,

Thanks!

Just did a keybase log send.

And yes, I am running on a managed corporate PC, we have for reasons that do not make sense to me installed McAfee.

Eivind

Fra: Steve Sanders [mailto:notifications@github.com]
Sendt: torsdag 4. mai 2017 18.59
Til: keybase/client <client@noreply.github.com>
Kopi: Throndsen, Eivind <eivind.throndsen@finn.no>; Author <author@noreply.github.com>
Emne

[2017-05-04 22:01] zanderz commented on #6871
This is almost certainly due to the AV opening files while we're trying to access them, in order to make sure no malware is writing to them. We have solved similar cases in the past by adding some retries; we'll add one here too.

[2017-05-04 22:10] zanderz commented on #6871
https://keybase.atlassian.net/browse/CORE-5100

[2017-05-04 23:07] jtsmith0101 commented on #6755
I think this can be closed.  Thanks for all your help.  I spent some time digging in my AV (following a rummage through the outstanding issues on GH) and discovered that runquiet.exe is being flagged as a trojan and quarantined.  After removing the quarantine, restoring the file and rebooting, keybase behaved as I expected.  I've whitelisted all of the contents of the \keybase folder... so AV 'sho

[2017-05-04 23:07] #6755 closed

[2017-05-04 23:09] jtsmith0101 commented on #6576
this behavior hasn't happened again since reporting.  Closing

[2017-05-04 23:09] #6576 closed

[2017-05-04 23:10] jtsmith0101 commented on #4423
This can be closed.

[2017-05-04 23:10] #4423 closed

[2017-05-04 23:11] jtsmith0101 commented on #3659
this can be closed

[2017-05-04 23:11] #3659 closed

[2017-05-04 23:12] jtsmith0101 commented on #4843
this can be closed

[2017-05-04 23:12] #4843 closed

[2017-05-04 23:13] jtsmith0101 commented on #3720
this can be closed

[2017-05-04 23:13] #3720 closed

[2017-05-04 23:14] jtsmith0101 commented on #4419
this can be closed

[2017-05-04 23:14] #4419 closed

[2017-05-04 23:14] jtsmith0101 commented on #4421
this can be closed

[2017-05-04 23:14] #4421 closed

[2017-05-04 23:15] #3983 closed

[2017-05-04 23:16] #3820 closed

[2017-05-05 01:26] bw-aus commented on #6096
There are two potential issues: **hiding/closing a chat**; and **permanently deleting a chat**.

**Hiding/closing**: it would be good to be able to clean up your sidebar while still keeping chats for reference purposes. Perhaps they could be placed into a folder at the bottom of the sidebar? One that can be expanded when needed?

**Permanently deleting**: could be implemented in a few different wa

[2017-05-05 09:30] Ravneson commented on #6859
This. it would help alleviate some of the issues of secure E2E encrypted DMs + the whole "provable" identity bit. Pretty sure the dev would welcome that (the many instances mean it's hard to have a provable "this is me, and me only" sort account verification and many are clamouring for a solution there).

[2017-05-05 20:29] zanderz commented on #6851
https://keybase.atlassian.net/browse/CORE-5110

[2017-05-05 21:50] tazinator commented on #6789
BitDefender Plus 2017 also flagged you guys. Attached the screenshot of the 2 files it kept flagging.
![2017-05-05_14-39-48](https://cloud.githubusercontent.com/assets/2350117/25765478/2201a8ea-31a2-11e7-9135-ee876f9d4cc1.jpg)
![2017-05-05_14-40-34](https://cloud.githubusercontent.com/assets/2350117/25765477/220122b2-31a2-11e7-94c3-079d0b704014.jpg)

[2017-05-05 21:58] zanderz commented on #6789
Among the measures we're taking to cut down on this, we're renaming runquiet.exe to keybaserq.exe, and we're going to stop rebuilding it for every release, so hopefully the false positive reports can have more of an effect. If you would like to try the keybaserq change, you can [download it here](https://s3.amazonaws.com/prerelease.keybase.io/windows/Keybase_1.0.22-20170505141404%2B2a65c39.386.exe

[2017-05-05 22:56] gabriel commented on #6869
@strib I'm seeing this error:
[code]

Have you seen that before?

[2017-05-05 23:01] gabriel commented on #6869
@hakamadare Are you running keybase as another user at the same time? That might be the problem.

If you quit Keybase, does `/keybase` exist? If you remove it, that might fix it since it's owned by a different user.

[2017-05-05 23:01] gabriel commented on #6869
We should have a better error message in this scenario too.

[2017-05-06 14:33] kzshantonu commented on #6789
Same :(

![2017-05-06 16_31_45-bitdefender - settings](https://cloud.githubusercontent.com/assets/7745374/25773204/a7a27baa-3279-11e7-88dc-1ec0f9487168.png)

[2017-05-06 19:13] aryasenna opened #6895 "Tray context menu is in wrong location"
In Gnome 3.2 the tray menu for applications is located on left bottom of the screen, Keybase seems to be harcoded to show context menu in top right corner of the screen.

[2017-05-07 18:14] plttn opened #6897 "GUI not loading, no KBFS"
So on my Surface Book (which seems to have lots of trouble with Keybase [#5215]), I now can't load the client at all. KBFS isn't starting, so I don't even have the K: drive that would be inaccessible anymore.

my log id: `8eed4a4c49681b668b1f5d1c`

[2017-05-07 18:17] plttn commented on #6897
Upon further inspection, it looks like both of my Windows clients cannot load GUI or access KBFS.

other client log: `3d55f92809ff36a9b3ffa41c`

[2017-05-07 20:26] virtadpt commented on #6859
Yes, please!  👍

[2017-05-08 02:23] maxtaco commented on #6897
cc: @zanderz

[2017-05-08 03:33] larrysalibra opened #6898 "Chat: Links with Chinese don't work"
Keybase GUI Version: 1.0.22-20170502110012+a3c4856

macOS: 10.12.4

1. Paste a URLs with Chinese characters into a chat
2. Link making algorithm ignores Chinese portion of the URL.

Example:

Pasting the link https://www.thestandnews.com/politics/再有政府人員到hidden-agenda-放蛇-警車-大批持盾警員到場欲拘捕-ha-負責人/ into a chat results in a link to https://www.thestandnews.com/politics/

<img width="478" alt="screen shot

[2017-05-08 05:54] gnujedi opened #6899 "Release mobile app to f-droid"
As a free and open source project, its equally important that the software be released onto a platform that supports free and open source software. Releasing the keybase app to f-droid would allow those of us who don't use Google services to be in the loop.

[2017-05-08 13:49] hakamadare commented on #6869
aha!  @gabriel that's it.  i have two user accounts on the same machine (work and personal, see #2604), that's probably what happened.  after changing the permissions, KBFS runs without error.

it would be nice to have a more informative error message in this event :)

[2017-05-08 13:49] #6869 closed

[2017-05-08 14:31] oconnor663 commented on #6798
This is going to require a fair bit of by-hand testing on a few different distros, so I'm going to file it as an [internal task](https://keybase.atlassian.net/browse/CORE-5091). Apologies for not getting to it quickly.

[2017-05-08 17:05] plttn commented on #6897
Looks like this is potentially an AV interaction issue.

https://virustotal.com/en/file/e638a56952be1f3f78b7f1c41fb875c9d6b93717ba4554263ec25b8afdb722d6/analysis/1493082395/

I use Bitdefender, which is one of the AVs flagging `runquiet.exe`.

[2017-05-08 18:03] gabriel commented on #6462
@wang502 Sorry this fell off my radar... Is this still a problem, maybe try a newer build (via https://keybase.io)?

If still happening can you do a `/Applications/Keybase.app/Contents/SharedSupport/bin/keybase log send` and post the ID?

[2017-05-08 18:07] gabriel commented on #6403
@anderm3 Are you still having this issue with a more recent build from https://keybase.io?

[2017-05-08 18:11] #6379 closed

[2017-05-08 18:12] anderm3 commented on #6403
<img width="827" alt="screen shot 2017-05-08 at 2 11 43 pm" src="https://cloud.githubusercontent.com/assets/2721335/25818333/4b234532-33f8-11e7-915d-f7b1629ef386.png">

[2017-05-08 18:16] anderm3 commented on #6403
<img width="824" alt="screen shot 2017-05-08 at 2 15 23 pm" src="https://cloud.githubusercontent.com/assets/2721335/25818517/d084af72-33f8-11e7-94cc-92dd2a22c882.png">
Looks like both the version linked earlier in the thread and the latest release on the site still both get stuck for me drawing the login UI.

[2017-05-08 20:26] dmytton opened #6907 "Unable to provision new iOS device"
Using the iOS beta (1.0.0 179) on iPhone 7 Plus (iOS :

1. Tap log in
2. Enter username `davidmytton`
3. Tap the laptop device I want to connect with
4. Scan the QR code from the screen

The view changes to a blank view and remains there forever.

After several attempts and force close, I did also manage to get it to go to a login screen saying "Pick an option" but with no options to select, and a

[2017-05-08 20:29] gabriel commented on #6403
Can you post another `keybase log send` from the latest version?

[2017-05-08 20:31] cjb commented on #6907
Thanks!  We've just pushed a fix for this bug, it'll be in the next update.

[2017-05-08 20:31] cdokolas commented on #6801
Message screenshot:
![keybase](https://cloud.githubusercontent.com/assets/1136790/25823971/621beb74-3446-11e7-9943-50e76d542c49.png)

[2017-05-08 20:58] zanderz commented on #6897
It does look as though our launcher utility, runquiet.exe, was blocked.
Among the measures we're taking to cut down on this, we're renaming runquiet.exe to keybaserq.exe, and we're going to stop rebuilding it for every release, so hopefully the false positive reports can have more of an effect. If you would like to try the keybaserq change, you can [download it here](https://s3.amazonaws.com/prere

[2017-05-08 21:47] plttn commented on #6897
Looks like that version (and today's definition updates in Bitdefender) stops the trojan detection in the shortcut, but still flags [keybaserq](https://www.virustotal.com/en/file/1bf95ea81e25ee011d275ec1188bb6f6af5c01bcc4dc326244fe2cd2e90333d2/analysis/). I've added an exclusion for now in Bitdefender.

[2017-05-08 21:48] zanderz commented on #6897
thank you, that's an interesting result. We'll re-submit.

[2017-05-08 22:05] gabriel commented on #3323
That bird process is part of iCloud Drive... I'm not sure why it would be remembering old folders. I enabled iCloud Drive on my computer and aren't able to repro.

@nehararora Can you think of any specific steps to reproduce this using iCloud Drive?

[2017-05-08 22:20] nehararora commented on #3323
@gabriel unfortunately no :(  been seeing this ever since I installed keybase months ago - don't recall doing anything specific. I'll keep a eye on when it pops up again to confirm if I see this from the same process again and whether I can catch anything in the system logs.

Was a little surprised to see the icloud process accessing the folder myself. Looking at the icloud settings on my mac, don

[2017-05-08 22:24] gabriel commented on #3323
ok thanks.. yeah only thing I could think of is maybe there is a symlink somewhere that it's following into /keybase

[2017-05-08 23:49] #3817 closed

[2017-05-09 00:32] ftrimble opened #6912 "The keybase UI does not load for me"
I can't load the gui, which is giving me the error message "Oops, we had a problem communicating with our services. This might be because you lost connectivity." I am connected to the internet. This means I can't access my kbfs, which has some valuable files that I need.

my log id: d875fac6485868166fb0a91c

[2017-05-09 00:47] plttn commented on #6912
Do you happen to use any of these antiviruses?

- Ad-Aware
- ALYac
- Arcabit
- BitDefender
- Emsisoft
- Endgame
- F-Secure
- GData
- eScan

If so, one of the files Keybase needs to run is being flagged as malicious (see #6897).

[2017-05-09 00:58] ftrimble commented on #6912
I don't use any of those

On Mon, May 8, 2017, 5:47 PM Jack Platten <notifications@github.com> wrote:

--

Cheers,
Forest

[2017-05-09 01:06] ftrimble commented on #6912
seems like it might be related to kbfs not loading properly - gettting

[code]
in the logs

[2017-05-09 01:34] maxtaco commented on #6912
Cc: @strib and @jzila

I believe this bug was just fixed today, thanks for the report...

[2017-05-09 01:45] ftrimble commented on #6912
when can I expect to be able to use the fix? is there a workaround I can use temporarily?

[2017-05-09 01:48] jzila commented on #6912
@ftrimble: I've just pushed a new build that you can update to which should fix that issue.

If you don't want to wait, you can do the following:

WARNING: REMOVING MULTIPLE FILES

First, make sure you aren't currently in any /keybase folders in a terminal nor file browser.
[code]

The full story: we store encrypted blocks on the disk after they've been retrieved. But the database can sometimes co

[2017-05-09 01:50] ftrimble commented on #6912
namaste; this worked flawlessly!

[2017-05-09 01:50] #6912 closed

[2017-05-09 01:55] maxtaco commented on #6912
@jzila BTW we've found this problem to be more likely on windows

[2017-05-09 01:59] ftrimble commented on #6912
@maxtaco, fwiw, this was a linux machine

[2017-05-09 02:00] jzila commented on #6912
Yeah we can tell from the logs, hence why I could give you such detailed instructions :)

[2017-05-09 02:01] maxtaco commented on #6912
Whoops, sorry, I was confused.

[2017-05-09 08:17] dmytton commented on #6907
Confirmed fixed on 1.0.1 (2)

[2017-05-09 08:17] #6907 closed

[2017-05-09 22:07] chadoakley opened #6920 "Keybase profile url returns a 404"
I have successfully installed the app and verified myself on a number of different services yet for some reason, my profile URL still returns a 404: https://keybase.io/warptoaster

[2017-05-10 00:50] maxtaco commented on #6920
I can repro, it's because we have a product at https://keybase.io/warp  . Should be an easy thing to fix, I'll put it into our internal issue tracker

[2017-05-10 02:13] maxtaco opened #6922 "test 1 2 3"
test 3 3

[2017-05-10 02:19] maxtaco commented on #6922
blah blah blabh

[2017-05-10 02:23] maxtaco commented on #6922
blurgh blurgh

[2017-05-10 03:23] maxtaco commented on #6922
be15f1cd148fc3363e103c1c XX bb be15f1cd148fc3363e103c1c abe15f1cd148fc3363e10c1c

yo yo

[2017-05-10 03:45] maxtaco commented on #6922
another oner here: be15f1cd148fc3363e103d1c

[2017-05-10 03:54] chadoakley commented on #6920
Awesome, thanks!

[2017-05-10 13:28] biafra23 opened #6923 "`keybase login` fails although gpg and private key are installed"
When I try to login I get the follwoing Error and advice:

[code]

[2017-05-10 13:29] maxtaco commented on #6923
@zapu can you take a look?

[2017-05-10 13:43] jsb2092 commented on #6897
I am still having the issue with the release from zanderz from 2 days ago.  Every time I restart my computer, it won't load keybase without uninstall and reinstalling it.  I am not using any 3rd part AV application other than that built into Windows.

[2017-05-10 14:15] zanderz commented on #6897
@jsb2092 You said the version from 9 days ago fixed this, right? https://github.com/keybase/client/issues/6687#issuecomment-298427438
And now it came back? The same fix should be in both builds. Can you please do a `keybase log send`? Thanks.

[2017-05-10 14:18] jsb2092 commented on #6897
@zanderz Correct, it DID fix it, until I rebooted.

The log ID is: 11a20128ef0f87012647a31c

[2017-05-10 14:41] zanderz commented on #6897
Thank you @jsb2092. I see the GUI connecting to the service at 9:44 today in this log, did it work that time or was it in disconnected state?

[2017-05-10 14:47] maxtaco commented on #6922
Blah blah blah

[2017-05-10 14:56] maxtaco opened #6925 "test 1 2 3"
testing web hook 1 2 3

my log id: cbe1c34f873d89f65e38de1c

[2017-05-10 14:59] maxtaco commented on #6925
needs 1 comment then?

cbe1c34f873d89f65e38de1c

[2017-05-10 15:06] jsb2092 commented on #6897
@zanderz Correct, that was after a reinstall.  This is a log after a reboot
f46a54966723ef893fb1941c

[2017-05-10 15:11] maxtaco commented on #6925
ok try this again

[2017-05-10 15:15] maxtaco commented on #6925
gar gar bllleeoe

[2017-05-10 15:17] maxtaco commented on #6925
gfggfgfgfgfgfgfgfgfgfggfgffgfgfgfgf

[2017-05-10 15:20] maxtaco opened #6927 "another test, please ignore"
testing 1 2 3

my log id: b242a3db34f42022f90ce61c

[2017-05-10 15:20] #6927 closed

[2017-05-10 15:20] #6922 closed

[2017-05-10 15:20] #6925 closed

[2017-05-10 15:29] zanderz commented on #6897
ah ok, @jbs2092, the service doesn't seem to be running at all in that second log. The installer logs seem to  show that the startup shortcut was added OK. Does Task Manager show any instance of `keybase.exe` running (lower-case)? Do you have a shortcut called `KeybaseStartup` in `%APPDATA%\Microsoft\Windows\Start Menu\Programs\Startup` ?

If keybase.exe is not running and the shortcut is present,

[2017-05-10 15:30] maxtaco commented on #6920
Should be fixed, thanks for the bug report...

[2017-05-10 15:48] jsb2092 commented on #6897
@zanderz
I have 4 instances of keybase.exe running in task manager.  KeybaseStatup is in the startup folder

This is a new log, along with some output from when I generated it.
- INFO ignoring error getting keybase status: Timed out waiting for pipe '\\.\pipe\kbservice\Users\jsb\AppData\Local\Keybase\keybased.sock' to come available
- INFO ignoring UI logs: Timed out waiting for pipe '\\.\pipe\kbs

[2017-05-10 15:55] zanderz commented on #6897
@jsb2092 Are these 4 instances of `Keybase.exe` (capitalized), or are any of them `keybase.exe` (all lower case)? Did you double-click KeybaseStartup?

[2017-05-10 15:59] jsb2092 commented on #6897
@zanderz sorry, I didn't fully answer previously.  They were all with an uppercase K, and clicking on the KeybaseStartup caused two lowercase k instances to start (named Keybase utility)

[2017-05-10 16:02] zanderz commented on #6897
@jsb2092 The 3c3d4f0dd2561b09075a4c1c log still looks like lower-case `keybase.exe` is not running at all - I assume it was sent before you launched KeybaseStartup? If not, is the GUI connected now? If the GUI is still not connected, can you "quit" it via the tray menu and restart it with the start menu `Keybase` shortcut?

[2017-05-10 16:03] jsb2092 commented on #6897
@zanderz yes, that was before I ran statup, and running the startup manually did fix it.

[2017-05-10 20:24] johnmarc opened #6940 "Window just says loading forever"
Unable to log in or proceed
Keybase GUI Version: 1.0.22-20170510160050+38e68d7
ubuntu 17.04

[2017-05-10 20:26] cjb commented on #6940
@johnmarc please can you run `keybase log send` in a terminal and tell us the ID?

[2017-05-10 20:30] johnmarc commented on #6940
my log id: 420ece3ba9825ba9d9a6ee1c

[2017-05-10 20:32] johnmarc commented on #6940
also:  898821c6afe0d33b3ba52d1c
from with the daemon running

[2017-05-10 20:40] cjb commented on #6940
the error is

93 2017-05-10T15:35:45.710389-04:00 ▶ [ERRO keybase standard.go:230] 017 open /home/(you)/.config/autostart/keybase_autostart.desktop: permission denied

[2017-05-10 20:54] johnmarc commented on #6940
Thanks dropbox for setting that up as owned by root.  You guys should detect that and ask for sudo.

[2017-05-10 20:54] cjb commented on #6940
Ah, weird.  You're the first person to report this error to us.  But you're probably not the first Dropbox user who installed Keybase.  Wonder what's up with that.

[2017-05-10 20:56] johnmarc commented on #6940
dropbox was literally the first thing I installed when I set up this machine, so it likely created the autostart directory and was running as root when it did so for whatever reason

[2017-05-10 20:58] johnmarc commented on #6940
anyway I'm good now

[2017-05-10 20:58] #6940 closed

[2017-05-11 12:16] #5208 closed

[2017-05-11 12:18] #5316 closed

[2017-05-11 12:19] taruti commented on #5339
@tkdberger any update on this?

[2017-05-11 12:26] zapu commented on #6923
Looks like it didn't even get as far as running gpg. Can you try something like:

`GPG=/usr/bin/gpg keybase login ...`

Also running with `-d` option will print some debug log, typically you would be looking for something similar to:

[code]

[2017-05-11 12:31] taruti commented on #5749
Any update on this?

[2017-05-11 12:32] taruti commented on #5764
@coleerickson Was this resolved for you?

[2017-05-11 12:34] #5802 closed

[2017-05-11 12:36] taruti commented on #5822
Cc @zanderz

[2017-05-11 12:37] taruti commented on #5866
@olelink Was this resolved for you?

[2017-05-11 12:39] #5914 closed

[2017-05-11 12:53] taruti commented on #6543
See https://github.com/keybase/client/issues/5215 we are working on getting this resolved.

[2017-05-11 12:57] taruti commented on #6834
Cc @zanderz

[2017-05-11 13:30] CiraciNicolo opened #6945 "Keybase Helper deamon keeps crashing when accessing my private folder."
my log id: dc98f6c25d579f01ac44001c

[2017-05-11 13:34] maxtaco commented on #6945
CC: @strib

[code]

[2017-05-11 14:14] robsmallridge opened #6946 "Error when Logging in "Unknown RPC Error""
[write something useful and descriptive here]

my log id: 1a496ae4117420fa5e51f81c

[2017-05-11 14:19] zanderz commented on #6834
@Sdcopeland Can you open the `Keybase Shell` and issue `keybase log send`?

[2017-05-11 15:55] cjb commented on #6834
@Sdcopeland Hi!  We've since fixed this bug in the latest update, no need to submit a log send.  Thanks for the report.

[2017-05-11 15:55] #6834 closed

[2017-05-11 17:15] strib commented on #6945
@CiraciNicolo: Sorry for the bad experience!  Looks like your private folder has been busted for a while.  When you first wrote to it, you were on an older version of KBFS that had a known bug (#6339); it's been fixed since then, including in the current release you're running.  This is a local bug, and won't affect any other devices or folders you have.

You can work around this with the steps be

[2017-05-11 17:17] Thewest123 commented on #6687
I still have the problem, even with the special build. :/
Log ID, if it helps: 35188c831ad3f903299ebe1c

[2017-05-11 18:28] zanderz commented on #6687
@Thewest123 Your logs suggest the Keybase service is not being started when you reboot. Could you take a look and see if:
- TaskManager shows any lower-case `keybase.exe` running
- you have a link called KeybaseStartup in `%APPDATA%\Microsoft\Windows\Start Menu\Programs\Startup`
- if your app comes back to normal if you launch that link
- you have any AV programs that may be blocking our utilities

[2017-05-11 18:35] #6412 closed

[2017-05-11 19:13] jsb2092 commented on #6687
@zanderz I just wanted to know that you've been very helpful.  More info from me though.  I am not running any 3rd party AV, and the fact that I can start it manually seems odd (not being blocked by anything).  I am running build 16188 of win10.

[2017-05-11 20:04] daveio opened #6952 "Can't access /keybase/private/MYUSERNAME"
I can't access /keybase/private/dave or /keybase/private/dave,olivercole as it asks for rekeying by opening the Keybase app on the device I'm using, or entering a paper key the app already knows (and even if re-entered, nothing changes). This is an issue I've encountered before.

I can only assume there is something wacky in the tree of devices I've built up over time. Is it possible to completely

[2017-05-11 20:10] diego898 commented on #5618
I was having a similar problem, where I block twitter through my hosts file and the osx client was showing:

![image](https://cloud.githubusercontent.com/assets/742407/25969814/1c1f4a60-364b-11e7-9a32-9f5f8c94ae41.png)

though the website was showing I was verified. I then ublocked it, and ran `keybase id diego` and it came up fine. I then told keybase "I fixed it -recheck" but it is still showing

[2017-05-11 20:28] strib commented on #6952
Sorry @daveio, this looks to be related to a new server rollout we did today.  It's returning incorrect timestamps, and makes it look like the updates to those folders happened _after_ you revoked the device that made the updates, rather than before.  Shouldn't need to do anything to your account or the folders, we just have to fix the backend.  We're looking at it now.

[2017-05-11 20:29] sebsauvage opened #6954 "Cannot get Android application from GooglePlay."
Phone: Samsung Galaxy S5 new, Android 6.0.1

From GooglePlay (on the phone): Google says the application is not available in my country. (I'm in France).
(Screenshot: https://framapiaf.org/system/media_attachments/files/000/045/471/original/a8a53eef29f73e10.png )

From GooglePlay website, try to install: Google says the application is not compatible with my phone (???).
(Screenshot: https://framap

[2017-05-11 20:32] cjb commented on #6954
Hi!  Unfortunately France is the only country the app isn't live in.  It's because France requires permission from the government before importing crypto from other countries:

https://en.wikipedia.org/wiki/Cryptography_law#France

We hope it will be in the store in the future.

[2017-05-11 20:38] sebsauvage commented on #6954
But the desktop applications are freely downloadable from your website.
Will you also pose a restriction ?

Could you provide a direct apk download link on your website ?  Or a least an md5 of the apk ?
I would not want to get Keybase from dubious third-party stores.

[2017-05-11 21:05] sebsauvage commented on #6954
I don't really get it: Signal, WhatsApp and Telegram use strong crypto too, and they are available on GooglePlay.

[2017-05-11 21:37] daveio commented on #6952
@strib Thanks for the info, these things happen 😄  Is there anywhere I can get notified that the fixup is done, so I can make sure everything goes back to normal on my end too?

[2017-05-11 21:38] strib commented on #6952
It should be working now, we reverted the fix (hadn't gotten back here to update yet, sorry).  Can you confirm things look ok?

[2017-05-11 21:39] strib commented on #6952
(might need a Keybase restart to see it working)

[2017-05-11 21:41] daveio commented on #6952
@strib ...and sorted. Yep, that was definitely the issue. Thanks again!

[2017-05-11 21:41] #6952 closed

[2017-05-11 22:17] tswaugh opened #6958 "Installation error - 0x80070666"
I'm having an issue with installing the latest version. I get the 0x80070666 error while installing while it tries to install/process the 14.0.23918 MS VC++ Redistributable. I recently had a HDD fail which may have had that package on it and it doesn't appear in my program list.

[Keybase_20170511180710.txt](https://github.com/keybase/client/files/994544/Keybase_20170511180710.txt)

[2017-05-11 22:25] kienankb opened #6959 "Win10 client hangs on "loading..." even after reinstall"
Launching Keybase brings up the GUI window but it never moves past "loading...".  Sometimes status tray window displays "logged-in" interface, other times it doesn't; KBFS is inaccessible and unusuable.  Error reported is that keybased.sock doesn't exist (and it doesn't); system PATH and environment variables don't seem to be different from a working Win10 installation in a way that would break Ke

[2017-05-11 23:15] diego898 opened #6960 "Unable to delete chat on osx client"
I accidentally started a group chat message between two people - I have not sent anything, but it still shows up in my list of messages and I cant see anyway to remove it

[2017-05-11 23:42] swalladge commented on #6946
I had the same issue. The new device was created successfully (can see it in the devices view from desktop), but the app still acts as though it hasn't logged in and wants me set it up again. This was connecting the phone via scanning the qr code from desktop.

[2017-05-11 23:44] maxtaco commented on #6946
Thanks for the report

Cc @cjb and @chrisnojima

On Thu, May 11, 2017 at 7:42 PM Samuel Walladge <notifications@github.com>
wrote:

[2017-05-12 00:16] joesustaric opened #6961 "Error: keybase.kbfs is not running macOS Sierra 10.12.5"
Mac OS Sierra 10.12.4 and now just patched to 10.12.5 same error

[code]

[2017-05-12 03:44] zevisert commented on #6686
I'm still getting this error. Tried the current version on keybase.io and the patch provided by zanderz above. Both fail with 0x80070666
Running Win10Pro v1703 (builld 15063.296)

[Keybase_20170511203959.txt](https://github.com/keybase/client/files/994993/Keybase_20170511203959.txt)

[2017-05-12 04:37] sucrose commented on #5399
I'm having the same issue. I'm using Windows 7 Ultimate 64bit.

Log ID: `5fefbf2b91ca080d68308b1c`

[2017-05-12 05:27] stubbetje commented on #6946
Trying the keybase application for the first time (on OSX) and also getting the "Unknown RPC Error".

[2017-05-12 05:29] fbaube opened #6962 "Installation does not warn about needing pen & paper"
Installation displays a screen listing a series of words to write down. Not always possible! Was not in my case. So I exited the app on that screen. But the screen does not reappear on reopening the app in the morning. So I deleted the app and reinstalled it, but now it tells me my username is taken. Installation fail.
Please (1) warn at the start of installation that the process is not self-conta

[2017-05-12 06:06] notameadow opened #6963 "Android app - eldest called on user with existing eldest KID"
This may be a duplicate of #6962

Steps:
1. Fresh install/new user (account created via web, no other devices used)
2. Log it, get to the paper key screen
3. Lock the screen
4. Unlock

Now you're back at the main screen and the paper key gone. I was expecting that since there is a switch to confirm that I wrote down the key all will be fine.

5. Revoke the paper key
6. Revoke the device
7. Log in:

[2017-05-12 06:17] fbaube commented on #6963
Yes, this is my experience too (#6962), and neither the app nor the CLI is clear about how to unbreak it.

[2017-05-12 06:36] nodomain commented on #6552
+1

[2017-05-12 07:49] foss- commented on #6096
This issue also exists for the iOS / Android variant of keybase, which is expected at this point in time. Just wanted to note, so that once this issue gets addressed, ideally, it will be solved on all platforms.

[2017-05-12 07:50] sebsauvage commented on #6859
I second this proposal.
Keybase could play a great role in proving identities on the Mastondon network, especially because it is a federated network with no central authority (or more precisely: decentralized authorities).

[2017-05-12 07:55] BjoernKW opened #6964 "iOS app: Paper key screen silently disappears when switching to another app"
The paper key process after the initial login is broken.

Because the I didn't have an actual piece of paper with me when I tried the app (and writing down things like that on paper is a weird idea anyway) I opened 1Password to create a secure note there. Unfortunately, when I returned to Keybase the app had already silently moved on to the next screen without me having confirmed anything.

[2017-05-12 08:06] Heliosmaster opened #6965 "Application crashes on OSX El Capitan"
Hey guys. After my computer goes to sleep / wakes up, keybase becomes unusable:

When i click on the icon on the tray, i get this: ![img](https://puu.sh/vNwe7/69a6e753a8.png)

Force Quitting and/or killing the process doesn't work either: after that, i get the beachball spinning (like it's hanging) for an undetermined amount of time.

Reinstalling the application didn't improve it either.

I'm usi

[2017-05-12 12:23] quonic commented on #6959
Also I am experiencing this issue on Windows 10. Log report ID: b1c7a973c546f07d8a9bdf1c

[2017-05-12 12:38] maxtaco commented on #6959
CC @zanderz

@quonic  seesms like you have permissions problems:

[code]

[2017-05-12 12:39] maxtaco commented on #6965
Thanks for the report, can you run `keybase log send`?

[2017-05-12 12:57] maxtaco commented on #6963
Thanks for the report, we'll look right into it.

[2017-05-12 12:57] maxtaco commented on #6963
If either of you can send feedback through the app, that would be very useful too. Thanks!

[2017-05-12 12:58] maxtaco commented on #6963
BTW, have you guys reset your accounts recently?

[2017-05-12 13:03] notameadow commented on #6963
I cannot log it so I don't see an option to send feedback. I've created the account yesterday or so and the above were the only actions I took outside of the web interface (not much there as well).

[2017-05-12 13:04] maxtaco commented on #6963
Oh, I see. @notameadow it looks like you've revoked all of your devices and I probably need to reset your account.

@fbaube it looks like your device was provisioned successfully but somehow your provisioning didn't complete properly. Cc: @patrickxb on that issue.

[2017-05-12 13:05] cdokolas commented on #6851
Update: Re-installation fixed it. No re-registering of client needed.

[2017-05-12 13:10] cdokolas commented on #6719
I haven't found how to scan the QR code from the Keybase app

[2017-05-12 13:11] maxtaco commented on #6963
@notameadow  I reset your account since all of your keys were revoked.  But there are still a few issues you must have hit to wind up there.

Cc: @chrisnojima  --- what's the status of sending logs if people are all the way logged out?

[2017-05-12 13:11] maxtaco commented on #6719
@cdokolas what version of the app are you running? the older ones didn't support it

[2017-05-12 13:12] notameadow commented on #6963
Reset as in delete and create again? So.. is it like I can destroy my account by revoking all keys/devices?

What about the problem with phone locking before I can find a pen? (I know it's a bit silly but still an issue).

[2017-05-12 13:12] notameadow commented on #6963
OK I can try to break it again if you like.

[2017-05-12 13:14] cdokolas opened #6966 "Desktop UI (Windows) elements too small"
I find icons, text and emojis in chat to be too small on a 23" screen. I suspect they will be pretty bad on a 15.6" FHD laptop.

[2017-05-12 13:14] maxtaco commented on #6963
Yes, once you revoke all of your keys, your data is lost, as it should be.  The only way it wouldn't be lost is if we held onto a plaintext copy, which we obviously don't!

We need better seatbelts around revoking your last device, it's a known issue.

We're aware of the other problem about not having a pen.

But your experience should not suck as bad as it did if you wind up canceling the flow ha

[2017-05-12 13:15] maxtaco commented on #6963
it might be worth a try or you can wait for the next version -- up to you...

[2017-05-12 13:21] notameadow commented on #6963
I like living dangerously, it worked but those were nervous moments preventing the phone from locking and typing!
Thanks for that.

[2017-05-12 13:26] drdaeman commented on #6031
This is *extremely* annoying, especially when app decides to update itself and restarts - bringing itself into focus all of sudden. Any non-interactive action (run on startup, internal app restart, etc), shouldn't bring the UI into focus.

(Also, app shouldn't pop up all of sudden if it has something to display, but make use of OS notifications facilities - but that's another issue.)

[2017-05-12 13:31] cdokolas opened #6967 "Desktop UI (Windows) contrast problems"
Please improve contrast, especially of text.

Resources:
* [W3](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html)
* [Material UI](https://material.io/guidelines/usability/accessibility.html#accessibility-color-contrast)
* "[Low-Contrast Text Is Not the Answer](https://www.nngroup.com/articles/low-contrast/)"
* [Apple](https://developer.apple.com/ios/human-interface-gu

[2017-05-12 13:34] cdokolas commented on #6719
@maxtaco I installed it this morning following the HackerNews headline: 1.0.22-20170510190320+2a0be5e72

[2017-05-12 13:37] Heliosmaster commented on #6965
@maxtaco done. my log id: de024fbc739bb8a6eff3fb1c

[2017-05-12 13:41] fbaube commented on #6963
I have no idea whether my account is reset or not.
-Logging into Keybase.app (macos) tells me "has been revoked, please log in again".
-Trying to log in to Keybase on iPhone 4s, the Login button is obscured (screen layout on 4s is bad), so I press Enter and it returns to the create-or-login screen and says "Your device has been revoked".
-At macos CLI, "keybase login" works but then "keybase devic

[2017-05-12 13:41] maxtaco commented on #6965
Cc: @gabriel any thoughts on why the keybase socket would disappear?

[2017-05-12 13:42] maxtaco commented on #6963
Let me reset your account, is that OK?  haven't done so yet, been busy this morning

[2017-05-12 13:43] fbaube commented on #6963
BTW I did try earlier today to use macos to provision the phone (or was it the other way around) ?
macos CLI keybase produced a cool QR code but when i ointed the phone's Keybase at it, it crashed :-(

[2017-05-12 13:43] fbaube commented on #6963
Sure thing. Reset away !

[2017-05-12 13:43] fbaube commented on #6963
iPhone 4s app layout does need work. Cheers!

[2017-05-12 13:45] fbaube commented on #6963
OK, assuming it is reset, here's a stupid question:
Should I start from macos CLI, macos app, or iPhone ?

[2017-05-12 13:48] maxtaco commented on #6963
We intend any path to work, but it might be smoother to start with the better tested desktop app. UI or CLI doesn't matter...

[2017-05-12 14:06] maxtaco commented on #6946
Cc: @mmaxim

[2017-05-12 14:11] fbaube commented on #6963
Keybase.app got me back in OK.
Then tried to add the iPhone 4s.
Scanning QR code displayed on mac did not work - phone app showed the QR code in the camera "viewfinder" but it would not focus on the code.
Tried the text code instead - it seemed to accept the code, but then nothing happened.
Then trying to log in to the phone, but again, the Login button does not fit on an iPhone 4, and it will not

[2017-05-12 14:11] maxtaco commented on #6946
@chrisnojima i think we should make this error more descriptive so we known which RPC is causing the problem, since I think we're catching a number of different bugs under this same issue.

[2017-05-12 14:13] vb4life commented on #6959
I also have this issue. log ID: 93f5a61e3bb63eff4a6a1f1c

Also, these errors appeared when submitting the logs:
- INFO ignoring error getting keybase status: Timed out waiting for pipe '\\.\pipe\kbservice\Users\magan\AppData\Local\Keybase\keybased.sock' to come available
- INFO ignoring UI logs: Timed out waiting for pipe '\\.\pipe\kbservice\Users\magan\AppData\Local\Keybase\keybased.sock' to come

[2017-05-12 14:21] anderm3 commented on #6403
I pushed log ID c569f8c09313cddc4164431c that generated this on the console;
[code]
I verified that the directory did exist but it did in fact not contain the socket.

[2017-05-12 14:41] tkdberger commented on #5339
No, sadly. I logged in from the shell and everything was good, then I cut out Windows for a while.

[2017-05-12 14:41] #5339 closed

[2017-05-12 14:42] zanderz commented on #6686
Looking into your log, @zevisert, I have a hunch you have a registry entry at `HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x86` we neglected to add to the ones we check to cover this case.  We'll add it and post a test build shortly.

[2017-05-12 14:59] zanderz commented on #5399
@sucrose can you tell whether:
- any instances of `keybase.exe` (lower case) are running, using Task Manager?
- you have a shortcut called KeybaseStartup located at `%APPDATA%\Microsoft\Windows\Start Menu\Programs`?
- If so, does the UI come back if you invoke that shortcut?
We are seeing a few reports where the services don't start at reboot for some reason, and your symptoms match.

[2017-05-12 15:04] quonic commented on #6959
@maxtaco
That folder is set for full control for my user account that this is running under.

I've tried uninstalling, removing the Keybase folders, and reinstalling, but that hasn't change anything.

From what Procmon is saying is that ReplaceIfExists call get's the Access Denied.

[code]

[2017-05-12 15:05] maxtaco commented on #6959
cc: @zanderz for the follow up.  Might be an issue of virus protection

[2017-05-12 15:21] zanderz commented on #6959
@quonic We've seen this kind of thing when an AV is monitoring file access, though I'd have expected it would show up in ProcMon. Do you have one?

[2017-05-12 15:28] zanderz commented on #6686
@zevisert Can you try installing [this one](https://s3.amazonaws.com/prerelease.keybase.io/windows/Keybase_1.0.22-20170512075452%2B89da969.386.exe)? Thanks.

[2017-05-12 16:13] voidzero commented on #6859
Would love to see this.

[2017-05-12 16:15] quonic commented on #6959
@zanderz MalwareBytes doesn't appear do be doing anything other than opening the Keybase folder and closing it, but doesn't seem to touch the files. I've also excluded the Keybase folders in MB and that hasn't changed anything.

[2017-05-12 16:25] jsejcksn opened #6970 "iOS: Device name has already been used by this user"
I downloaded the iOS app to give it a try, and followed these steps:

1. Selected login
2. Input username
3. Chose to authenticate via password
4. Added new device name
5. Realized that by accepting my keyboard's autocorrect, the capitalization just entered was not consistent with my other device names
6. Viewed list of devices and deleted the device I just added (for my iPhone)
7. Was logged out

[2017-05-12 16:25] voidzero opened #6971 "Twitter: allow deletion of public message"
I delete my Tweets after they get more than 45 days old. Yet I was told to not delete the authentication tweet. I can write a workaround for this into my tweet deleter, but ideally it would be OK to be allowed to delete my tweet after it's been validated.

[2017-05-12 16:32] zanderz commented on #6959
@kienankb Your logs show that everything installed, but for some reason the services are not running. Can you check that:
- `%APPDATA%\Microsoft\Windows\Start Menu\Programs\Startup` contains a link called `KeybaseStartup`?
- If so, does invoking that link work?

[2017-05-12 16:33] zanderz commented on #6959
@quonic An AV could, in theory, still cause a delay during file access while it checks its whitelist. Is it possible to disable it completely for a brief test?

[2017-05-12 16:43] voidzero opened #6973 "Hide unused/unwanted services"
I don't use Facebook, Reddit and so on. So I'd like to hide their verification possibilities ("prove your Facebook identity") from the website.

[2017-05-12 16:44] chrisnojima commented on #6946
investigating, tnx

[2017-05-12 16:52] voidzero commented on #6971
Never mind. From one of my emails:

*It's very important you leave your proof public, so others can scrape and verify it. A premise of Keybase is that the Keybase server does not need to be trusted.  For example, our reference command line app verifies all server replies and proofs with healthy skepticism.*

Fair point. So I'll have to build this into my tweet deleter. No problem.

[2017-05-12 16:52] #6971 closed

[2017-05-12 16:55] chrisnojima commented on #6687
@CameronBanga you could hook up your phone to your computer and look at the android logs possibly (if you can't get to the log send page). Like download android studio (https://developer.android.com/studio/index.html) and look at the Android Monitor/logcat to see the logs

[2017-05-12 16:57] echosa opened #6974 "Two individual chats with the same person"
So, a few months ago I tried to get a friend using Keybase. I sent him a chat message through Keybase using his Twitter handle. He never got around to signing up for an account, so that chat has remained in my chat list with only my one sent message.

Recently, he did sign up for Keybase. He sent me a chat request somehow, and we've been chatting every since. However, this chat is separate from th

[2017-05-12 17:02] quonic commented on #6959
@zanderz I've turned off MB's protections, but that didn't change anything that I can tell. Excluding the keybase folder from MB, Procmon doesn't show MB doing anything with Keybase.

[2017-05-12 17:05] kienankb commented on #6959
I did mess around with the startup settings a bit and Keybase started on boot and seems to be working!  Thanks so much for the help.

[2017-05-12 17:31] zanderz commented on #6959
Good news, @kienankb , thanks. Are there particular settings that helped? Maybe they could help someone else.

[2017-05-12 17:39] 0xE92 opened #6975 "iOS: Cannot login, bug"
I try to sign in and get an error saying gpg does not exist on the device. It is not jailbroken (maybe this is a requirement, seeing as this is the only way to have gpg on iOS afaik.)

I want to verify that this is not a bug, as I haven't read anywhere that the app requires gpg to be present.

Or maybe it is necessary that I host my secret key with Keybase to use the app?

[2017-05-12 17:49] voidzero commented on #6964
Same on Android.

[2017-05-12 17:54] gabriel commented on #6965
The service and kbfs log stop on 05/02 (the GUI log goes for 05/12)... This is pretty weird, I wonder if this is the go clock sleep issue (causing services to hang in time.Sleep). This might also explain the KBFS beach ball. This is fixed in go 1.9 but we're waiting for that to come out.

@Heliosmaster are there any messages about clock skew in your /var/log/system.log?

[2017-05-12 17:55] gabriel commented on #6965
You can also try to restart the services:

[code]

[2017-05-12 18:34] patrickxb commented on #6946
@robsmallridge the problem is that you have a GPG key associated with your account, but it is not on the device that you are provisioning:

    460 2017-05-11T15:10:49.253762+01:00 - [DEBU keybase engine.go:67] 1cc - RunEngine(loginProvision) -> ERROR: No private GPG keys found on this device that match account PGP keys 2D57 7749 BD68 E957 5358 6F5B F01F A2B3 E609 1458

Do you still have that key?

[2017-05-12 18:36] patrickxb commented on #6946
@swalladge and @stubbetje could you do `keybase log send` so we can investigate?

As @maxtaco said, it's hard to tell from the error message what the issue is, and a log would be very helpful.

Thanks!

[2017-05-12 18:47] patrickxb commented on #6946
@chrisnojima the unknown error in @robsmallridge case is SCKeyNoMatchingGPG.  It is fully exported, including the fingerprints, so should be available to the UI without service changes.

[2017-05-12 19:18] zanderz commented on #6959
@vb4life We have renamed `runquiet.exe` to `keybaserq.exe` and have been submitting it to AV vendors as a false positive, but there is little else we can do except urge our users to do the same with their AV vendors. Hopefully you can add an exception for our utilities.

[2017-05-12 19:41] wxl opened #6978 "fail to connect via VPN"
My VPN has a variety of [ad blockers][1] in place, none of which seem to match to *.keybase.io, yet it cannot connect. A list of all the URLs required to make a connection would be helpful since it's not obvious what they are.

Android, FWIW.

[1]: https://0xacab.org/riseup-puppet-recipes/vpnred/tree/master/files/adblock

[2017-05-12 19:55] gabriel commented on #6403
Can you try to update to the latest, by running:

[code]

[2017-05-12 20:02] zapu commented on #6923
I've edited my previous comment with fixed instructions (`config set gpg.command` is most reliable way to set gpg path, and it's good to do `ctl restart` afterwards).

[2017-05-12 22:13] renaudManda commented on #6954
 @sebsauvage did find a solution about this issue ?

[2017-05-12 22:18] kienankb commented on #6959
@zanderz Turns out I'd disabled Keybase in Task Manager's startup tab.  Re-enabling both entries for Keybase fixed the issue.

[2017-05-12 23:10] zevisert commented on #6686
No luck with that build. Also no key at `...14.0\VC\Runtimes\x86`. I do have an `x64` entry there though.
I found other `VC\.+\x86` keys in, don't know if they'll help you or not, I also have `x64` siblings in all these locations.
* `HKEY_CURRENT_USER\Software\Microsoft\VisualStudio\14.0_Config\VC\Runtimes\x86`
* `HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\VisualStudio\10.0\VC\VCRedist\x86`

[2017-05-12 23:45] swalladge commented on #6946
@patrickxb unfortunately this was on an android phone, and I had cleared the app data before trying to login again... Don't know if the debug logs will have survived, but sending anyway. :\

I do have a gpg key associated with my account, but don't keep the private key saved in keybase. Perhaps it could be related to @robsmallridge's error?

[2017-05-13 03:00] online-stuff commented on #6962
Copy & Paste the words?

[2017-05-13 05:44] Zenexer opened #6985 ""user" on twitter/github failed: context canceled (code=170)"
Affects all attempts to verify Twitter/GitHub proofs.  Prior to this issue, all Twitter proofs were failing with `404 Not Found (code=240)`

OS: macOS Sierra 10.12.4 (16E195)
Keybase Client: 1.0.22-20170502110012+a3c4856
Keybase Service: 1.0.22-20170502110012+a3c4856

Command: `keybase -d id zenexer`
Relevant output:

[code]

Command: `keybase track [redacted]`
Output:

[code]

[2017-05-13 05:48] Zenexer commented on #6985
Restarting Keybase seems to fix the issue temporarily, but I've done that plenty of times before, and the issue always returns.

[2017-05-13 06:39] Heliosmaster commented on #6965
@gabriel no useful info in the `/var/log/system.log` as far as i can tell.

[code]

[2017-05-13 06:41] Zenexer commented on #6985
Here's a new one:

[code]

Proof is live: https://twitter.com/MeltedLux/status/789119540009590784

[2017-05-13 08:28] fbaube commented on #6962
Does it work ? I did not think of it at the late hour.

[2017-05-13 12:38] portante opened #6986 "Unable to use Keybase app on MacOS X Sierra 10.12.4"
I installed the new app from today, and was unable to sign in from the app.  Password works on the web site.  The error shown is "`Unknown RPC Error`".

my log id: 206e71c1b929e598be63811c

[2017-05-13 13:14] maxtaco commented on #6986
@chrisnojima  / @patrickxb , seems like an issue we saw yesterday, with the root cause being:

[code]
Which isn't propagated to the UI, and the unknown RPC error having to do with `FSSyncStatus`

[2017-05-13 13:15] maxtaco commented on #6986
@portante do you have GPG access to the secret key for `E76C 2560 32D5 311D 5E68 BCD4 213D 5E2F BA81 C413`?  It's needed to provision.

[2017-05-13 13:45] patrickxb commented on #6986
@portante you can try `keybase login` on the command line, but I believe it will tell you the same thing that @maxtaco said:  that it needs that key to provision.

[2017-05-13 14:07] cesarandreu commented on #6898
This also happens with Spanish.

For example, https://www.yelp.com/biz/el-fogón-de-geña-austin-2 gets cut off at the `ó` and it becomes https://www.yelp.com/biz/el-fog.

[2017-05-13 14:21] sebsauvage commented on #6954
In order to try the app, I downloaded it from a third party website. :-(

[2017-05-13 14:35] vb4life commented on #6959
@zanderz it works if i `keybase ctl watchdog` or `keybase ctl watchdog2` from the Keybase Shell, so I'll manage for now. It works from my home computer, since I don't use BitDefender there.

[2017-05-13 14:51] Thewest123 commented on #6687
@zanderz Thank you, sir! Everything now works fine. :)

[2017-05-13 16:06] eascott opened #6987 "Installing keybase blocks Android tablet's Internet access"
At least that is what it looks like. I have three Android tablets that I use mostly for development purposes: two Kindle Fires and a low-end Lenovo. I installed keybase on the Lenovo and one of the Fires. Things did not go well on either of the installs although at this moment I cannot recall the details because, silly me, I wasn't expecting trouble and didn't take notes. In any case, I decided to

[2017-05-13 16:22] portante commented on #6986
Thanks folks, I ended up finding my pgp key on another computer, so I was able to complete this.

However, using the UI, I now see, "Unhandled incoming RPC 138 keybase.1.provisionUi.switchToGPGSignOk" asking me for a passphrase.  I enter my valid passphrase and nothing else happens in the UI.

[2017-05-13 16:24] portante commented on #6986
I restarted the app, and now I see a similar message, but it says "RPC 135"...

[2017-05-13 16:27] maxtaco commented on #6986
Wow this path through the electron UI sounds really broken.  I would stick
to the CLI until we fix it.

On Sat, May 13, 2017 at 12:24 PM Peter Portante <notifications@github.com>
wrote:

[2017-05-13 16:29] portante commented on #6986
Okay, I'll try that then.

[2017-05-13 16:32] portante commented on #6986
Well, not much better, @maxtaco :
[code]

Thanks for the help, though.

[2017-05-13 16:35] maxtaco commented on #6986
Can you do `keybase log send`? There is likely a misconfiguration with your
gpg, something like a permission problem. Sadly it happens all the time

On Sat, May 13, 2017 at 12:32 PM Peter Portante <notifications@github.com>
wrote:

[2017-05-13 16:51] portante commented on #6986
sure

[2017-05-13 16:57] portante opened #6988 "Unable to prove facebook"
Posting the link provided by command line, "`keybase prove facebook portante`", gives me simple page with, "`Error 403. Bad input.`".

[2017-05-13 17:04] maxtaco commented on #6986
Ok, looks like it works. Your version of GPG (2.1.x) is hostile to exporting secret keys, so that's why tactic #2 failed.  But it fell back to tactic #1 which worked.

[2017-05-13 17:19] portante commented on #6986
So the fall-back was my choosing #1, but it would be nice to give more helpful error messages.

[2017-05-13 17:20] maxtaco commented on #6986
Cool, agreed, thanks for your help

[2017-05-13 17:57] portante commented on #6988
I have not been able to prove my facebook account as a result.

[2017-05-13 18:09] sawall opened #6989 "weird floating message in chat"
Keybase GUI Version: 1.0.22-20170502110012+a3c4856

I typed a message in chat. It didn't go through immediately and remained greyed out. After a while it did go through, but the grey version of the message persisted in my chat, separate from the black version. If I try to delete the grey message I get the error "Tried to delete a non-failed message." After a quit and restart the grey message came

[2017-05-13 18:17] maxtaco commented on #6988
cc: @oconnor663

[2017-05-13 18:25] zanderz commented on #6687
@Thewest123 Did something specific help, or did it just start working spontaneously? It may help a few users who are stuck still.

[2017-05-13 19:20] lepinkainen commented on #6988
I'm having the exact same issue.

[2017-05-13 20:03] CyllosBE opened #6990 "KBFS requesting to rekey"
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

I have a issue using the KBFS: it keeps asking me to "turn on" my paper key to rekey my private folders
I also have the option to enter my paper key, and when I enter it (the [original marriage](https://keybase.io/cyllos/sigchain#c37b9262909ea771ce93b5d22d8feaf869e1d8be107f68d8b66b91c489b9d72b0f)) it tells me that it is rekeying and it is forever li

[2017-05-13 20:16] strib commented on #6990
Hi @CyllosBE, sorry for the confusing experience.  If you are willing to do `keybase log send` and report the ID here, I can take a look at exactly what's going wrong.  You may have revoked all the devices that had access to the previous folder before adding new ones, and so none of your devices have access.

We can reset the folder in that case, but I'd like to make sure that's the issue first.

[2017-05-13 20:18] CyllosBE commented on #6990
It is the issue I guess. I already sent a log (see post above; id 358357599b099e891c28181c)

[2017-05-13 20:21] maxtaco commented on #6990
@strib seems like two folders can't be rekeyed. Keybase chat'ed you

[2017-05-13 20:23] maxtaco commented on #6990
(Aslo seems like `original marriage` should be able to rekey them

[2017-05-13 20:23] strib commented on #6990
Oops thanks, I missed that amid the PGP stuff.  Will take a look when I get some time.

[2017-05-13 21:04] wieczorek1990 commented on #5507
I think it might conflict with Docker too.

[2017-05-13 22:36] strib commented on #6990
Looks like we're rejecting access to those folders because they were last written to by your old device `The-Arch-Project` in the exact same second that device was revoked by you.  So the client is rejecting it as an invalid update.  That check is likely too restrictive -- we should allow a little breathing room there to take slight skew between our API server and KBFS server into account.

Unfort

[2017-05-13 23:30] CyllosBE commented on #6990
I'll keep my eyes open for updates! Thank you

[2017-05-13 23:35] strib commented on #6990
By the way @CyllosBE, does it sound plausible that `The-Arch-Project` was online and accessing KBFS at the same moment you revoked it?  It's unusual for the device to still be up and running Keybase when it's revoked.  We definitely should support that, we just don't see it too often so I want to make sure nothing else weird is going on.

[2017-05-14 04:38] jparnzen commented on #6988
Happening here too. I've tried Chrome and Safari on macOS 10.12.4, both continually failed. Thought it might be a browser plugin (maybe ublock origin) but disabling that didn't help. Same error as @portante upon submitting the post to facebook. URL showing in the address bar for the error is:
https://keybase.io/_/facebook_callback?sig_id_med=WO3NzV0vgmadcnzpWBzHf5oOkkvmnfA8twLqQM21FoI&token=lgHZID

[2017-05-14 08:07] stubbetje commented on #6946
@patrickxb I have executed the `keybase log send` command as requested.
My log id: `994162204e240fa782ff731c` and `6b1043522de077b6a534861c`

(first log is without keybase application running, second log is with keybase application running)

[2017-05-14 09:38] CyllosBE commented on #6990
@strib This could be possilbe, I was clearing this machine to reset it (it's the same hardware as `Charlotte`) but I don't know wether I revoked it while using it or revoked it later on.

[2017-05-14 13:12] thunderrabbit opened #6991 "OS X GUI cannot 'Export your secret key from GPG' (with long passphrase?)"
I tried to log in to OS X Keybase client (Version 1.0.22-20170502110012+a3c4856).

I got logged in with username and copy-pasted passphrase

When I try to copy-paste the same passphrase to 'Export your secret key from GPG,' it fails.

Note: my passphrase is 300+ characters long, so maybe that's the problem.

my log id: 66b6522d6df9ce70cac4731c

[2017-05-14 17:43] CyllosBE commented on #6990
The Arch I'm using is pretty new and really clean so I doubt it has to do with other weird things.

[2017-05-15 09:58] PointyDev commented on #6959
Keybase is enabled in Task Manager, both files are present in Startup folder, `%localappdata%\Keybase` is whitelisted in MBAM, `keybase ctl watchdog(2)` both fail, clean reinstall still didn't help. Help anyone? @zanderz

Log ID: 010c9e5056e5cb8881676a1c

[2017-05-15 10:03] ricklupton opened #6993 "Android app crashes after naming device"
Android version 4.2.2
Keybase version 1.0.0-alpha-2

I signed into my Keybase account using my username and my desktop device. Adding the code worked ok. I named the device and clicked continue, then the app crashes.

If I reopen it, I can see that the "Phone" device has been created (it's in the list of devices to use for signing in, along with the desktop and the paper key) but it doesn't seem t

[2017-05-15 14:29] cnf commented on #6719
I can not figure out how to do this with the CLI client.

[2017-05-15 15:46] patrickxb commented on #6946
@swalladge yes, you are probably in the same boat as @robsmallridge then.  Sorry for the issue, we are working on handling that error better, but what you will then see is that you need to provision a desktop device with that GPG key before you will be able to provision your android phone.

[2017-05-15 15:49] patrickxb commented on #6946
@stubbetje do you have access to PGP key 1D400EBE161BA202?  If so, if you can get it onto that desktop device, you will be able to provision with it.

[2017-05-15 16:43] valtron commented on #6761
And right-clicking the context menu icon should open a normal menu (with "Quit" at the bottom) rather than this:

![keybase](https://cloud.githubusercontent.com/assets/123696/26068604/3f67bba2-395b-11e7-91fd-ac9107b79270.png)

[2017-05-15 17:04] strib commented on #6990
@CyllosBE: today's Linux builds (1.0.22-20170515141805+b608f0e or higher) have the fix to relax the timestamps checks a little bit.  Please update and let me know if those folders are accessible now.

[2017-05-15 17:33] Hilbert42 opened #6995 "Keybase client will not load if startup is set to manual (Windows 7)"
Keybase client will not load if start-up is set to manual (Windows 7).

In Windows 7, if automatic start-up is disabled (i.e. the start-up parameters it installs WITHOUT asking the user for permission), the program sticks with a permanent 'loading' message and never finishes.

BTW, it is unacceptable to just automatically start a program at the O/S start-up without giving the user the option wheth

[2017-05-15 18:15] dddw commented on #6988
same here... indeed on mac sierra... can try to replicate it on debian.

[2017-05-15 18:41] diego898 opened #6996 "Invalid Character in Armor Error"
A friend sent me an encrypted message he generated through the website. I copied/pasted it from the GUI into the web client, and tried to decrypt it but I get an `invalid character in armor` error. I had to delete the

[code]

lines in order for it to work.

Keybase GUI Version: 1.0.22-20170502110012+a3c4856

[2017-05-15 18:47] cjb commented on #6996
Thanks for the report, CC @oconnor663

[2017-05-15 18:48] diego898 commented on #6996
@cjb I think that was meant for another issue!

[2017-05-15 18:49] cjb commented on #6996
ah no, asking @oconnor663 to take a look :)

[2017-05-15 18:59] diego898 commented on #6996
Updated Test:

- My friend generated an encrypted message on the website
- He then copied/pasted it **back in** to encrypt it again.
- He sent me that over the GUI.
- I copied/pasted that back into the website and had to delete those two lines for it work.
- I then copied/pasted the result, **back in** to decrypt again and it worked **without** deleting those two lines

I am using chrome 58.0 on M

[2017-05-15 19:01] oconnor663 commented on #6996
I wonder if the "sent me that over the GUI" step is deleting some important newlines. If that's what's happening, it might be expected. PGP doesn't generally survive a trip through a chat client that modifies whitespace.

Out of curiosity, if you use triple ticks (\`\`\`) to send the message in step 3, does it fix the problem in step 4?

[2017-05-15 19:03] oconnor663 commented on #6988
Working on a fix. You can follow along in https://github.com/keybase/keybase-issues/issues/2974.

[2017-05-15 20:43] diego898 commented on #6996
@oconnor663

On GUI, I was able to copy/paste what you posted and decrypt it. When my friend pasted the text using the triple ticks ``` I was also to copy/paste and decrypt it.

On mobile however, when I press-hold the message my friend sent to me and select "copy", it copies with the triple ticks on top and bottom which I had to manually delete to decrypt on mobile. Not sure if this is intended b

[2017-05-15 21:14] qgustavor commented on #6851
Same problem happened here a few minutes ago:

[code]

Logged at 15/05/17 18:00:32 (GMT-3). `keybase log send` is failing with `Client.Timeout exceeded while awaiting headers`. Version is 1.0.22-20170515071844+b608f0e.

[2017-05-16 00:06] swalladge commented on #6946
@patrickxb what if I don't want to store my private gpg keys in keybase? Currently (i think) I just have my public key stored in keybase, and I manage private keys myself. I'm not sure what you mean by provisioning a desktop device with the gpg key?

[2017-05-16 01:21] JR1994 opened #7004 "permission issue with linux/build_binaries.sh"
When build keybase I get the following error. I am currently running Antergos Linux

[code]

[2017-05-16 03:19] jesusOmar commented on #6990
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

I'm having the same error messages on a Mac, tho in my case its probably due to a system wipe and reinstall I did with a new device name. I submitted a log with id aa2312a3920d5085aaaf6a1c just in case. I don't have anything in my private folders so it's ok for me to force a rekey if needed is there anything I can do to fix it?

Jesusomar
-----BEGIN

[2017-05-16 05:41] oconnor663 commented on #7004
`/usr/bin/yarn: Permission denied` is suspicious. What happens if you just run `yarn --help` in your terminal? It seems like something weird has happened to that file.

[2017-05-16 08:52] CyllosBE commented on #6990
@strib , I updated through the Arch AUR with succes. I can use my private folder now and the rekeying worked 👍 Only thing my own private folder is "ignored" right now, any idea how to "unignore" it?

[2017-05-16 12:41] maddo commented on #6960
Similarly, I accidentally opened up a second chat with someone, and can't find a way to delete it. Seems that I can choose to "block" the chat, but it looks like that may block _all_ chats with that person? I'm not sure, but +1 to the ability to delete a chat that isn't useful anymore!

[2017-05-16 12:48] OiYouYeahYou opened #7005 "Windows GUI opens itself for no apparent reason"
I keep finding that the GUI keeps opening itself at a frequency of more than every 3 days.

I'm using Windows 10 and I can't find a version number in the GUI

[2017-05-16 13:00] shoxxdj commented on #6954
As our administration is not the faster on this planet, and download from a third party website is not in my religion, can you provide a apk here ? :D
Thanks for French people !

[2017-05-16 13:09] renaudManda commented on #6954
@sebsauvage I did it too. @cjb I don't think that publishing an hash will be outlaw :)

[2017-05-16 13:17] sebsauvage commented on #6954
Indeed !

[2017-05-16 13:32] QuibblingAsh42 commented on #6962
You can't, had the same issue last night when I tried it.  Copy/paste and taking screenshots is prohibited by the app.  Good precautions to have, but a warning in advance would be helpful.

[2017-05-16 13:54] QuibblingAsh42 commented on #6959
Seems to be working for me now, but can't tell you why.  Had the stuck on loading screen issue after first install.  Rebooted, still no love, so I reinstalled.  I checked Task Manager and didn't see it in the Startup tab, so I checked %APPDATA%\Microsoft\Windows\Start Menu\Programs\Startup and there were two lnks: GUISTartup and KeybaseStartup.  I double-clicked the GUIStartup option and the app p

[2017-05-16 15:00] zanderz commented on #6995
The `KeybaseStartup` shortcut starts the background processes that actually do stuff. Without them, the GUI is hobbled.

[2017-05-16 15:22] strib commented on #6990
Great, I'm glad that worked.

Hmm, we shouldn't be letting you ignore your private folder, but there might be a bug there.

@oconnor663, can you please @CyllosBE's favorite list directly in the DB?

[2017-05-16 15:48] diego898 commented on #6960
After a few days, restarts, and one update, that "empty chat" now disappeared for me.

[2017-05-16 17:18] strib commented on #6990
@jesusOmar: Your case was slightly different -- it seems like your private folder had issues stemming back from an account reset you did back in June, before we had an automated way of dealing with account resets.  I reset your folder, please check that things work now.

[2017-05-16 18:09] Albirew commented on #6899
I agree with F-Droid release.
This would also make it available to countries with special rules or whatever excuse making it unavailable through Google Play (like France)

[2017-05-16 18:17] maddo commented on #6960
@diego898 I found that my empty chat also disappeared after a restart of the app.

Perhaps what's missing is the ability to delete a chat that isn't empty?

[2017-05-16 18:27] cjb commented on #7005
Thanks for the report.  I think it's probably when you receive an autoupdate to a new version.  We've got a bug open for remembering whether Keybase was open or closed across updates.

[2017-05-16 18:47] juanminm commented on #6959
@QuibblingAsh42 On my end they are called "Keybase quiet start utility" on the Start Up tab. Moving the GUIStartup and KeybaseStarup links outside then inside the folder makes them disappear and reappear after a few secs.

[2017-05-16 18:59] CiraciNicolo commented on #6945
No problem! It'll be great to recover my files, can you assist me? Or can I get a list of my files so I can check if I've made a backup of those files?

[2017-05-16 19:12] diego898 opened #7011 "Website: Non-direct path to sigchain and graph?"
From my main site:

https://keybase.io/diego/

it seems the only way to get to my graph and sigchain, is to click on devices to get to:

https://keybase.io/diego/devices

From there, I can now click on the tabs to get to:

https://keybase.io/diego/graph

and

https://keybase.io/diego/sigchain

Is this desired?

Note: I'm not sure if this is the best repo for this

[2017-05-16 19:15] diego898 opened #7012 "How to handle new keys for users already following"
I am following the user `grabe`. In just trying out the command line version today I did:

[code]

But when I try to pull those new keys, I get:

[code]

Am I missing something about how "following" works? How should I handle this?

[2017-05-16 19:19] cjb commented on #7011
Yes, that's desired.

[2017-05-16 19:38] diego898 commented on #7011
Hm. that seems a bit strange to me but ok

[2017-05-16 19:38] #7011 closed

[2017-05-16 19:46] JeroenDeDauw opened #7015 "Application not starting fully"
![hangs](https://cloud.githubusercontent.com/assets/146040/26124779/f7d120c8-3a7f-11e7-8efc-5ab1f3e052eb.png)

I get this on my desktop machine. Working fine on my laptop. Both running Kubuntu. No idea what's going wrong or how to debug.

Followed the instructions at https://keybase.io/docs/the_app/install_linux for x64 Ubuntu. Removed and reinstalled, same issue.

When executing `run_keybase` I g

[2017-05-16 20:09] dhalden opened #7016 "Newly added key on Linux Mint 18.1 Serena is unverified. Unable to Login"
When I try to login from the command line, I get the following error:

`▶ ERROR Sorry, your account is already established with a PGP public key, but this
utility cannot find the corresponding private key on this machine.
This is the fingerprint of the PGP key in your account:

   F50F 4770 8FE0 DFE9 8F32 CE2F D968 92C4 2EDA 2C72

You need to prove you're you. We suggest one of the following:

[2017-05-16 20:34] cjb commented on #7015
It sounds like you might have a super old version of `keybase` on your $PATH, since it doesn't seem to support `keybase log send`.  Try moving it out of the way?  `which keybase` to see where it is.

[2017-05-16 20:53] JeroenDeDauw commented on #7015
Indeed. I ran `sudo rm /usr/local/bin/keybase` and installed the thing again. Works now. Thanks

[2017-05-16 20:53] #7015 closed

[2017-05-16 21:23] njm2112 opened #7018 "macOS menu bar icon seems distorted"
I remember reading somewhere that you recently changed the icon but I can't remember whether it applied across the board and to all platforms. In any event, the way the icon appears in the current deployment looks like a graphics-rendering error. If it's not, then may I suggest a slight re-design so that it doesn't appear so...vector-y?

![snip20170516_8](https://cloud.githubusercontent.com/assets

[2017-05-16 21:26] kevin3-black commented on #5074
@oconnor663 I'm in the exact same situation, I revoked my only key in an attempt to rename my device and adding a new PGP key doesn't seem to work. Unless there's now another way to fix this that I'm missing, could you manually reset my account?

[keybase.io/kevin3black](http://keybase.io/kevin3black)

[2017-05-16 23:23] AllanMarcus opened #7019 "Mac chat client needs spell checking"
Spell checking is a system level function. The Keybase chat client should use the built in Mac spell checking.

[2017-05-16 23:37] joesustaric commented on #6961
I've tried reinstalling the latest version, no change.
Any help would be appreciated.
Thank you

[2017-05-16 23:57] JR1994 commented on #7004
The issues is fix when yarn was upgraded to version 0.24.5

[2017-05-17 00:06] itdaniher opened #7021 "Building on Aarch64?"
pine64@pinebook » go get github.com/keybase/client/go/keybase
    # github.com/keybase/client/go/logger
    go/src/github.com/keybase/client/go/logger/redirect_stderr_nix.go:15: undefined: syscall.Dup2

Looks related to https://github.com/hlandau/acme/issues/40 https://github.com/golang/go/issues/11981.

Cheers!

[2017-05-17 03:49] jesusOmar commented on #6990
@strib yup, 100% up and running thanks.

[2017-05-17 06:41] CyllosBE commented on #6990
@strib, no change yet, the folder is still ignored.

[2017-05-17 10:58] cdokolas commented on #6851
The auto-reboot happened again a few minutes ago as I was working on a remote virtual machine doing recovery on a database.

The new installation started without problems.

Guys, this auto-reboot thing has to be fixed!

[2017-05-17 11:14] zanderz commented on #6851
@cdokolas Can you do a Keybase log send at the Keybase she'll?

[2017-05-17 11:40] Albirew opened #7022 "Disabling KBFS drive makes client unable to login"
Following #4713 to disable KBFS, I replaced `watchdog2` by `watchdog` on KeybaseStartup link.
At  next reboot, Keybase GUI would not login at all.

Keybase GUI Version: 1.0.22-20170515072240+b608f0e
[keybase.app.log](https://pastebin.com/GiDkMCAj)
[keybase.service.log](https://pastebin.com/6V1eb4w1)

[2017-05-17 12:16] cdokolas commented on #6851
Log ID: a9300331b8f299ee4e312c1c

[2017-05-17 12:33] maxtaco commented on #7022
Please do a 'keybase log send' from your shell.

Thanks

On Wed, May 17, 2017 at 7:40 AM Albirew <notifications@github.com> wrote:

[2017-05-17 12:48] Albirew commented on #7022
Here is my log ID:

  e8fe4eebe2641237e0de601c

[2017-05-17 13:23] NiklasBr opened #7023 "Command line action 'keybase pgp export' should end with newline"
keybase version: `1.0.22-20170515141716+b608f0e`

When exporting with the terminal command `keybase pgp export ` the output looks like this (abbreviated):

[code]

A simple newline at the end of the output would be nice.

[2017-05-17 13:41] zanderz commented on #6851
@cdokolas Thanks for the log. We have made a change to prevent this, but it was not in your updater yet, but now it is:
https://github.com/keybase/go-updater/pull/133/commits/3faa5de16ed2f2815238c852787ca520c44f90ec
Please let us know if it happens again with this update, we don't like silent reboots either and would never do it on purpose.

[2017-05-17 14:08] #6851 closed

[2017-05-17 14:55] strib commented on #6990
I think @oconnor663 has been busy and hasn't gotten to it yet, sorry.

[2017-05-17 15:00] strib commented on #6990
@jesusOmar oh, just saw your edit.  What do you mean it asks to rekey?  Is is that you can read/write the folder ok, but it still says "Rekey" next to it in the folder list in the GUI?

[2017-05-17 15:11] oconnor663 commented on #6990
@strib @CyllosBE sorry for the delay, your private folder should be unignored now.

[2017-05-17 16:22] olelink commented on #5866
@taruti Yes.  Updated and tested 2 days ago

[2017-05-17 16:22] #5866 closed

[2017-05-17 18:32] jzila commented on #7022
KBFS isn't running on this user's device. Chat requires KBFS. The instructions in #4713 disable KBFS completely, where they should actually launch KBFS with `-mount-type=none`. cc @zanderz

[2017-05-17 18:42] jzila commented on #6946
@swalladge: you shouldn't need to store the keys in Keybase. It should be enough for the `gpg` application on the device you're trying to provision to have the key loaded. Keybase provisioning can then call the appropriate `gpg` commands to do the crypto it needs to provision (without loading the private key into Keybase itself).

[2017-05-17 19:10] zanderz commented on #7022
@Albirew 4713 was a long time ago, before we had Chat. Sorry for the confusion, and thanks for reading the issues first. If you really don't want the filesystem, you should uninstall Dokan and put your shortcut back to `watchdog2` and chat should work again after restart.

[2017-05-17 19:37] zanderz commented on #4713
Update: Running without a KBFS mount is not officially supported, but on Windows you can unofficially you can uninstall Dokan and change your startup shortcut back to `watchdog2`.

[2017-05-17 19:37] #4713 closed

[2017-05-17 21:29] DeepMac opened #7029 "Keybase updated on 5/15 ended ability to access secure channels"
[NOTE: Edited to change screenshot to protect others privacy]

Updated on 5/15/17. Lost connectivity to a group chat (5 people including me). Restarted PC several days later. Could access all chats except group chat. Continued to receive notices that encrypted messages were waiting but attempting to view them gives a "securing..." wait dialog.

Tried logging out, and then logging back in. After en

[2017-05-17 21:35] maxtaco commented on #7029
Cc @zanderz

On Wed, May 17, 2017 at 5:29 PM DeepMac <notifications@github.com> wrote:

[2017-05-18 04:54] jesusOmar commented on #6990
@strib so yes, my Keybase icon is still shinning! however I can seem to access the folder within my mac's finder and add files to it...

<img width="339" alt="notification" src="https://cloud.githubusercontent.com/assets/377084/26187076/52a32ee4-3b64-11e7-9f7f-15d1e9058292.png">

but as I said before, Keybase still needs my attention...

<img width="328" alt="status" src="https://cloud.githubuserc

[2017-05-18 05:39] strib commented on #6990
Ok thanks, I know what the issue is.  We can fix it on the server and make sure you don't see that notification anymore.  I'll do it tomorrow and it will be fixed next tim ewe redeploy the server.  Thanks for your patience.

[2017-05-18 06:00] boardwalk commented on #6946
I'm having a similar issue with 'Unknown RPC Error' upon trying to log in (after entering my password). I do have a PGP key and was poked on the webpage to install the client. I have gpg and the (private) key on this device. Happy to help debug this any way I can. Log id: f36828c20413d652bcec821c

[2017-05-18 10:00] ThatJames commented on #6996
@oconnor663 I think you're on the right track. I ran into this today when testing with a buddy. This is the message I get when copied out of the app. Note the unicode <200b>

[code]

[2017-05-18 10:20] sanmiguel opened #7035 "Android device name validation failure nerfs submit button"
Howdy folks,

When attempting to sign in on my phone (nexus 6p), I tried to name the device "6p" - this failed a validation check, presumably server-side. But from there it took me to the "Enter Passphrase" screen, with a red error message saying "Invalid device name". Fair enough.

Unfortunately, the button was greyed out with the spinning icon, so I couldn't proceed that way. I clicked through t

[2017-05-18 10:35] vb4life commented on #6959
@zanderz it seems that most AV vendors have whitelisted the file now.
https://www.virustotal.com/en/file/1bf95ea81e25ee011d275ec1188bb6f6af5c01bcc4dc326244fe2cd2e90333d2/analysis/1494943091/

I reinstalled, and everything is golden :)

[2017-05-18 11:04] CyllosBE commented on #6990
@strib , my folder is ok now, thank you for all the fixes! Maybe you could add a unignore button somewhere by the way?

[2017-05-18 13:03] justinkelly opened #7036 "Chromebook (Android tablet) app layout"
Thanks for the new release on Android!!! Works great on my mobile phone.

When I install Keybase (the android app) on my Chromebook (asus chromebook flip has google play apps) Keybase was in the mobile view rather than a tablet optimised version. Refer screenshot below

![screenshot 2017-05-18 at 23 01 21](https://cloud.githubusercontent.com/assets/249520/26203282/fc2f6f7c-3c1d-11e7-9a15-7bf511b4a

[2017-05-18 14:39] Albirew commented on #7022
Thanks a lot, this indeed work now.
Too bad there's not an option to choose when to mount KBFS (at boot, manually or never) but I understand there's more critical tasks to do before thinking about customization =)

[2017-05-18 14:39] #7022 closed

[2017-05-18 14:42] zapu commented on #6996
Thank you for reporting this. We have pushed some fixes to armor decoding a while ago but this still fails to decode. I will spend some more time on this issue.

[2017-05-18 15:20] BigBlueHat commented on #3843
This seems to still be an issue in `1.0.22-20170515071844+b608f0e` which I'm using on Windows 10. I added the `~/AppData/Local/Keybase` directory to my Windows PATH and all is well from the command line now.

Would be nice to have that magic already done. ✨

Thanks for building keybase!
🎩

[2017-05-18 15:41] zanderz commented on #3843
@BigBlueHat The magic is already done, you will find it in the Keybase Shell shortcut.

[2017-05-18 16:47] mazieres commented on #3471
Same in French app Store

[2017-05-18 17:22] jzila commented on #7029
@DeepMac: Thanks for the report! I have a fix in the works that should address this scenario. In the meantime, I'd appreciate some help debugging:

Please give me the output of the following commands:
[code]

To workaround this issue, you can do the following:
WARNING: DELETING MULTIPLE FILES
[code]

[2017-05-18 19:46] dethmourne opened #7042 "Request: Altcoin address support"
I would like to be able to put altcoin addresses into my keybase profile (e.g. Litecoin, Etherium, Dogecoin).

Obviously not a priority issue.

[2017-05-18 19:53] zero4byss commented on #6796
I am having this same issue, it worked before, but when I reinstalled, it wouldn't connect to chat.
here is the code it gives me:
`Error: connection auth error: msg: failed to check logged in status shouldRetry: false at t (file:///opt/keybase/resources/app/desktop/dist/index.bundle.js:20:12982) at new t (file:///opt/keybase/resources/app/desktop/dist/index.bundle.js:20:13802) at s (file:///opt/ke

[2017-05-18 19:57] oconnor663 commented on #6988
Ok, the fix is live. Please try it out and let me know if you run into problems.

Note that you'll need the very latest version of the client, or you'll see an `Unexpected path` error.

[2017-05-18 20:38] DeepMac commented on #7029
For dir %USERPROFILE%\AppData\Local\Keybase\kbfs_block_cache

[code]
However for type %USERPROFILE%\AppData\Local\Keybase\kbfs_block_cache\version I get nothing.  The file contains just a single byte with a value of zero.

As for rd /S /Q %USERPROFILE%\AppData\Local\Keybase\kbfs_block_cache
well that just made it worse, ultimately. Now I can't see *any* of the historical chat data. >_<

Feel free

[2017-05-18 20:50] jzila commented on #7029
@DeepMac thanks! Could you submit another `keybase log send` please?

[2017-05-18 20:52] jzila commented on #7029
Next, from the "Keybase Shell" (same place you type `keybase log send`), try the following:
[code]

[2017-05-18 20:52] jzila commented on #7029
If after ~30 seconds that still doesn't work, please submit another log send.

[2017-05-18 21:11] simonforget opened #7044 "Keybase error log after unsuccessful opening."
Error message appeared in Notification Center (macOS Sierra). Failed to start Keybase after graceful stop. Not sure if the following file contains the same log information as the one that just been automatically uploaded. Keybase user: sforget.

[201705181359_KeybaseErrorLog.txt](https://github.com/keybase/client/files/1012434/201705181359_KeybaseErrorLog.txt)

![2017-05-18_16-53-45](https://cloud

[2017-05-18 21:14] strib commented on #7044
Hi @simonforget, looks like you can't connect to our servers:

[code]

Maybe you're behind a firewall that needs to whitelist our servers??

[2017-05-18 21:16] CyllosBE commented on #7042
I'm interested in gridcoins too :) would be nice

[2017-05-18 21:28] simonforget commented on #7044
Hi Jeremy,

It’s the very first time this happens since I use Keybase. Firewall configuration is fine on my end. I’m using TunnelBear to anonymize all my public IP traffic from this workstation.

Here is the current route table of my workstation.

Destination        Gateway            Flags        Refs      Use   Netif Expire
0/1                172.18.10.117      UGSc           18        0   utun2

[2017-05-18 21:31] strib commented on #7044
Ok, thanks for the info.  I have no idea why you can't connect.  Specifically, the error message above seems related to DNS, so you might want to try something like `ping bserver.kbfs.keybase.io` to see if you can even resolve the name.

(By the way, there are no logs ever automatically uploaded, you always need to run `keybase log send` explicitly.)

[2017-05-18 21:42] simonforget commented on #7044
The only reason that I can think of to explain this problem is a short DNS downtime at TunnelBear.

I am able to ping the Keybase server.

[code]
These aren't the greatest latency I've seen but way better than other online services.

Thanks for the precision about the logs.

[2017-05-18 22:34] DeepMac commented on #7029
I sent the first keybase log as you requested and attempted to run keybase ctl stop --kill-kbfs but it threw an error about not being able to connect to the pipe. I ended up rebooting entirely and now it seems to be fully functional again!
I'll report if I see anything untoward related to the issue here. If you still want me to run the keybase ctl commands let me know.

[2017-05-18 22:34] portante commented on #6988
Fixed, thanks!

[2017-05-18 22:34] #6988 closed

[2017-05-18 22:35] jzila commented on #7029
Glad to hear it @DeepMac. Sorry about these issues; FWIW you've helped narrow down many of the failure modes in the initialization of the disk cache so I can make it much more robust :)

[2017-05-18 22:37] jzila commented on #7029
I'm closing the ticket for now since it seems that you're unblocked. Please reopen if it happens again.

[2017-05-18 22:37] #7029 closed

[2017-05-18 23:27] diego898 opened #7048 "Cant use command line without app?"
After a restart, I tried to id myself and I get:

[code]

I now have to have the app running to use the command line?

[2017-05-18 23:28] diego898 commented on #7012
update: I just re-followed him and it asked me if I'd like to accept his new proofs.

[2017-05-19 00:03] maxtaco commented on #7048
Sure your options are to run the service by hand:

[code]

Or to run the CLI in standalone mode:

[code]

[2017-05-19 00:35] tml opened #7049 "Keybase App shows only blank panes"
It's me again - the guy from #4472. Same problem - white panes in the app, rebooting and reloading the launchctl process don't restore it. Currently trying a complete reinstall of keybase. The app was working about a week ago, but it appears there was a brew update on 2017-05-15 which appears to have broken it for me.

my log id: f6c23ce3e165de7710bc151c

[2017-05-19 00:40] maxtaco commented on #7049
Looks like your keybase service isn't running...

[2017-05-19 00:41] tml commented on #7049
`keybase status` says:

[code]

[2017-05-19 00:47] tml commented on #7049
I have also just confirmed that I am able to have chats with people using the "keybase chat" tool.

[2017-05-19 00:48] maxtaco commented on #7049
Hmm, then weirdly the electron UI is having issues connecting.  It is a
permissions thing, did you run some install components as root?

Cc: @gabriel

On Thu, May 18, 2017 at 8:47 PM, Joey Smith <notifications@github.com>
wrote:

[2017-05-19 00:52] tml commented on #7049
Not that I am aware of. However, a complete uninstall and reinstall of the app seems to have cleared the issue up, so feel free from my end to mark this as closed - mostly, I just wanted to make sure you guys got the logs in case it's a deeper issue.

If there's any commands I can run or info I can provide that might help you uncover the root cause, let me know.

[2017-05-19 01:01] tml opened #7050 "Font issue on Android"
Device is an LG X Tab 8.0 from AT&T; I have not  customized any settings yet. The nameplates under people's gravatars are cut roughly in the middle.
![20170518_185358-2](https://cloud.githubusercontent.com/assets/35148/26229108/60a02aea-3bfc-11e7-8252-57d46f521ddb.jpg)

Screenshot attached.

[2017-05-19 01:03] tml commented on #7050
Android version 7.0, build number NRD90U, Android security patch level December 1, 2016.

[2017-05-19 08:04] FeliceMente opened #7053 "Empty status icon in Gnome 3"
Keybase GUI Version: 1.0.23-20170517160116+aa0e681

The status icon on Gnome 3 (Debian 8) is almost always empty.
![status_icon_gnome3_deb8](https://cloud.githubusercontent.com/assets/1440872/26238695/7b6c2d1e-3c7a-11e7-87f1-0909513f2e5d.png)

[2017-05-19 09:19] crunchie84 commented on #6403
I'm facing the same issue as @anderm3

I previously had keybase installed using brew, removed it and the GUI from my applications folder before downloading the newest version from keybase.io and droppign it in the root of my Application folder.

Current version of keybase installed is `Client:  1.0.22-20170515141716+b608f0e`
Invoking `/Applications/Keybase.app/Contents/SharedSupport/bin/updater ch

[2017-05-19 15:15] simonforget opened #7055 "Cannot delete duplicate message in chat."
I'm running into an issue with a duplicate message.

![2017-05-19_10-57-21](https://cloud.githubusercontent.com/assets/7363305/26254017/2dc510c2-3c83-11e7-8ba1-0816489d1531.jpg)

The first message that is listed got duplicated later on the message thread. When I tried to delete the second one, it gave me this message: Tried to delete a non-failed message.

![2017-05-19_10-58-27](https://cloud.gith

[2017-05-19 15:16] oconnor663 commented on #5074
@kevin3-black done, apologies for the wait.

[2017-05-19 16:04] diego898 commented on #7048
I mean this wasnt working like this for me just two days ago. Sometimes I exit the gui, and the taskbar app quits as well, sometimes it doesnt. I dont understand the use model between the gui, the task bar app, and the CLI that now has to depend on the GUI unless I run a service myself or pass standalone

[2017-05-19 17:48] gabriel commented on #6403
You have to run the UI app in order for the command line to work, since we need to show identify warnings if tracker statements have changed.

It's currently an all of Keybase or nothing approach. We want to have a standalone command line version in the future, but now you need to have the Keybase.app running.

[2017-05-19 18:40] Codelica commented on #5212
I'm seeing this also.  Web checks out OK, desktop app stuck with UNREACHABLE despite telling it "I fixed it - recheck"

Keybase GUI Version: 1.0.22-20170515141716+b608f0e

[2017-05-19 18:52] crunchie84 commented on #6403
@gabriel maybe it was a bit unclear from my comment. Invoking the UI using `open /Applications/Keybase.app` shows the Keybase logo in the menu bar and the main window opens. But the main window does not load; it's contents stays empty (white). Clicking on the Keybase icon in the menu bar does not open the drop down menu (showing your folders, chats etc).

[2017-05-19 20:08] gabriel commented on #6403
@crunchie84 Oops, misunderstood... Can you try doing...

[code]

If still messed up, can you do another log send?

Thanks!

[2017-05-19 21:20] diego898 commented on #7048
For example, right now the taskbar app is running without the gui, and I can use the CLI without the gui running

[2017-05-19 22:33] jzila commented on #6946
cc @patrickxb: any ideas re boardwalk's issue?

[2017-05-19 22:34] jzila commented on #6945
@strib: it looks like local data in the journal is the _only_ data for that TLF, given that it hasn't even been initialized.

[2017-05-19 23:30] Stadlen opened #7068 "Loading"
keybase app does not allow  login, cannot connect to service

[2017-05-19 23:44] strib commented on #6945
@jzila: yep thanks (see #6339, cited above).

Sorry @CiraciNicolo, I missed that you replied here.  I made a special release that I hope will help.  Can you try to install this please?  https://s3.amazonaws.com/prerelease.keybase.io/darwin/Keybase-1.0.23-20170519233305%2Beb723ac.dmg

I hope after you install this, Keybase will stop crashing, and you'll be able to access your private directory long

[2017-05-20 04:47] patrickxb commented on #6946
@boardwalk the service ran this command:

    /usr/local/bin/gpg2 --no-tty --with-colons --fingerprint -K

it was looking for PGP key 5833 8E74 63AA 4CD8 2BE8 16BF 03F8 5694 D880 7521 and didn't find it in the output of that command.

Do you have that key on this device?  Since it is associated with your account, you will need to use it to provision your first device.  Or if you have lost access t

[2017-05-20 07:28] benkirton opened #7070 "Unremovable folder on desktop"
Keybase GUI Version: 1.0.22-20170515141716+b608f0e
No thank you. Please provide a way to place it somewhere else.

[2017-05-20 07:59] Dr-Skepticus opened #7071 "Can't login. Error msg: "Message wasn't signed""
After entering my credentials (username or email and passphrase) I always get that error:

Message wasn't signed

I have no idea what it means.

Thanks in advance for your help.

[2017-05-20 12:41] boardwalk commented on #6946
That makes sense, that that's just the PGP key I believe keybase generated when I first signed up. I definitely don't have that and I'll have to reset. Thanks for your help.

[2017-05-20 13:00] artemist opened #7072 "Crashes on open with Android O"
Keybase for Android crashes on Android O beta 1 on startup.

It seems to be crashing due to secomp blocking syscall 142, which is select. Unfortunately, I don't know exactly where the failure happened, This could be an upstream issue in libgojni.

The log is as follows:
`4415 --------- beginning of crash
4416 05-20 08:47:12.737 12353 12373 F libc    : Fatal signal 31 (SIGSYS), code 1 in tid 12373

[2017-05-20 14:26] cjb commented on #7072
Yep, there's a fix in progress, see https://github.com/golang/go/issues/20409.

[2017-05-20 14:37] strib commented on #7070
I believe this is usually because you opened the dmg itself on the desktop, instead of dragging it to the Applications folder.

[2017-05-20 17:06] zapu commented on #7071
Would you mind sending a log? This can be done with cli command `keybase log send`.

[2017-05-20 20:06] cowpig opened #7074 "ubuntu install doesn't work"
on 16.04 LTS, this is what I get when I try to install:

[code]

... tried adding http://dist.keybase.io/linux/deb/repo to sources list, but that gave me an old version of keybase that breaks as described in [issue 5401](https://github.com/keybase/client/issues/5401)

also tried:
[code]

[2017-05-20 21:05] cjb commented on #7074
Thanks, CC @oconnor663.

[2017-05-21 00:25] cowpig commented on #7074
Would it be possible to update the apt repo? Using dpkg directly isn't as fun

[2017-05-21 01:47] flare04 opened #7075 "Mac OS X 10.11.6 client blank screen"
Installed latest desktop client and it just launches with a blank screen, no way to login.

The cli works fine.

my log id: 16407a16392a1e1e6989421c
![image](https://cloud.githubusercontent.com/assets/1712083/26280521/2df54780-3e1b-11e7-9618-c67415e63cef.png)

[2017-05-21 04:25] #7023 closed

[2017-05-21 07:47] ThomasVuillaume opened #7076 "Unable to login: `problem communicating with our servies`"
Good morning everyone !

I have some troubles loggin in Keybase for a few days. It's not able to log in the Windows app, and says it has problem communicating with our servies.

I just sent some logs under id: 1d0fa2a4fc98fed45619c51c

Hope this helps...

Good luck guys !

[2017-05-21 14:38] rbmattis opened #7077 "Can't log into Android app"
I was logged into the android app, when I tried to open it, it made me relog in, this was the error message:
![dsc01947](https://cloud.githubusercontent.com/assets/28842202/26284803/7bbc8ad2-3e11-11e7-9968-d2bab49058e2.JPG)

I uninstalled-reinstalled the app, same error.

I revoked my device "phone", uninstalled-reinstalled, same error.

I'm 100% confident that the passphrase is correct.

[2017-05-21 23:26] maxtaco commented on #7077
Sorry about this, it's definitely our bug.

@oconnor663 it's due to your new sigchain-reset sensing code, at least the error is raised there...

[2017-05-21 23:28] rbmattis commented on #7077
is there anything to do on my end besides wait?

[2017-05-21 23:51] benkirton commented on #7070
I opened the dmg from my downloads folder when installing. It's now in my Applications folder.
When the app is open and in my toolbar it generates the folder/drive on my desktop and can't be removed until the app is closed.
It may be related to it being a mounted drive and they are shown based on my desktop view settings.
Seems the wrong way to present a folder though.

[2017-05-21 23:54] maxtaco commented on #7077
I don't believe so, but it's a high priority bug so hopefully we can fix it ASAP

thanks for your patience and help

[2017-05-22 04:27] Retro64XYZ opened #7081 "Docker Image Created"
https://hub.docker.com/r/retro64xyz/docker-keybase/

You can now install keybase from Docker using the command -

docker pull retro64xyz/docker-keybase

Would it be possible to get this added to the keybase.io site as an installation option in the documentation?

[2017-05-22 11:25] maxtaco commented on #7077
Closed in #7079.  Should be fixed in the next release.

[2017-05-22 12:28] #6996 closed

[2017-05-22 13:20] BigBlueHat commented on #3843
@zanderz yeah...that's not the magic I want though. 😃

I don't need yet-another-shell-window (especially if it's based on `cmd`). I'd like `kebyase` to put itself in the path so I can access it from *all* my various shell environments (`cmd`, PowerShell, `bash` via mingw/git-for-windows).

I've added it myself, but having it done for future folks (including me on another machine) would increase ha

[2017-05-22 13:22] CameronBanga commented on #6687
@chrisnojima Took a look over weekend, but couldn't recreate. I don't use Android day to day, so was on a secondary device a couple weeks back. I'll try again this week and if I can get logs, will post here.

[2017-05-22 13:24] BigBlueHat opened #7082 "Can't find the private PGP key"
I used the keybase UI to generate a PGP key during setup. It was nice and easy and made me happy. 😁

However, when I went to backup the private key, it's un-findable...which is concerning. It also means I'm unable to use the various gpg tools with the key.

I'm sure it's here some place... Some pointers would be helpful.

Thanks!
🎩

[2017-05-22 14:21] chrisnojima commented on #6687
@CameronBanga if you can use keybase chat on a desktop thats likely the best way to transmit them to me (vs here publicly)

[2017-05-22 14:38] zapu commented on #7082
If you have generated PGP key on the website, told it to store your secret key (encrypted), and it's not in your local gpg keychain, you can export your secret key using `keybase pgp export -s`. Let me know if that answers your question - there are multiple ways to generate and store PGP keys, maybe I got that wrong.

Thank you for using Keybase!

[2017-05-22 15:04] BigBlueHat commented on #7082
@zapu thanks! I used the Windows 10 app and only kept a copy on the local machine. I'll try the export command and report back! Cheers!

[2017-05-22 16:24] mannp commented on #7077
Having the same issue, but it seems fixed now, which is great :)

Do you have a beta provisioning through f-droid or google play, so that we can pick up the build before a formal release?

Cheers and love the apps!

[2017-05-22 17:16] HXmniDhWNevihHm7PwVyN4Knvt9yQrRt opened #7085 "Windows Clint high CPU utilization"
The keybase.exe takes more than 95% and stops the machine from working. Keybase never reaches a point where anything else except the menu is readable. I use the latest available version.

[2017-05-22 17:19] zanderz commented on #7085
Are you able to perform `keybase log send` at the Keybase Shell?

[2017-05-22 17:35] oconnor663 commented on #7074
[code]

The package `libappindicator1` is in the package database but not installable? That sounds like an upstream Ubuntu problem. Am I reading that right?

[2017-05-22 17:53] jzila commented on #7076
@ThomasVuillaume: Please do the following:
[code]
We've merged a fix for this issue and the next public build will include it.

[2017-05-22 18:04] oconnor663 commented on #7074
I was unable to repro that error on a pristine install of 16.04. @cowpig can you suggest specific repro steps? Maybe you have an interesting repo configuration that's causing the break above?

[2017-05-22 19:13] ThomasVuillaume commented on #7076
Hey great this is fixed with this tweak !

Thank you !

[2017-05-22 19:14] ThomasVuillaume commented on #7076
Just curious before closing, any clue what was the issue ?

[2017-05-22 19:16] jzila commented on #7076
Not sure why the bad write happens, but we've made a disk cache initialization errors nonfatal going forward.

[2017-05-22 20:29] #7076 closed

[2017-05-23 06:15] dbradmit opened #7104 "KID not found (error 205)"
I am trying to login to the keybase app and receive the same error across Windows, macOS, and Android: **KID not found (error 205)**

The error occurs in the app as well as CLI.

Steps to reproduce:

1. I enter my username
2. I select my paper key
3. I enter my paper key
4. Presented with _KID not found (error 205)_

or

1. I enter my email address
2. I enter my passphrase
3. I select my paper key

[2017-05-23 10:46] bpdegnan opened #7105 "Error when provisioning an iOS device in Japanese."
Keybase GUI Version: 1.0.22-20170515141716+b608f0e

When provisioning a Japanese iOS device, the device name gives an error.  The name of 携帯 caused a utf-8 error, and I generally name my devices in a manner that matches the language of the device.

[2017-05-23 12:15] maxtaco commented on #7104
What are the first two words of your paper key? (They are public)

On Tue, May 23, 2017 at 2:15 AM dbradmit <notifications@github.com> wrote:

[2017-05-23 14:48] maxtaco commented on #7104
@patrickxb  can you check this one out?

[2017-05-23 16:08] dbradmit commented on #7104
The first two words of the paper key are "pact panic".

[2017-05-23 16:40] patrickxb commented on #7104
Yes, I'll look

[2017-05-23 16:49] patrickxb commented on #7104
@dbradmit I'm sure you've tried this, but can you double-check that you are entering the correct paper key?  From the log, it looks like the paper key you are entering appears to be valid (we do some sanity-checking on the input), but it is not matching the `pact picnic` one in your account.

[2017-05-23 16:51] patrickxb commented on #7104
@dbradmit ah, I just read your comment.  Looks like you got it working.

[2017-05-23 16:56] maxtaco commented on #7104
Still that error message is pretty rought.

[2017-05-23 16:57] dbradmit commented on #7104
Yeah, the error message is rough but my issue is resolved.

Thanks!

[2017-05-23 16:57] maxtaco commented on #7104
@patrickxb can you make a ticket to fix the error experience here? thanks!

[2017-05-23 17:00] patrickxb commented on #7104
@maxtaco Yes.  Surprising thing is that it was a valid paper key.  Current error messages handle most typos...

[2017-05-23 17:00] maxtaco commented on #7104
cool thanks

[2017-05-23 17:11] jzila commented on #7105
@bpdegnan: device names need to have at least 3 utf-8 characters. We're tracking an issue on our end to make that error message clearer.

[2017-05-23 17:28] schmichael opened #7114 "Unable to login to client; can login to site"
I created a keybase account ages ago, but I stopped using it and [because I can't be trusted with pgp keys](http://pgp.mit.edu/pks/lookup?search=michael+schurter&op=index) decided to delete my pgp key on the way out.

I tried using keybase again today and while I can login to the site, neither the CLI nor GUI let me in:

![cli](https://cloud.githubusercontent.com/assets/113362/26367095/51b05272-3f

[2017-05-23 18:44] bpdegnan commented on #7105
Just FYI, it seems to be more of an issue than length:  俺の携帯 also did not
work.
I then tried 出具の携帯電話.

The error was:
Unknown error: bad signature: All JSON proof characters must be in the
visible ASCII set (properly escaped UTF8 is permissible)

On Tue, May 23, 2017 at 1:11 PM, John Zila <notifications@github.com> wrote:

[2017-05-23 18:45] jzila commented on #7105
Thanks. @patrickxb: any thoughts?

[2017-05-23 18:49] magandrez commented on #2056
@tv42 I've had a very similar issue regarding Emacs (26.0.50) + KBFS on Mac.

The issue is regarding opening/saving encrypted org files under faulty connectivity. I can elaborate on this, should I open a new issue for that?

[2017-05-23 18:57] patrickxb commented on #7105
Sorry, but device names can't be utf8.

    var deviceRE = regexp.MustCompile(`^[a-zA-Z0-9][ _'a-zA-Z0-9+-]*$`)
    var badDeviceRE = regexp.MustCompile(`  |[ '+_-]$|['+_-][ ]?['+_-]`)

    var CheckDeviceName = Checker{
    	F: func(s string) bool {
    		return len(s) >= 3 && len(s) <= 64 && deviceRE.MatchString(s) && !badDeviceRE.MatchString(s)
    	},
    	Hint: "between 3 and 64 characters lo

[2017-05-23 19:10] patrickxb commented on #7105
But @bpdegnan you should have seen a much better error than what you saw...I'll add a ticket to improve it.

[2017-05-23 19:34] bpdegnan commented on #7105
I agree that a more useful error would have been helpful.   Particularly
because the error that I saw was not what was shown in the Javascript.

I would like to comment that those text restrictions will be quite annoying
for us polyglots. I think that you will find that the French with their 5
accent marks, and basically the remainder of the non-english speaking world
will limit the user base with

[2017-05-23 19:50] strib commented on #2056
Hi @magandrez -- KBFS doesn't support offline environments right now.  (It's on our TODO list, but not yet scheduled.)  So it's expected that writes won't work if connectivity doesn't work.  If you're experiencing issues when you're sure your connectivity is up, please do file a new issue with a log send.

[2017-05-24 00:58] jzila commented on #7114
@schmichael: we'll need a log from your client to be able to help: `keybase log send` from a terminal, with a quick description in the prompt (or a link to this ticket).

Additionally, it's possible that you didn't have your email address on the account. Is this you?
https://keybase.io/schmichael
If so, you can try logging in with the username instead of the email address.

[2017-05-24 01:17] io4 opened #7123 "[Android] App crashes on startup"
First start worked fine, but since I first rebooted it cant start.

Android Version: 4.4.4
LogCat output: http://pastebin.com/raw/hYhDtHfq

I am a root user, so I could extract more debugging info if needed.

[2017-05-24 05:07] NoahSchmitz commented on #7123
Never has worked for me. Crashes almost immediately after launching. I assumed it was because I am running Android "O" but maybe not. Nexus 6P if that helps

[2017-05-24 05:10] NoahSchmitz commented on #7072
Having the same issue on my Nexus 6P with O. Glad to here there is a fix in the works!

[2017-05-24 07:33] magandrez commented on #2056
Hi @strib the issue I experience is perhaps more related to the way emacs is handling KBFS _after_ the computer goes offline. Mayhaps you could give some input if the following case falls in the realm of KBFS offline support or not?.

The use case I am aiming is to be able to open my org files when I still have connectivity, edit them (save backup somewhere else) and then properly save them again

[2017-05-24 09:52] crunchie84 opened #7124 "Keybase app shows multiple proofs as 'unreachable'"
Might be related to https://github.com/keybase/keybase-issues/issues/2879

my log id: 8b6648fceb93dd08e3963b1c

To summarise my log send explanation:

The Keybase UI shows multiple of my proofs as unreachable. Using 'View proof' shows the correct information. Invoking 'I fixed it - recheck' does nothing.
Multiple proofs are not reachable: twitter,github,reddit
All show the same behaviour.

Mac app

[2017-05-24 13:46] Heliosmaster commented on #7075
I think this is duplicate of #6965

[2017-05-24 13:47] Heliosmaster commented on #7049
This might be related to #6965 ?

[2017-05-24 15:01] strib commented on #2056
@magandrez: I assume that this is Emacs trying to do autosaves in the background.  Maybe you can edit your emacs settings so that autosaves under the /keybase tree go into /tmp/, rather than back into the same directory?  Or turn off autosave entirely?  You can find more info here: https://www.emacswiki.org/emacs/AutoSave (this seems to have settings for changing all auto-saves to /tmp/, but I bet

[2017-05-24 16:01] tv42 commented on #2056
I wouldn't recommend `/tmp` for emacs autosaves, who knows what race attacks that opens up.

I have this in my customizations: ` '(backup-directory-alist (quote (("." . "/home/tv/.emacs-backup"))))`

[2017-05-24 16:40] rogersachan opened #7127 "Publish the Keybase Windows client to the Windows Store"

[2017-05-24 17:33] zapu commented on #7082
@BigBlueHat Did you manage to get your key exported? I can help further if you still have troubles.

[2017-05-24 17:48] rbmattis commented on #7077
what @mannp said. Do you have a nightly apk I could try?

[2017-05-24 19:14] colmex commented on #6965
I'm getting the same issue, and I can't do`keybase log send` because it says `-bash: keybase: command not found`. Any update on this?

[2017-05-24 20:33] schmichael commented on #7114
Log ID: 3b341786f317d4d142309e1c

That account is me. That email address is associated and verified. Same error message if I try logging in with schmichael.

[2017-05-24 20:40] CWRau commented on #7123
Crashes immediately after launch for me as well. I'm also running Android O, but on a Nexus 5x.
LogCat; https://keybase.pub/cwrau/Keybase%20Android%20Crash.log

[2017-05-24 20:47] jzila commented on #7114
Thanks! @maxtaco: would you mind taking a look?

[2017-05-24 20:57] maxtaco commented on #7114
This is some corner case having to do with a reset account seems like

[2017-05-24 20:58] maxtaco commented on #7114
@oconnor663 when you get a chance can you check this out?

[2017-05-24 20:58] maxtaco commented on #7114
Also, for now try `keybase db nuke` and see if that helps

[2017-05-24 21:12] BigBlueHat commented on #7082
Yep! Thanks @zapu That worked like a charm.

It's probably worth documenting some place besides here, though. I'll make another ticket. 😸

[2017-05-24 21:12] #7082 closed

[2017-05-24 21:14] BigBlueHat opened #7131 "Explain `keybase pgp export -s` for exporting private keys"
There's a world of PGP tooling out there that wants a PGP private key. If you enter the PGP world through the keybase door, it's currently quite easy to get lost (see #7082). Documenting the `keybase pgp export -s` command along with some good key storage hygiene tips (where to put the file, etc), would be most helpful.

Thanks for considering this suggestion!
🎩

[2017-05-24 22:35] clayzermk1 commented on #6096
👍

OS X 10.12.4 (16E195)
Keybase 1.0.23-20170522181119+8a8aea0

Accidentally clicked "start a new chat" on a friend's screen and had two different conversation tabs for them. Quitting and relaunching removed the unused tab.

[2017-05-25 00:18] reybango opened #7134 "Why is passphrase needed to add my public key?"
Sorry for posting here but I couldn't find a support email on the site.

I wanted to know why my pgp passphrase for my private key is needed to add the public key to keybase. When I added my key via the CLI, I was prompted for my private key passphrase which kind of threw me off. I submitted another key to a public keyserver and wasn't asked for my passphrase.

Would love your thoughts on this.

[2017-05-25 00:21] tkeliris opened #7135 "Ubuntu 17.04 doesn't launch app (GUI or terminal)"
I try to start the GUI with run_keybase and it gets stuck. From the terminal keybase -d login gives the following:
[ERRO keybase standard.go:230] 09f dial unix /run/user/1001/keybase/keybased.sock: connect: no such file or directory
Am I missing something obvious? I tried going over other's similar issue to no avail.

my log id: c804b5edaf9dfb62cfe8a91c

[2017-05-25 00:54] tkeliris commented on #7135
The /home/$USER/.config/autostart file was owned by root, had to chown.

[2017-05-25 00:54] #7135 closed

[2017-05-25 00:59] waylonis opened #7136 "Export Keybase identity into certificate usable for signing email?"
Is it possible to export a X.509 certificate from my Keybase identity? I'd like to be able to sign emails on my macOS / iOS devices with my Keybase info.

[2017-05-25 02:26] joesustaric commented on #6961
Ok fixed.. not telling how..

j/k

I did..
`$ keybase uninstall`
Then deleted the App from `Applications` folder
Re downloaded and installed.
All good now.

[2017-05-25 02:26] #6961 closed

[2017-05-25 03:12] sundhaug92 opened #7139 "Chromium extension: Opening tweets causes additional "Keybase Chat"-buttons to appear"
1. Open a twitter profile page
2. Click on a tweet
3. Repeat 2 until satisfied

Result:
![image](https://cloud.githubusercontent.com/assets/519283/26434357/a2481974-4108-11e7-9669-7f47be4c636b.png)

[2017-05-25 03:35] sundhaug92 commented on #7127
Slight issue: KBFS-support is done using a driver and I'm quite sure UWP-apps, even with Centennial are not allowed to include drivers.

[2017-05-25 03:54] strib commented on #7139
cc: @shazow

[2017-05-25 04:06] Dr-Skepticus commented on #7071
Sorry, I also can't send logs. I obtain an error message:

Microsoft Windows [Versión 6.1.7601]
Copyright (c) 2009 Microsoft Corporation. Reservados todos los derechos.

C:\Users\Skepticus>keybase log send
usage: keybase [-h] [-v] [-p PASSPHRASE] [-c CONFIG] [-i] [-d] [-q] [-C]
               [--port PORT] [--no-tls] [--host HOST]
               [--api-uri-prefix API_URI_PREFIX] [-B] [--preserve-t

[2017-05-25 04:07] maxtaco commented on #7071
What's your username?  @zapu  you can likely repro this by doing `keybase id <theirusername>`

[2017-05-25 04:08] maxtaco commented on #7071
Confirmed. From my `keybase -d id emc2`:

[code]

[2017-05-25 04:09] maxtaco commented on #7071
Likely some sort of PGP expiration or flags bug :/

[2017-05-25 04:09] Dr-Skepticus commented on #7071
emc2 is my username.

[2017-05-25 04:09] maxtaco commented on #7071
cool thanks, we can fix it from here, it will likely need a client upgrade though once we figure it out.

[2017-05-25 04:10] Dr-Skepticus commented on #7071
Ok, thanks.

[2017-05-25 04:13] schmichael commented on #7114
`keybase db nuke` fixed it! (Well I actually just `rm -RF ./local/shared/keybase/` to be safe)

Now the chat I reinstalled keybase to open is stuck saying "Securing..."

I'm guessing since I don't have a pgp key there's no way for it to continue? (`keybase pgp list` is empty)

[2017-05-25 04:25] rogersachan commented on #7127
@sundhaug92 iTunes i coming to the Windows Store, with iPhone/iPad support in tow. I'm absolutely sure it can be supported since I've already put it through centennial. The only issue is that the utilities must be packaged as a "bundle" since keybase ships with cmd utils.

[2017-05-25 08:09] JR1994 opened #7141 "error in building spaces in filename"
The latest build of keybase failed with the following error

[code]

[2017-05-25 08:28] zapu commented on #7071
Thank you, looking into it!

[2017-05-25 10:46] muratbsts opened #7143 "Fedora 25: Lost connectivity problem"
Hi, I installed with `sudo dnf install keybase` command.  But I can't connect the app. And I can't login with chrome extension. :disappointed:

**keybase version** 1.0.23-20170524160025+c1b89b1

**my log id:** 7d885a7487e474e2baeb301c

Screen shot:
![Keybase](https://i.imgur.com/Uxt5RP5.png)

[2017-05-25 10:47] maxtaco commented on #7143
Have you recently changed your password?

On Thu, May 25, 2017 at 6:46 AM Murat Bastas <notifications@github.com>
wrote:

[2017-05-25 10:52] muratbsts commented on #7143
No I've not change password. This is secondary computer. My other computer is a mac and it works perfectly on mac. I look other issues and checking permissions. My .local/share/keybase directory looks like this:

[code]

[2017-05-25 10:54] maxtaco commented on #7143
@mmaxim can you take a look?

On Thu, May 25, 2017 at 6:52 AM Murat Bastas <notifications@github.com>
wrote:

[2017-05-25 11:11] aramboi commented on #6946
I got this error in the Settings screen, after I changed my password and restarted the Keybase MacOS app:
[code]

Got rid of it by doing a `keybase login` in the terminal. Hope this helps.

[2017-05-25 12:56] fkabs opened #7144 "Reset private folder"
Dear devs/admins,

can someone reset my private folder "/keybase/private/fkabs" please?

I've resetted my keys and have started from scratch, now I don't have access on my private folder anymore.

I've also submitted the corresponding log-file (id below), I hope this helps you out.

Thanks in advance!

Cheers

my log id: 3c1a75a4d8b829a05a38601c

[2017-05-25 13:42] shazow commented on #7139
I'll have a fix pushed out shortly! :)

[2017-05-25 14:11] GhostGuy9 opened #7145 "[Windows 10] Rekey folder and Conversation won't work"
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

I have gotten a new computer and installed KeyBase to it. It has been asking to rekey my conversations and folder and i cant chat with anyone and myself. I don't have my old computer anymore never realizing this would happen. resetting mt folder is fine but how can rekey the conversations when the windows client wont let me press the "ReKey" button.

[2017-05-25 14:18] mmaxim commented on #7143
@patrickxb @oconnor663 @chrisnojima it looks like he is not logged in, and the UI can't connect tot he service?

[2017-05-25 14:21] cotarg opened #7146 "Documentation doesn't explain how to upload private keys..."
So, I previously made the decision not to upload a private key. I have since changed my mind. The documentation does not make it clear how to do so, and the old method `keybase push` has been replaced by `keybase pgp select` when I try to use the CLI. Select doesn't let me upload the key, just tells me I already have one.

How do I actually upload this key?

[2017-05-25 14:24] muratbsts commented on #7143
Hey @mmaxim,

I can give more details. Look

[code]

Maybe this can help.

[2017-05-25 14:26] mmaxim commented on #7143
I see, that is helpful, thanks!

[2017-05-25 15:01] shazow commented on #7139
Fixed in v1.8.9 which should be live any minute now.

[2017-05-25 15:01] #7139 closed

[2017-05-25 16:14] yraksenov commented on #6923
keybase config set gpg.command /usr/bin/gpg  -- helps me

[2017-05-25 16:44] strib commented on #7144
Hi @fkabs, thanks for the report.  When you reset your Keybase account, we move your old folders out of the way, to a new name.  For example, your old private folder is now `/keybase/private/fkabs (files before account reset 2017-05-25)`.  However, your new, post-reset devices won't be able to read it.  It's possible that if you still have an explorer window or shell open that had navigated to you

[2017-05-25 19:36] ariddell commented on #6447
I uninstalled keybase after I saw this behavior. It's especially troubling / hard to understand if one is only using the command-line.

[2017-05-25 19:37] ariddell commented on #3773
#6447 is the same issue.

[2017-05-25 20:46] maxtaco commented on #3773
We have a PR upcoming on this. Cc @zanderz

[2017-05-25 21:05] #7145 closed

[2017-05-25 21:15] jtokoph commented on #3907
I came across this issue when trying to figure out how to hide the window and dock icon. I figured I would voice my opinion on the issue. I would argue that having CMD + Q behave differently than Keybase -> Quit is confusing for mac users. Those two actions have always been identical, especially since the menu option shows cmd+Q as the keyboard shortcut.

<img width="168" alt="screen shot 2017-05-

[2017-05-25 22:38] mcstafford-git commented on #2026
This makes sense to disallow a mimicry or other trickery within a single account provisioning.

Could devices establish a connection between themselves with across an account reset? If not, then perhaps the pairing restriction should be reset along with the rest of the account.

[2017-05-26 06:57] thingfulneeds opened #7163 "Unable to reset/delete account"
Hey!

I am facing the situation that I apparently am unable to reset my account.

There's a device (Android phone, 1st device, registered just yesterday, only device so far) still connected and this keeps me from starting all over with a new set of keys and another passphrase.
Even though I am pretty certain that I do remember my passphrase correctly, the system won't let me sign in. It might be t

[2017-05-26 08:43] fellowish commented on #5074
Hey, connor. I'm in the exact same situation as these two... Unfortunately, there's no way back into the account. :\

keybase.io/oldrego

If you could help with this, I'd be thankful.

[2017-05-26 08:45] Oldrego commented on #5074
Heyya, Connor. I'm actually in the same boat as the people before me, with no access to my account. :\

keybase.io/oldrego

If you could help reset it, I'd be much obliged.

[2017-05-26 08:47] crunchie84 commented on #6403
@gabriel somehow the app became un-stuck. Doing `keybase ctl stop` & restart also now returns the application to a working state. Very weird

[2017-05-26 08:48] crunchie84 commented on #7124
Today my proofs show as 'verified' again in the App

[2017-05-26 10:49] rechena opened #7164 "Prove facebook error 500"
Hi,
The first post I did on facebook to prove my identity wasn't public, so I've removed and tried to identify again, and now I'm getting a 500 error every time.

Error 500. Something is not right. We will look into it.

Any ideas?

[2017-05-26 10:58] Luki110998 commented on #6963
@maxtaco Could you reset my account, too? I have the same issue.

[2017-05-26 12:05] nefiger commented on #7164
I am experiencing the same thing. Have tried multiple times too.

[2017-05-26 12:45] datashaman commented on #7164
:+1:

[2017-05-26 12:49] smwa opened #7165 "profile won't fully refresh"
Keybase GUI Version: 1.0.23-20170522110822+8a8aea0

I've gained a new follower (while my computer was asleep), and it increased the count(from 0 to 1) under my name at the top of the profile page, but the followers tab won't show them. This can be resolved by quitting, but closing the gui and reopening is not sufficient.

[2017-05-26 12:49] maxtaco commented on #7164
Thanks for the report, we are aware.  Facebook has disabled our bridge app.
We are looking into it.

On Fri, May 26, 2017 at 8:45 AM datashaman <notifications@github.com> wrote:

[2017-05-26 13:16] maxtaco commented on #6963
@Luki110998 I reset your account, you had revoked all of your keys.

[2017-05-26 13:57] PaulSpoerry opened #7166 "Reddit proof fails"
My Reddit proof keeps failing. I've tried twice now. The link to the proof is here: https://www.reddit.com/r/KeybaseProofs/comments/6defxm/my_keybase_proof_redditt1pimp_keybasepaulspoerry/

It is possible that it's because I use a different handle there than on Reddit? Is that an issue?

[2017-05-26 13:57] maxtaco commented on #7166
Graylisted

[2017-05-26 13:58] maxtaco commented on #7114
Can you do another `keybase log send`?

[2017-05-26 14:17] ogfomk opened #7167 "Error 500. Something is not right. We will look into it."
I was able to verify my proof on facebook but now I can not. I get an error: "Error 500. Something is not right. We will look
 into it." At first I was successful using my mobile device but then I had another issue with logging back onto my mobile device. That was another issue.  Please contact if you have any questions.

[2017-05-26 14:20] maxtaco commented on #7163
What's your keybase username?

[2017-05-26 14:20] malgorithms commented on #7134
answered this in keybase chat separately, but figured I would post here:

[2017-05-26 14:20] #7134 closed

[2017-05-26 15:33] io4 commented on #7123
I found that the keybase *service* is fine. Since I still get notfications from new messages.

It has to be a UI loading issue...

[2017-05-26 16:29] ldanicel commented on #7167
+1

[2017-05-26 16:30] AfroThundr3007730 commented on #7167
They're on it, see #7164 for info.

[2017-05-26 16:41] thingfulneeds commented on #7163
thingfulneeds

[2017-05-26 16:47] ogfomk commented on #7167
Very nice, thanks!Sincerely, Alexander NuttallOgFOMK.comOn May 26, 2017 12:30, Eddie James Carswell II <notifications@github.com> wrote:They're on it, see #7164 for info.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-26 16:47] ogfomk commented on #7167
Thank you!Sincerely, Alexander NuttallOgFOMK.comOn May 26, 2017 12:29, Liviu Dănicel <notifications@github.com> wrote:+1

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-26 17:16] kenmhaggerty opened #7169 "[Keybase iOS v1.0.2] Unknown error: bad signature: non-canonlical [sic] JSON found in strict mode"
This error occurred in the Keybase iOS app after submitting the name of my newly added device during initial setup. All prior steps including scanning the QR code generated by another device running Keybase appeared to complete without error.

I have a screenshot of the error JSON output provided by the iOS app and am happy to provide it if it does not contain private information and would be usef

[2017-05-26 17:20] maxtaco commented on #7169
Gosh, that's a bad one. It's all public, I'd love to see the full text. But you can, for the sake of extra safety, email it to me (encrypted or plain) or keybase message it or KBFS share it to me, too. Thanks so much!
\

[2017-05-26 17:24] kenmhaggerty commented on #7169
Great, thanks! I'll message it to you on Keybase.

[2017-05-26 17:24] maxtaco commented on #7169
Nevermind, I see the server-side logs.  Did you use a non-utf8 name for your device?

[2017-05-26 17:25] kenmhaggerty commented on #7169
I thought the device names might be public so I just used randomized strings generated by 1Password for the device names. ¯\_(ツ)_/¯

[2017-05-26 19:11] sporkwitch opened #7170 "[Android] Creating facebook proofs fails"
When attempting to generate a Facebook proof on the Android version (running on Asus Chromebook C100 Flip and direct-from-Google Nexus 6) it appears to display something about making a post, then immediately returns to asking for username with a red error about an unexpected hash.

[2017-05-26 19:12] sporkwitch opened #7171 "[Android] New chat messages delayed"
In the chat function, notifications for new messages appear, but the application itself does not update for minutes at a time, if at all.  Issue present on Asus Chromebook C100 Flip and direct-from-Google Nexus 6.

[2017-05-26 19:13] mholkesvik opened #7172 "Invite email verification errors on whitespace"
<img width="293" alt="with trailing space" src="https://cloud.githubusercontent.com/assets/1395356/26509193/95d05e18-420c-11e7-92a2-2216f5d66e28.png">

Keybase Desktop on Mac

"Friend's email" input field complains when a valid email has a trailing space.

[2017-05-26 19:15] sporkwitch opened #7173 "[Android] POTENTIAL VULNERABILITY: Paper key proofs use normal TextView, not Password"
The TextView used for entering a paper key to prove a device should be configured as a password field to prevent non-malicious keyboard applications from including the pattern of words in their completion history and statistics.  This poses a potential compromise of the paper key, especially with the remote storage of patterns that many keyboards do.

[2017-05-26 19:18] sporkwitch opened #7174 "[Android] Sluggish overall performance"
On both Asus Chromebook C100 Flip and direct-from-Google Nexus 6, overall application performance is extremely sluggish.  I have encountered similar symptoms with applications I've written in which I did not properly import images, resulting in incorrect resolutions being scaled at run-time.  I solved this problem by using the popular android studio plugin for batch image imports, which will autom

[2017-05-26 19:19] cjb commented on #7173
We've thought about this too, and decided to go with leaving completion on for UX reasons -- typing the whole paper key without autocorrect is really hard -- but we can revisit it.

If there's a way to disable use of third-party keyboards for this form, while allowing an OS-provided keyboard to autocomplete, that would probably be best for us..

[2017-05-26 19:22] sporkwitch commented on #7173
I'm not aware of a method off the top of my head, but I'm also not a particularly experienced Android dev (if I were, i'd fork k9mail and openkeychain to fix the regressions he deliberately introduced, haha).

I thought about the usability as well, my personal leaning is in favor of security; as annoying as it might be to reenter it, it's not something you enter often, but the damage from potentia

[2017-05-26 19:36] JeffMelton opened #7175 "[Linux/Fedora 25] Copying $HOME to new machine results in two devices successfully logged in to Keybase under the same device name"
I set up a new-to-me laptop this afternoon, then rsync'd over my $HOME directory and repo list, then installed all my goodies. Keybase started right up, no re-auth required, and showed online _as the rsync source machine_.

The LastPass Firefox extension requires me to sign in again on both the source and destination device, evidently recognizing repeated use of a secret. Dropbox requires re-auth

[2017-05-26 20:10] linsam opened #7177 "Misleading error message with 'keybase login'"
I provisioned my keybase account manually using gpg from the command line. As such, when I tried to login using the client the first time, it wanted me to shell out to gpg or import my secret key from gpg. I chose to shell out (my private key is generally on a hardware token). After naming my device, I received the following error:

    ▶ ERROR Could not open key: no valid primary key self-signatu

[2017-05-26 20:36] npdoty commented on #7164
I also get this message in trying to post a new proof, after my previous proof was suddenly no longer publicly accessible on Facebook.

[2017-05-26 21:31] plttn commented on #7170
Facebook proofs are currently broke, see [keybase on twitter](https://twitter.com/KeybaseIO/status/868121041910026240).

[2017-05-26 21:36] McCovican opened #7180 "Facebook: Prior Verification Post *Deleted* / New Posts Failing to Verify"
So, I just got an email saying that my previously-proven Facebook identity had broken. Given that I hadn't touched Facebook in a while, this was a little surprising. I took a look through my post history, and sure enough, the post had been deleted! I don't know if FB has taken exception to Keybase, or there's an issue with the FB Keybase app permissions, but in any case, the post had been removed

[2017-05-26 21:41] cjb commented on #7173
Sure.  Happy to leave this issue open to hear more about what our users prefer.

I think you could personally just avoid ever entering a paper key on a phone.  You can always use a real device instead of a paper key.

[2017-05-26 21:44] sporkwitch commented on #7173
Generally, but in the event it's necessary, there's an issue.  No current
arm builds, but the Android client does work on Chromebook.

On Fri, May 26, 2017 at 5:41 PM, Chris Ball <notifications@github.com>
wrote:

--
v / r
Robert Klebes
Mobile: 571-492-8639
https://keybase.io/sporkwitch
https://www.linkedin.com/in/klebes

[2017-05-26 22:09] plttn commented on #7180
Facebook has taken issue with the Keybase Facebook app somehow "posting without users consent". https://twitter.com/KeybaseIO/status/868121041910026240

[2017-05-26 22:21] McCovican commented on #7180
Ah, thanks for the link (didn't think to check twitter!). I mean, Facebook are absolutely full of crap there. No part of the proof process is done without explicit interaction with the user. It was terribly nice of them to consider asking for my consent before removing my post though. Oh, wait...

Always good to see FB going after legitimate organisations while blissfully wading through a sea of a

[2017-05-26 23:51] gbhojraj commented on #7180
Update: It's back up and working again.

[2017-05-27 12:03] ldanicel commented on #7180
I didnt get the link if I wanted to open it automagically in the browser but I got it when I tried from the cli

[2017-05-27 13:41] SolarAquarion opened #7182 "Whitespace is not allowing packaging to happen"
/home/solaraquarion/build/keybase-git/src/build_dir/binaries/amd64/opt/keybase/resources/app/images/icons/icon-keybase-logo-16 2.png
/home/solaraquarion/build/keybase-git/src/build_dir/binaries/amd64/opt/keybase/resources/app/images/icons/icon-keybase-logo-16@2x 2.png
/home/solaraquarion/build/keybase-git/src/build_dir/binaries/amd64/opt/keybase/resources/app/images/icons/icon-keybase-logo-16@3x 2

[2017-05-27 14:06] ogfomk commented on #7164
I just tried the proof. I am using Linux (Mint) and the client is the latest. Instead of the Error 500 the post went through and it is visible and was also acknowledged by Keybase. I don't know if something was done or not but it worked for me now.

[2017-05-27 14:48] maxtaco commented on #7164
Thanks for the report everyone. We are back live on Facebook after our
appeal succeeded.

On Sat, May 27, 2017 at 10:06 AM Alexander B. Nuttall <
notifications@github.com> wrote:

[2017-05-27 20:40] cjb commented on #7182
I think we fixed this a few days ago, did you try git pull?

[2017-05-27 21:01] PaulSpoerry commented on #7166
Thank for the quick reply @maxtaco. I've google'd and even looked ON reddit. What's greylisting?

[2017-05-27 21:01] kg4zow commented on #6986
Had the same issue, and the same results when I ran `keybase login` on the command line, but my GPG version is 2.0.x. See Log ID `cbd2c25d2b54c04cee67ca1c`.

I'm just starting to use Keybase again, now that the iOS app exists. What specifically am I missing out on by not being able to import my GPG key into Keybase's keychain?  If I export my secret key using `gpg -a --export-secret-key 0xdadadada

[2017-05-27 22:19] maxtaco commented on #7166
Another possible theory --- did you delete the reddit statement after the proof worked?

[2017-05-27 23:15] cjb commented on #7166
@PaulSpoerry We're thinking your account's shadowbanned -- you can see your posts but no-one else can.

If an incognito window *doesn't* show your post but your logged in account does, that's what it is.

[2017-05-28 01:07] cowpig commented on #7074
No weird repo things that I'm aware of

[2017-05-28 11:16] sitaramshelke opened #7185 "Not able to log in using linux or mobile app"
Unknown error: eldest called on user with existing eldest KID
Keybase GUI Version: 1.0.24-20170526160108+83e1e9f
Log ID : 2d7f5254e1474c3ae6d3f01c

[2017-05-28 12:39] nefiger commented on #7164
I'm still getting a 500?

Using El Captain, and Chrome - as well as triggering it via CL

[2017-05-28 13:40] treyssatvincent commented on #6954
Maybe a fork from a French can bypass this liberticidal law.

[2017-05-28 16:08] murshid1988 commented on #4899
Any fix to this?

[2017-05-29 09:35] datashaman commented on #7164
Mine is successful now, thanks. I suggest deleting all previous 'proof' posts from Facebook before retrying the proof. I used CLI with:

    keybase prove facebook username

It told me a proof existed, would I like to overwrite it, I selected yes. And followed the instructions from there.

[2017-05-29 09:41] nefiger commented on #7164
thanks @datashaman - I've tried that too now. Deleted all 'proofs', revoked where possible too. Tried from Mac desktop app, the website as well as CLI. I get 500 errors regardless.

[2017-05-29 13:10] techmagus opened #7187 "Can not login in Android 4.4.2"
I have an old phone I'm using as secondary, I installed the Android app earlier today and it is failing to login.

Tried the following:
1. Login via passphrase - after giving a device name, it crashes and I have to start from scratch
2. Login and attach with an existing device name - it will ask me to scan a QR code (or enter a mnemonic phrase) from the other device, but instead of attaching to th

[2017-05-29 13:11] #7187 closed

[2017-05-29 13:12] techmagus commented on #7187
Oops, just found out a similar one after checking a few pages.

Marking this ( #7187 ) as duplicate of #6993

[2017-05-29 13:16] techmagus commented on #6859
Not just Mastodon but the whole Fediverse actually, yes, including Jabber/XMPP.

[2017-05-29 13:18] techmagus commented on #6993
Experiencing the same. Works fine with Android M but not Jellybean.

Maybe Jellybean support can be dropped altogether, and concentrate on KK, M, N, and Android O? (My Jellybean phone is only serving as secondary/backup.)

[2017-05-29 13:46] kephny opened #7188 "Could not load Completely when I start the App."
Keybase GUI Version: 1.0.22-20170502110012+a3c4856

[code]

[2017-05-29 14:51] peterhallen opened #7189 "getting 'cannot read property 'response' of undefined..."
log id = b64c107b30225b2ff59f381c
keybase version 1.0.24-20170526160108+83e1e9f
LinuxMint 18
4.8.0-34-generic #36~16.04.1-Ubuntu

TypeError: Cannot read property 'response' of undefined at

[2017-05-29 17:43] fruchtmord opened #7190 "Can't use username of already deleted account"
Yesterday I created a Keybase Account and deleted it a bit later.... Today I can't created a new account with the same username.

When I try to create the account I get the error : "username already taken"
When I try to "reset" the "old" account I get (obviously) the error: "Server failure: user deleted"

[2017-05-29 17:53] cjb commented on #7190
Hi, sorry to say that this is intentional.  It would confuse people to have deleted accounts reappear (especially if it was owned by someone else).

[2017-05-29 17:54] fruchtmord commented on #7190
It's my account :D the "old"

[2017-05-29 17:56] fruchtmord commented on #7190
and I would like to use my "old" username

[2017-05-29 18:02] cjb commented on #7190
I'm afraid it's still not possible.  :/

[2017-05-29 18:07] fruchtmord commented on #7190
Ok, thank you....

Keybase has no support email am I right?

[2017-05-29 20:12] radzio commented on #5599
@oconnor663  can you please remove all my private ignored folders (leave only my /radzio folder)  on the server side? It's really annoying that I can't do this by myself and now I see these folders on every device :(

[2017-05-29 20:16] strib commented on #5599
Hi @radzio -- what specifically bothers you?  Just seeing them listed under "Ignored folders" in the GUI?  If so, you can click on the little triangle icon next to "Ignored folders" and the whole list will collapse, and you won't have to look at them anymore.

[2017-05-29 20:34] radzio commented on #5599
@strib because I didn't create these folders ( there were created without my knowledge-> https://github.com/keybase/client/issues/5599#issuecomment-277295782), I will never use them. I just want to have more control. If I remove something = it should be removed, if I ignore something it should be ignored. If you don't support removing folders once and for all at least please delete folders which w

[2017-05-29 23:27] jsejcksn commented on #6970
I am now better understanding at least two things which are not documented:

1. Device names are NOT case sensitive
2. In device names, spaces and hyphens are treated as identical

**Will someone please link me to updated documentation about the rules and restrictions on characters for device names?**

[2017-05-30 04:59] alti1981 opened #7193 "Deleted it"

[2017-05-30 06:06] jnievele opened #7194 "Node.js DLL outdated in Windows Client?"
My update tracker (Secunia PSI) warns me that the node.dll that comes with Keybase is outdated - can this be updated?

[2017-05-30 07:12] pixlwave opened #7195 "Login button on iPad"
When first launching the iOS app on iPad, the login button is off screen.
![img_0408](https://cloud.githubusercontent.com/assets/6060466/26571855/9a93006c-450f-11e7-9388-7a78faa2a382.PNG)

[2017-05-30 07:36] muratbsts commented on #7143
Hi @mmaxim is there any update? I tried again. But still does not working.

[2017-05-30 11:35] np commented on #6954
Can these hashes be confirmed ?

[code]

[2017-05-30 12:21] maxtaco commented on #6993
@techmagus can you push the Gear > "Send Feedback" and send up your logs? We can take a look, thanks!

[2017-05-30 12:52] Espionage724 opened #7196 ""http://prerelease.keybase.io/rpm/x86_64/media.1/media" should 404?"
I'm trying to add http://prerelease.keybase.io/rpm/x86_64 as a repo on openSUSE but it wants to try probing http://prerelease.keybase.io/rpm/x86_64/media.1/media as well. If I understand right, if the media.1/media doesn't exist, it ignores that and then uses the baseurl. But in this case, it's denying access, which causes zypper to error-out instead.

Related openSUSE bug report: https://bugzilla

[2017-05-30 13:43] chrisnojima commented on #6963
Hey @Luki110998 @fbaube @notameadow I'm curious why you're revoking all your devices. Is there some flow you're trying to achieve or are you just checking out how the software works?

[2017-05-30 13:55] PaulSpoerry commented on #7166
Thanks @cjb . I'll admit I'm not a heavy reddit contributor (I find a lot of content but I'm not often contributing). Curiously, if I go incognito I can see my [keybase proof](https://www.reddit.com/r/KeybaseProofs/comments/6dh8u4/my_keybase_proof_redditt1pimp_keybasepaulspoerry/) and I can see comments that I've made ([ex](https://www.reddit.com/r/antivirus/comments/5ps05l/avoid_the_new_version_o

[2017-05-30 14:07] maxtaco commented on #4899
@murshid1988 should all be fixed, can you send a `keybase log send?`

[2017-05-30 14:29] maxtaco commented on #7177
Cc: @shazow

[2017-05-30 14:29] maxtaco commented on #7177
Cc: @zapu

[2017-05-30 14:35] cjb commented on #7166
@PaulSpoerry I can't see your profile.  I still suspect you're shadowbaned, not sure why going incognito didn't help show that though.

[2017-05-30 15:02] coldwaterq commented on #5599
For what it's worth I feel the same way about the ones that I have. Mine
were cause by reading public chats of people, so I assume the folders show
up because I have a file in each of their folders saying I read those chats.

On May 29, 2017 1:35 PM, "Radek Piekarz" <notifications@github.com> wrote:

[2017-05-30 16:57] strib commented on #5599
Ok, thanks for the explanation. At the moment our backend data model doesn't allow for folders to be something less than ignored -- if we remove them from the ignored list, they will just show up as new folders to you, and probably be more annoying.

We'll consider adding a complete removal for some point in the future, but at the moment we have higher-priority work ahead of it.  Sorry for the inc

[2017-05-30 16:58] strib commented on #5599
@coldwaterq: those chat folders showed up due to a bug in our initial version of chat, they weren't supposed to be added.  Sorry for the inconvenience.

[2017-05-30 18:19] oconnor663 commented on #5074
@Oldrego I'll email you on the side.

[2017-05-30 18:22] oconnor663 commented on #7114
(I'll follow up here if we get another log send from @schmichael.)

[2017-05-30 18:36] zanderz commented on #7194
Tracked internally with DESKTOP-3846

[2017-05-30 18:45] schmichael commented on #7114
New log: e393265ae2b82bdaabce361c

It mysteriously works after a reboot though so.... feel free to close.

[2017-05-30 19:37] #7190 closed

[2017-05-30 19:37] MoodyReaper opened #7202 "Opening Keybase tray in i3WM"
Using ArchLinux and i3WM. Take a look at the attached video:
[vid-2017-05-30-221251.mp4.zip](https://github.com/keybase/client/files/1039461/vid-2017-05-30-221251.mp4.zip)

Keybase GUI Version: 1.0.24-20170529160110+6514334

[2017-05-30 20:00] matjaz commented on #6136
@strib
`keybase sign -m "2017-05-30 10pm: Please reset folder /keybase/private/matjaz because all the devices that have access have been revoked."`

```BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5wcIkHbrzIlyzJ 7bAtjueSlhghiU7 4LJp56JF1l0S3lb wvZynQF1nMOdHpt HOA6zZD5co9deHN lKqNLoVTa8byMvg qnwe2Q0CP0VmCqO S345NpgkuseHdoG 2QbTRu6Igrjfe3B VPHUk8ujnXDlnz3 PG6GqWj1cZtbGRK 44a2V6N5m3jJmRh l

[2017-05-30 20:05] strib commented on #6136
@matjaz: done.

Next time (for anyone else reading this in the future): please open a new ticket rather than comment on an old one.  I'm more likely to notice it that way.

[2017-05-30 20:43] ChristopherClarke opened #7206 "Unable to Log In on Any Device"
Revoked access on my main machine without realizing the damage it would do -- wanted to rename it

Since then I've been receiving the "eldest called on user with existing eldest KID" error on all devices

log ID: 7e6e36a3e8384d3a09b2f31c

[2017-05-30 20:51] ChristopherClarke commented on #5074
@oconnor663 I've managed to do the same thing as all the others before me. No PGP and no keys remaining. Could you help me out?

keybase.io/chrisclarke

Thanks in advance

[2017-05-30 21:21] #7206 closed

[2017-05-30 23:54] Jb1230 commented on #7188
Similar issue:

Installer: 1.1.55
Privileged Helper: Installed, Bundle Version: 1.0.29, Version: 1.0.29
Updater: Unknown, Install Error: open /Users/default/Library/LaunchAgents/keybase.updater.plist.YGGYK3W4DUUL722ORVPVLZB572R5W5DE: permission denied (updater)
Service: Unknown,
Fuse: Unknown,
Mount directory: Unknown,
KBFS: Unknown,
CLI: Unknown,
KBNM: Unknown,

Log:
Version: 1.1.55
Installables:

[2017-05-31 00:08] maxtaco commented on #7188
cc: @gabriel

@Jb1230 it's some sort of permission problem

[2017-05-31 02:24] MickinSahni opened #7209 "Unable to open folder/chat - windows client"
Nothing happens when attempting to open a private shared folder using the "Open Folder" in the Windows Keybase app. The app was opened from the Windows status bar icon.

Keybase GUI Version: 1.0.22-20170515072240+b608f0e

![image](https://cloud.githubusercontent.com/assets/13204473/26613016/8bfe986e-4586-11e7-974f-8cfc15abafff.png)

[2017-05-31 02:25] maxtaco commented on #7209
Can you do 'keybase log send'? @zanderz can you help out?

On Tue, May 30, 2017 at 10:24 PM Mickin Sahni <notifications@github.com>
wrote:

[2017-05-31 03:16] strib commented on #7209
@zanderz: 6b14ca84aeaa0baf8a0cca1c

[2017-05-31 03:51] dabura667 opened #7210 "iOS pairing for existing account is hard"
Onboarding a new account with iOS is easy, but trying to log in with an existing account (on Linux PC) on iOS is hard.

The help documents say to tap "add device" and a QR code will appear, but no QR code appears on the phone or the PC.

However, when I tried to pair an account made on iOS with my Linux PC, the PC showed a QR code in the terminal, and my PC was able to log in to my phone's account

[2017-05-31 04:17] wolfgang42 commented on #7189
I'm not sure if this is the same issue you're having, but I'm also getting a similar error message. I just upgraded my keybase client from something ancient, and now have a GUI. However, the state of the GUI seems to be a bit confused by the fact that I was logged in on the CLI when I upgraded; I have to poke it a bit before it takes me to the login screen, and when I type my passphrase I get this

[2017-05-31 06:01] murshid1988 commented on #4899
@maxtaco I just sent.

[2017-05-31 06:28] cmeury commented on #7172
Encountered that as well, but on the Android app (latest version, 1.0.2, updated 18 May 2017). Leading or trailing space leads to the error:

**There was an error provisioning**
Unknown error: Bad username or email:
`email@example.com`

[2017-05-31 06:58] dabura667 commented on #7210
OK, here's where the confusion lied:

1. The instructions on the Phone app said "Device > Add Device" which made open the keybase app on Linux and click Device Add, which greats me with a place to type a phrase, but no QR code. **The desktop app should generate and show a QR code** (Workaround: using terminal `keybase device add` works with terminal QR code displayed.)
2. When I eventually did fig

[2017-05-31 07:00] junderw opened #7211 "iOS switching accounts like Slack"
Would be nice if I could switch between accounts verified on my phone via a simple switching mechanism a la Slack.

No password entry for switching would also be nice.

[2017-05-31 07:12] diligiant opened #7212 "web - Pasting a bitcoin address doesn't enable the "continue" button"
One has to manually type/delete a character for the address validation to be triggered and enable the button

[2017-05-31 12:07] Volodya opened #7213 "Keybase needs to be able to limit its network useage"
Currently it grabs all the outgoing traffic making the internet almost unuseable. It is an absolute requirement for such a system to be able to limit its up/down speeds.

[2017-05-31 13:02] fbaube commented on #6963
Basically just checking it out. I'm still stymied by the GUI layout on the iPhone 4s.

[2017-05-31 13:39] maxtaco commented on #7213
Are you using kbfs?

CC: @strib

[2017-05-31 14:10] Volodya commented on #7213
Yes

[2017-05-31 14:29] strib commented on #7213
@Volodya if you're willing to do a `keybase log send` we can see what part of the app is using a lot of network.  I guess if you're actively uploading or downloading to KBFS, that is probably it, though we do put some low limits on upload speeds.  You're right we need limits, but it would be helpful to see what exactly is going on and how we should prioritize it.

[2017-05-31 14:46] ricklupton commented on #6993
@maxtaco I can't get as far as seeing a gear icon -- the options are just "create an account" and "log in". As I described above, I tried logging in but the app crashes. Is there another way of sending the logs?

(I'd definitely like to see Jellybean support kept as I'm still using it!)

[2017-05-31 14:53] maxtaco commented on #6993
cc @cjb

[2017-05-31 14:56] Volodya commented on #7213
@strib, do i need to do that command during the massive upload, because mine has finally finished. i can dump some new files to help you debug, however.

[2017-05-31 14:58] chrisnojima commented on #7172
Ticketed on our side, thanks!

[2017-05-31 15:00] cjb commented on #6993
Perhaps best for us to just try to repro the bug ourselves in a Jellybean simulator, I'll add an internal bug report to do that.

(Haven't reached an opinion yet on how much effort we should put in to supporting Jellybean.)

[2017-05-31 15:44] reed27 opened #7216 "Twitter verification failed"
Link to proof:

https://twitter.com/ricktreed/status/869632848256393216

[2017-05-31 16:48] mvelascov opened #7217 "Facebook verification failed."
No way to complete verification.
I was verified several weeks ago and suddenly failed. Following the procedure to re-enable this verification, after several tries, no way. The post is published and appears in the time line, but desktop app says it is not found.

Keybase GUI Version: 1.0.22-20170515141716+b608f0e

[2017-05-31 16:56] mvelascov commented on #7217
Not an issue. Momentary error. Close, please

[2017-05-31 20:03] #7172 closed

[2017-05-31 23:16] ruipacheco opened #7228 "Can't login to desktop client on macOS"
Downloaded latest keybase app and replaced existing one. When trying to login I get the following error:

http://imgur.com/a/8fTgs

[2017-05-31 23:46] dabura667 opened #7229 "Mobile app push notifications"
It would be nice to get push notifications whenever I receive a chat to any of the accounts which my mobile device is verified and logged in on.

I guess this would also sort of require the slack-like account switch-ability which I saw in another issue.

[2017-06-01 02:08] jzila commented on #7114
@oconnor663: do you want to continue debugging this, or should we count our blessings and close?

[2017-06-01 02:12] jzila commented on #7189
@patrickxb (for peterhallen's log):
[code]

[2017-06-01 02:13] jzila commented on #7189
And wolfgang42's log seems to be looping on the session handler every 5 seconds, not sure if these two issues are related.

[2017-06-01 03:58] Volodya opened #7232 "No way to set up several identities"
At least one of my friends has deleted the account because the current approach is to link everything to a single identity.
In the perfect world perhaps this would be acceptable, but we live in the world, where people can easily get fired if their work Twitter will get associated with the Reddit that commonly discusses controversial things. Therefore it is a must to be able to create several ident

[2017-06-01 04:03] junderw commented on #7232
On the mobile app it is easy to log out and log in to another account, but it requires password each time.

On desktop, I couldn't find a button in the app, but in the terminal using command `keybase logout` will log you out and `keybase login xxxxxxxx` will log you into an existing account xxxxxxxx, but also you can restart keybase after `keybase logout` and it will give you the screen for creati

[2017-06-01 04:03] junderw commented on #7232
The issue should maybe be renamed to:

"Add logout GUI button for desktop apps"

[2017-06-01 04:29] Volodya commented on #7232
This would be an acceptable temporary solution. Permanent solution, of course, should involve the ability to run two identities in parallel.

[2017-06-01 04:39] junderw commented on #7232
I think something like the Slack app would be good in the end.

The identities would show on the left side of the app (like how multiple slacks appear in the slack app) and just clicking on one will switch out the whole UI for the new user.

[2017-06-01 11:00] maxtaco commented on #7189
Try 'keybase logout' and then 'keybase login' from the prompt

On Wed, May 31, 2017 at 10:13 PM John Zila <notifications@github.com> wrote:

[2017-06-01 11:52] KamilLelonek opened #7233 "Please reset my personal folder"
[code]

[2017-06-01 11:56] j0nathandipasquale opened #7234 "Facebook proof problem"
I can't prove my Facebook identity. I tried with macOS Desktop App and cli command, I got a public post on my Facebook timeline ( https://www.facebook.com/J0nathan.Di.Pasquale/posts/113316615926589 ), it's public but Keybase says that it can't verify the proof. ( https://keybase.io/jdipasquale/sigchain#44b9e5a839e77d03af6183ceefcbc64ad6b2497e5996c120f99037cf7869663c0f )

Any idea or suggestion pls

[2017-06-01 12:39] maxtaco commented on #7228
Wow, I've never seen this one before!  Can you send `keybase log send`?  IT might not work for the same reason...

[2017-06-01 12:59] cjb commented on #7228
@ruipacheco Do you know if your network connection tries to strip encryption, like if you work at a big company maybe?

[2017-06-01 13:54] syberphunk opened #7235 "Problems when behind Proxy"
Unable to start login process after typing in username, network is behind a HTTP proxy and most other ports are controlled.

There's no option to enter either a SOCKS or HTTP proxy into the software which would help with this.

Keybase GUI Version: 1.0.23-20170522110822+8a8aea0
![capture](https://cloud.githubusercontent.com/assets/234857/26682933/10f6d73a-46da-11e7-9100-d8ca63b46eef.PNG)

[2017-06-01 13:57] peterhallen commented on #7189
@maxtaco I attempted this via the `cli` and It just hangs. Here's a snippet from `/home/pete/.cache/keybase/keybase.service.log`
[code]
I'm going to kill the processes and reload them to see if anything changes. Let me know if you need any additional data from me.

Thanks for the help with this!

[2017-06-01 13:59] maxtaco commented on #7189
Can you send `keybase log send`.  Hopefully @patrickxb  can take a look.

[2017-06-01 14:03] peterhallen commented on #7189
@maxtaco Here's the log info `e96c6b4076e2b3737d77801c`

However, I killed the `keybase` process and issued a login at the `cli` and now I'm back in.

Please let me know if there's anything else you need to troubleshoot. Thanks!

[2017-06-01 14:18] patrickxb commented on #7189
@jzila those session requests are just coming from the gui, nothing to be concerned about.

@peterhallen first log shows service asking UI for a passphrase:

[code]

[2017-06-01 14:27] cjb commented on #7189
Hi folks, sorry for missing this thread earlier -- we think we fixed this on the JS side yesterday.  No need to look into it further right now.

[2017-06-01 14:29] peterhallen commented on #7189
Thanks guys!

[2017-06-01 14:29] #7189 closed

[2017-06-01 14:30] patrickxb commented on #7189
@peterhallen it seems as though you are on a laptop that is sometimes behind a corporate proxy, which won't work with keybase.

I see lots of network errors in your logs:

[code]

[2017-06-01 14:40] peterhallen commented on #7189
@patrickxb Actually the network made no difference. The login / logout would just hang, whether I was on my local network at home or remote. The killing of the processes was the only thing that worked.

[2017-06-01 14:45] ruipacheco commented on #7228
@cjb Doing this from home but I am running Little Snitch. Can you explain what you mean with that?

@maxtaco I get the following error:

[code]
The github line is me trying to use this ticket as reference.

[2017-06-01 14:48] maxtaco commented on #7228
I agree with @cjb, seems like someone or something is MITM'ing your TLS connections. Maybe some like "firewall" or maybe adware that's trying to filter your traffic.

[2017-06-01 14:54] ruipacheco commented on #7228
How can I debug that?

[2017-06-01 15:02] gorgaar commented on #6963
@maxtaco Could you please reset my account, too? I created it earlier to check it out and now I get the error message which led me here:

There was an error provisioning
Unkown error: eldest called on user with existing eldest KID

It's the same message on MacOS X and Android. Apparently I removed my device (Mac) before the Android device was set up and I didn't know that in that case I can't set

[2017-06-01 15:21] CiraciNicolo commented on #6945
Sorry for the delay! I've been busy in the real world! By the way, it keeps crashing when opening the private folder.

[2017-06-01 16:11] cjb commented on #7228
@ruipacheco Hm, maybe share the output of this command?

openssl s_client -showcerts -connect api.keybase.io:443

[2017-06-01 16:55] strib commented on #6945
@CiraciNicolo: it still crashes even after you installed the dmg I linked to?  Bummer.  Can you please do another `keybase log send` with this new installation?  Thanks!

[2017-06-01 17:04] strib commented on #7233
Hi @KamilLelonek, ok I've reset your private folder.  Please close this out if things look ok now.  (Might require a Keybase restart.)

[2017-06-01 17:06] ruipacheco commented on #7228
[code]

Two things: command doesn't seem to end, I need to ctrl + c to get back to my shell, so I hope this is all you need (Very happy to do anything else you ask me tho). And second, that's my anti-virus, Kaspersky.

[2017-06-01 17:09] cjb commented on #7228
Cool.  It is failing because Kaspersky is replacing our attempts at creating an encrypted connection to Keybase with a connection that is encrypted to Kaspersky instead, so that it can monitor it.  But, we're an encryption product -- we don't want Kaspersky to read your communications with our servers, so we refuse the connection.

For the moment, if you want to use Keybase then you would have to

[2017-06-01 17:11] #7233 closed

[2017-06-01 18:31] ruipacheco commented on #7228
Thanks!

Closing this as the problem is on my side.

[2017-06-01 18:31] #7228 closed

[2017-06-01 18:37] cjb commented on #7228
@maxtaco Hm, as we get more users, it'd be convenient if we could report the issuer name on the CA in this case back in the error somehow..

(It could be hard coded into the error handling on the log send command, even.)

[2017-06-01 19:28] Hydrogenical opened #7237 "Keeps saying "Securing..." No loading at all"
Attempting to chat with another member of keybase and the chat keeps saying securing. He can send messages to me but i cant send messages to him as i have a loading screen of securing. Not sure why this is happening.
![dfd9d1bbb8d9ce49964e225363dc69fa](https://cloud.githubusercontent.com/assets/29130269/26697125/d54039fa-4708-11e7-8c2e-7ecdfbd3f76d.png)

my log id: 471ee3b9794b5412da7cd31c

[2017-06-01 19:41] #7237 closed

[2017-06-02 08:49] hryamzik commented on #6963
I've revoked my device in order to rename it and faced the same issue, could I possibly ask you to reset my account as well?

[2017-06-02 12:21] CiraciNicolo commented on #6945
New log id: 11ea31aeba1213b893fea71c

Thank you for the help.

[2017-06-02 13:05] maxtaco commented on #6963
@gorgaar and @hryamzik, I reset your accounts

[2017-06-02 13:26] toerict commented on #6096
I don't believe keybase has this functionality yet. Hopefully it will be coming soon.

[2017-06-02 14:09] victortoso commented on #6549
Had the same issue. It only imports the public key, you can verify with keybase pgp export -s which should not print you private key afterwards. It should not request the pgp password for the public key...

[2017-06-02 14:23] ereli commented on #3327
I have the same issue.
reinstalling it doesn't help.
it only works if you open cmd.exe with admin privileges.
If you thought about reinstalling as normal user - you can't. the setup won't execute as a regular user.

[2017-06-02 16:20] zanderz commented on #3327
@ereli Normal user in this case is someone with permission to install software, not running "as administrator" with elevated privileges but possibly in the administrator group. It definitely works if installed this way. Sometimes a corporately administered PC has restrictions on installing things, for example. Also, reinstalling means uninstalling the old one first. Note that you may need to also

[2017-06-02 19:54] ereli commented on #3327
I just downloaded the latest build (`keybase_setup_386.exe`).
![image](https://cloud.githubusercontent.com/assets/1475340/26742435/900c16ce-47d5-11e7-9183-fe5b2b2ad16f.png)

The installer starts and exists after couple seconds - not dialog appears on the screen.
I'm on
[code]
is there a way to turn on some logging so we'd be able to see where's the error?

[2017-06-02 20:38] zanderz commented on #3327
It should leave logs already, look in '%TEMP%\Keybase*log`. I'd be interested to see what's in there.

[2017-06-02 20:50] ereli commented on #3327
It doesn't say much
[code]

That's the entire log.
I'm using the default UAC settings
![image](https://cloud.githubusercontent.com/assets/1475340/26744245/fd7ab38a-47dc-11e7-8ffd-914216a1d448.png)

[2017-06-02 21:26] zanderz commented on #3327
this is really weird. Everything else is uninstalled? What if you invoke it with the '/layout' option? That's supposed to log what would happen without actually installing anything.

Do you have any actively blocking AV software installed?

[2017-06-02 22:14] kratos13 commented on #6795
Wish I could help. I'm running on Raspbian-ARM7

kratos@cronus:~ $ keybase chat list
[1]  (unverified) mintyavocado    [???] error unboxing chat message: KBFS client wasn't found
[2]  (unverified) cryptoniteio    [???] error unboxing chat message: KBFS client wasn't found
[3]  (unverified) kratos13@github [???] error unboxing chat message: KBFS client wasn't found

[2017-06-03 01:13] jzila commented on #6945
@CiraciNicolo when you say "redirected", what does that mean? `cd /keybase/private/you` goes to `/`?

[2017-06-03 01:14] strib commented on #6945
@jzila: it is still crashing, so it's probably just going to /keybase with no mountpoint.  I need to make a new dmg, have a reminder to do so on Monday.

[2017-06-03 04:25] eki opened #7255 "Twitter and Github -only avatars are not very inclusive"
Got my wife to try keybase and the first thing she wanted to do was set her avatar... she's not a software developer (no Github) and doesn't like twitter... so, uh, I guess she's SOL.  : \

Would absolutely *love* if setting a profile picture were as easy as dropping the image into her kbfs. I'd actually love to use that, too, even though I have a github-based avatar. I think kbfs would actually b

[2017-06-03 07:51] yahooeny commented on #7255
it's to my understanding that keybase relies on gravitars which are linked to the email address you sign up with
https://en.gravatar.com/

[2017-06-03 14:49] magandrez commented on #2056
@strib @tv42 Regarding this issue, it turned out it wasn't Emacs' auto-save, as I already had it setup to backup files in a specific local folder in my home.

The problem turned out to be Emacs' lock files (which you cannot redirect to any other folder): here some [Emacs documentation on File Locks](https://www.gnu.org/software/emacs/manual/html_node/elisp/File-Locks.html).

So what I did was disa

[2017-06-03 15:02] CiraciNicolo commented on #6945
[code]

This is the output as today.

[2017-06-03 15:25] strib commented on #6945
Thanks @CiraciNicolo, I will make a new dmg for you to try on Monday.  I missed a case when I built the previous one.

[2017-06-03 16:52] Kakise opened #7256 "Can't change my profile pic + be refollowed by my previous follower after reinitializing my account"
Hello,
I changed my pgp key and reinitialized my account but sitll can't be refollowed by my previous followers and, worse of all, I can't even set a new profile pic. It asks me to verify a twitter/github account (which I already did)

Thanks

[2017-06-03 21:05] strib commented on #6945
Hi @CiraciNicolo, here's another special build you can try when you have time, please: https://s3.amazonaws.com/prerelease.keybase.io/darwin/Keybase-1.0.24-20170603203032%2Bbc45d6e.dmg

[2017-06-03 22:24] psenger commented on #7216
@reed27 I had a problem linking twitter and key base. I thought it was because my account had mixed case in the log in name e.g. @PSengerDownUndr. After I tried four times with no luck I went into my Twitter Privacy Settings and opened up the security settings. Making it more open, I saved, and tried again. It worked, and was verified. I went back in to twitter and turned my security back to the o

[2017-06-04 02:05] eki commented on #7255
I can't find any reference to gravatar in the docs or in the app. I see there have been issues opened to request gravatar support, but I don't see anything saying it's been definitively added.

The keybase desktop app says, "For now, Keybase shows your profile photo from your Twitter or Github proofs."

[2017-06-04 06:45] v6 opened #7257 "// , Docs don't point out that you need to follow someone and send them a message to file share."
// , Keybase GUI Version: 1.0.23-20170519175207+d6c5e9e

Update https://keybase.io/getting-started accordingly.

[2017-06-04 06:47] v6 commented on #7257
// , This isn't much of a problem for experienced users, but for newbies, it can waste an hour of time.

[2017-06-04 07:51] lyneca opened #7258 "kbfs not uploading files"
Hello,
Stuff I put in my /private/me,other/ folder isn't appearing for the other person or any of my other devices.
I am also unable to receive any changes, except once initially when killing keybase and kbfsfuse and then running run_keybase.

my log id: 0c45c3d0180bb7775763c71c

[2017-06-04 07:59] lyneca commented on #7258
Okay, this managed to fix itself somehow...

[2017-06-04 07:59] #7258 closed

[2017-06-04 09:09] sruester opened #7259 "Cannot change unverified e-mail address via browser"
When creating my account I spelled my e-mail address wrong. I couldn't change it with the browser. With the application it worked.

[2017-06-04 09:32] imp1sh commented on #6795
Who maintains keybase for FreeBSD? Shall I open a bug in bugs.freebsd.org instead?

[2017-06-04 13:42] Raul117 opened #7260 "Startup and Command Line"
Keybase GUI Version: 1.0.23-20170522110822+8a8aea0

The first bug I encountered was trying to start keybase. It just opened up the window and said loading but nothing else. I tried repairing but it gave an error that it wasn't the right version despite using the same version installer. So I uninstalled and re-installed. The next bug, I don't exactly know if its a bug or user error but, I typed in

[2017-06-04 14:27] strib commented on #7258
Hi @lyneca -- sorry, you were hitting a known bug in a new performance optimization. It is fixed in the most recent releases, so maybe you upgraded and restarted Keybase to get it to work?  Let me know if you see any more issues.

[2017-06-04 16:51] kratos13 commented on #6795
How did you compile? I compiled my ARM on OSX.
On Jun 4, 2017 2:32 AM, pebrille <notifications@github.com> wrote:

Who maintains keybase for FreeBSD? Shall I open a bug in bugs.freebsd.org instead?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/keybase/client/issues/6795#issuecomment-306029204>, or mute the thread<https://github.

[2017-06-04 18:04] PokeAcer opened #7261 "Issue after reset"
After resetting my account with new keys for security (I used to have my VPS and such on there and I'd rather not), I have issues with chat. My first message sends fine, but any message after that fails; it keeps getting random errors or network connectivity issues.

my log id: b382a07700fce35a213efc1c

[2017-06-04 18:57] njaremko opened #7262 "Android Client Error Provisioning"
Installed and it worked correctly for a while. Recently opened the app and I would get errors on all the pages. After logging out and trying to log back in, i get error

[code]

Problem persists after uninstalling and reinstalling the app.

Phone: Google Pixel
Android Version: 7.1.2
App Version: 1.0.2

[2017-06-04 22:05] Wolf1098 opened #7263 "Public Folder"
I reset my account after losing access to all my rekey devices and noticed my public folder is not syncing with https://keybase.pub/wolf1098/

my log id: 24f1dd8ec0edf7ec9ee7541c

[2017-06-04 22:37] spiveeworks opened #7264 "Cannot push to private bare repo"
I made a repository on an external hard drive, committed some things, and then made a bare clone in my personal folder.
Pushing to this repo worked once, but now when I attempt to push I get:

[code]
I copied the bare repo out using explorer, and set up a new remote to which I could push without issue.

useful and descriptive: 775d23033f1ba504bea03d1c

[2017-06-04 22:49] strib commented on #7264
Hi @spiveeworks, I don't see any immediately obvious errors in the log -- do you know about what time you had the error?  Or about how long before you sent the log?  Thanks.

[2017-06-04 22:53] strib commented on #7264
Oh I did find this error, not sure if it's fatal for git or not:

[code]

@taruti any ideas?

[2017-06-04 23:17] spiveeworks commented on #7264
I think I tried pushing a number of times, including maybe within an hour prior to sending the log?
Sorry that I can't help more

[2017-06-04 23:28] spiveeworks commented on #7264
I tried `git push` again and sent an updated log: afafd157a0af4eb91480391c
as described the push was about 09:22

[2017-06-04 23:30] spiveeworks commented on #7264
sometimes I get decryption notifications when I push (presumably when the cache is clear) but I don't get encryption notifications as far as I can tell. That time I got no notifications.

[2017-06-04 23:43] ype commented on #7190
@cjb I am experiencing the same issue as fruchtmord.

Although it is not possible to regain deleted usernames at present, do you know if this feature will be implemented in the future?

[2017-06-05 00:15] strib commented on #7264
Thanks!  I see that same error a 09:22:

[code]

@taruti can you please take a look?

[2017-06-05 01:13] ambigit opened #7265 "ERROR Bad key found: no private key material or GPGKey"
When I try to log in through command line or GUI, after entering my password, I get the following error:

"▶ ERROR Bad key found: no private key material or GPGKey"

I think that I have the same issue as below, but I do not understand the solution:
https://github.com/keybase/client/issues/3743

Thanks

[2017-06-05 01:39] maxtaco commented on #7265
Can you please provide some more info.  Please do `keybase log send` and we'll take a look

[2017-06-05 01:48] ambigit commented on #7265
Yep Log ID: 01b16c63c6c6d64d076e191c

[2017-06-05 04:11] rafaelh opened #7266 "User Enumeration"
Hi guys, really enjoying the app so far. This isn't exactly stop press, but I thought it worth mentioning: it's possible to [enumerate the users](https://www.owasp.org/index.php/Testing_for_User_Enumeration_and_Guessable_User_Account_(OWASP-AT-002)) on the site by entering a target email address and a random password.

![userenumeration](https://cloud.githubusercontent.com/assets/3272113/26770291/

[2017-06-05 07:35] #7193 closed

[2017-06-05 09:22] davidwengier commented on #7266
This also exists on the "Recover account" page

[2017-06-05 11:54] taruti commented on #7264
Will look at this tomorrow morning. Error comes from a MoveFile (i.e. rename) with existing target.

@spiveeworks does this reoccur if you manually remove `plan.lock`? An interrupted git run might have left it behind.

[2017-06-05 12:09] cjb commented on #7266
Hi folks -- Keybase sigchains are public documents, we don't try to keep user info private. If you want to see whether a given username exists you can just go to their public profile page..

[2017-06-05 12:18] rafaelh commented on #7266
I can understand making user list public, but does that extend to allowing you to guess which email address they use for credentials?

[2017-06-05 12:33] maxtaco commented on #7266
Thanks @rafaelh  and @davidwengier.  We're aware of the *email* enumeration list, but it's a UX/security tradeoff, and since we have pretty aggressive rate-limiting on these endpoints, we think it's worth it.

[2017-06-05 12:40] maxtaco commented on #7261
Can you try `keybase logout` and then `keybase login` from the prompt?

[2017-06-05 12:41] maxtaco commented on #7260
The second bug isn't a bug. `keybase pgp decrypt` without any other arguments is waiting for input from standard input....

If you do a `keybase log send`, we can look into the first issue

[2017-06-05 12:53] maxtaco commented on #7262
Thanks for the feedback. We have a fix for this issue that should be available on the next release.  Is it possible to get to send automated feedback from the phone?  We could dig deeper into this with some logs. I'm not sure what caused the first issue you saw --- do you recall what the error message was?

Cc: @oconnor663

[2017-06-05 13:37] PaulSpoerry commented on #7166
Thanks for the help @cjb and @maxtaco. It was my profile on reddit. It's been reinstated and the proof now works. Thanks so much!

[2017-06-05 13:37] #7166 closed

[2017-06-05 14:07] oconnor663 commented on #7114
Filed [a task](https://keybase.atlassian.net/browse/CORE-5421).

[2017-06-05 14:13] jrswab opened #7267 "Android App Error: Failing to load previous link ID after first 24 hours"
I downloaded the Android app and it worked great for about 24 hours (maybe less) and now when logging in it give me this error message.
`Error: tried to load previous link ID XXXXXXX, but link not found`

Logging in works great online but have not tried the desktop app since I'm in the office.

I did see a similar issue here on GitHub but was not exactly the same wording/language:
[Bug 7262](https

[2017-06-05 14:16] maxtaco commented on #7267
Thanks @jrswab for the report. We have a fix in the latest build, we just have to prepare and push out a fix. Thanks!

[2017-06-05 16:11] kg4zow opened #7269 "Chat shows message contents when screen is locked"
When the MacOS Keybase client receives an incoming chat message, it sends a notification through Apple's desktop notification system, which causes a box/bubble to appear on the screen, even if the screen saver is active and the screen is locked.

The problem is, **this notification contains the content of the received chat message.** If I'm chatting with somebody about something which needs to rem

[2017-06-05 16:12] kg4zow commented on #7269
Also, I just noticed the Copyright message at the bottom of the "About" window says "2015" rather than "2015,2016,2017" (i.e. every year during which changes were made to the code.)

[2017-06-05 16:25] CiraciNicolo commented on #6945
Hi @strib, it's still crashing. I'm starting thinking I'm the problem here. I had installed the latest version but running `keybase status` shows me that the KBFS version is not the same as the Keybase app.

[code]

[2017-06-05 17:16] strib commented on #6945
Hi @CiraciNicolo, the version mismatch is normal.  We use the git hash from the KBFS repo for the KBFS version, and the hash from the client repo for the Service version.

I'm basically just guessing on how to fix your issue because I can't reproduce it, so I probably missed something.  If you do another `keybase log send` I can check why it's crashing this time, and make another incremental fix.

[2017-06-05 17:26] zapu commented on #7265
@ambigit hello and sorry for your troubles. Do you still have that key in your gpg keyring? Can you post result of `gpg2 -K` which would print basic information about your keys? Do you use any type of hardware key vaults or smart cards?

[2017-06-05 17:27] strib commented on #7263
Hi @Wolf1098, I restarted the server and things look ok now.  Sorry for the inconvenience.

[2017-06-05 17:27] #7263 closed

[2017-06-05 17:54] ambigit commented on #7265
I get this. (put some 'x's for personal info)

/Users/xxx/.gnupg/secring.gpg
-----------------------------
sec#  4096R/C87C17F2 2016-10-23 [expires: 2017-10-23]
uid                  xx xxx <xxxx@gmail.com>
ssb   4096R/D7E78AF9 2016-10-23
ssb   4096R/B63E0D1C 2016-10-23

So yeah my secret key is not in my gpg keyring, but I thought I could sign with subkeys so I don't have to keep the master sec on

[2017-06-05 18:12] ambigit commented on #7265
Ok I worked out what I needed to do...I must have uploaded a subkey rather than the master key to keybase. Not sure if that is the only way it is supposed to work but resetting keybase with my master key did the trick.

[2017-06-05 19:47] gabriel commented on #3907
Maybe we should have the app ask you on quit if you want to quit everything (app, menubar, kbfs) or just the app?

[2017-06-05 20:16] pepdiz opened #7277 "android app doesn't work"
Keybase GUI Version: 1.0.23-20170522110822+8a8aea0

I've downloaded Android app for a somehow limited Smartphone. App was downloaded from google play store and installed successfully but when launching it stand still in blue screen plenty of keys with a central White key, nothing more happens.

[2017-06-05 20:17] waylonis commented on #7070
I agree. It would be sensible to automatically be installed in the user's home directory or even better, provide a setting to specify the location.

[2017-06-05 21:20] sgpennebaker opened #7278 "There was an error provisioning."
tried to use mac client, got error provisioning error multiple times.  also tried invite code that you guys sent and that failed also.

my log id: 4ec2393762de80cf230abb1c

[2017-06-05 21:32] merrells commented on #7278
same issue for me... on osx, and ios...

[2017-06-05 21:57] wpk- opened #7281 "There was an error provisioning"
Keybase GUI Version: 1.0.23-20170522110822+8a8aea0

Not specifically a problem with the GUI version. It started when I wanted to add a public ZCash address via the website. That didn't work, with the below error. Then I downloaded the mobile and desktop clients but cannot login in either because they give this same error after entering the device name.

There was an error provisioning
Unknown erro

[2017-06-05 21:57] maxtaco commented on #7281
On it, thanks!

[2017-06-05 21:58] wpk- commented on #7281
Wow, that's lightspeed. Did I press submit already?

[2017-06-05 21:59] Kodachi75 opened #7282 "Can no longer "FOLLOW" anyone"
I have successfully followed one person. For every subsequent time I try to follow someone, I receive an "Error loading profile: There was an error downgrade lease (by KID) active for ....." and a string of hexadecimal characters. Am I doing something wrong?

[2017-06-05 21:59] maxtaco commented on #7281
should be fixed!  though i hope you are not in a stuck state

can you try it again?

[2017-06-05 22:00] maxtaco commented on #7282
sorry about this

should be fixed, can you try it  again?

[2017-06-05 22:00] wpk- commented on #7281
You're a hero. Thanks.

[2017-06-05 22:01] maxtaco commented on #7278
Thanks !!!

should be fixed, can you try again?

[2017-06-05 22:01] maxtaco commented on #7281
thank you, sorry for the bug!!!

[2017-06-05 22:01] #7281 closed

[2017-06-05 22:50] spiveeworks commented on #7264
there is no `plan.lock`

also I just noticed that when I push using gitextensions I get the following dialog:
![image](https://cloud.githubusercontent.com/assets/9738637/26806590/fae94e78-4a94-11e7-8bf4-d8c98a9bbf87.png)

[2017-06-05 23:04] spiveeworks commented on #7264
so I realized that the last time a push worked, it was from Ubuntu on the same machine, so I tried that again and it worked: 80f0b88f72ab33417ba0e61c

The push was in the last few minutes.

[2017-06-05 23:29] spiveeworks commented on #7264
pushing from windows still doesn't work, I tried cloning the repo out of private again to see if it was config related, and am now getting

[code]

[2017-06-05 23:36] sgpennebaker commented on #7278
mac client seem ok now.

[2017-06-05 23:46] PokeAcer commented on #7261
After doing such, it worked fine on my phone and Desktop; thanks! :3

[2017-06-05 23:46] #7261 closed

[2017-06-06 02:06] rafaelh commented on #7266
That makes sense. Thanks for taking the time to respond.

[2017-06-06 02:06] #7266 closed

[2017-06-06 02:17] maxtaco commented on #7266
Thank you for the report!

[2017-06-06 05:11] fkabs commented on #7144
@strib sorry for my really late reply
it's working now as desired, thank you sir!

[2017-06-06 05:11] #7144 closed

[2017-06-06 05:12] westonruter commented on #2032
When I try `keybase pgp select --only-import` I get:

keybase version 1.0.23-20170522181119+8a8aea0
gpg (GnuPG) 2.1.21

If I try using `gpg2` directly on the command line, it works.

[2017-06-06 06:46] redelpedron opened #7291 "[Android Client] Issues"
GUI:
-Bottom navigation tabs are cut in half (See attached screenshot)
-Appbar is empty, I'm not sure if that's intended.

![screen](https://cloud.githubusercontent.com/assets/5410887/26816933/dee7b250-4ac6-11e7-8da2-1f3b12c595f6.png)

Other
-Upon login it redirects back to the login menu before redirecting into the profile activity

[2017-06-06 07:46] zapu commented on #7265
Glad you solved it! Unfortunately it's hard to be compatible with every key configuration when using third party libraries (in our case, kbpgp and go-crypto), so some non-trivial setups give people troubles. Now that you have devices provisioned, you shouldn't run into these kind of problems again. Happy Keybasing!

[2017-06-06 10:26] ambigit commented on #7265
Thanks!

[2017-06-06 10:26] #7265 closed

[2017-06-06 11:55] maxtaco commented on #2032
@westonruter  can you do `keybase log send`?

[2017-06-06 13:13] westonruter commented on #2032
@maxtaco log id `961283e4af1a8b623747071c`.

[2017-06-06 13:53] imp1sh commented on #6795
I did not compile but used the precompiled version using the package management.

[2017-06-06 19:28] maxtaco commented on #2032
thanks, cc to @zapu  for the triage

[2017-06-06 20:27] zapu commented on #2032
hello @westonruter , thanks for using Keybase!

importing seems to fail with:
[code]

would you mind describing your setup so I can see what we are compatible with and what might be causing problems? Thanks

[2017-06-06 20:34] westonruter commented on #2032
@zapu I'm on OSX 10.12.5. I installed Keybase via the OSX installer. Keybase PGP has worked up until recently, and the only thing I think changed was a Keybase app update. When Keybase stopped working, I installed gpg2 via Homebrew yesterday, and I can use gpg2 directly with the keys I have in `~/gnupg/pubring.gpg`.

[2017-06-06 20:42] zapu commented on #2032
Can you show of `which gpg2` ?

Also can you verify that they keys would actually export with gpg2 invoked manually? Carefully, without anyone looking or anything sniffing, try `gpg2 --export-secret-key -a` (careful, your secret key will be printed out if that succeeds).

Thank you and sorry for the inconvenience.

[2017-06-06 21:01] westonruter commented on #2032
Yes:

[code]

[2017-06-07 02:37] agompel opened #7302 "For Fedora/RedHat/Suse consider Delta RPM's for updates."
Hello:
  "keybase" updates are big... and frequent.
  Using Delta RPM's on repos would make updates a lot faster, and also reduce bandwidth usage.

  If you do not know how to do it, you may consult 👍
     https://fedoramagazine.org/
     https://start.fedoraproject.org/
    http://fedoraplanet.org/
     etc...
Thanks for the attention.
A.G

[2017-06-07 03:09] DiagonalArg opened #7303 "Twitter Proofs - please allow us to put this in our profile rather that only the stream. (For private feeds.)"
I have a private twitter feed, so I tried putting the proof into the twitter profile (visible on the twitter.com/@user page).  That should be recognized as well as it being in the feed, but it isn't.

(I did try changing my privacy setting to public, doing the verification, which worked, and then returning to private, but once I did the latter the proof broke.)

[2017-06-07 03:15] koaxed opened #7304 "rekey/delete private folder"
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

hello,

can you please rekey/delete my private folder under /keybase/koaxed/private?

-----BEGIN PGP SIGNATURE-----
Version: Keybase OpenPGP v2.0.71
Comment: https://keybase.io/crypto

wsBcBAABCgAGBQJZN29aAAoJEHH4LiivGXjHmeAH/3zc8uhyjyTHoHrOdUOj5BJH
h4Q7ahTNbM0nd008JUf4/qbQU8fPTGzceDHVrVx7NBnaXcQ8z/QCeZGhnh4OUQfE
MBJ8eLRQZg/x8fltUlSrtUswMEA/u4DJCsfW

[2017-06-07 03:20] strib commented on #7304
Hi @koaxed, the PGP isn't checking out for me, for some reason.  Also, we prefer if you specify a reason for why you need it reset.  Maybe it's because you revoked all devices, including paper keys, that had access?  If so, please run this command on an currently-valid keybase device, and substitute the current date and time where indicated:

[code]

and post the results here.

[2017-06-07 03:27] koaxed commented on #7304
hi @strib,

I revoked the original device (laptop) and my paper key as well as I had lost the key for it.

BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5wcIkHbs7WATKZ 1VTmJrUi3bvEI4P kt86PYTqsdVMQmh 5LhEB8gUCHBVYJl IHO0G8uTrrzeiw0 t70pYBfbAkuz28F OjnIrnqoyIB2gkS 5b92UFmBt5Cco6F THkvCrDE8rWlIi7 pdwXOsFfVN20uwY a1z2tPZUTOZ1OlK xx2PvNixj0FyLRE hF24KNJ7Ol2dv5G rJn0bRMY7R6Xr7X ONhZ7bZdQ8GhL5

[2017-06-07 07:57] arievandriel opened #7305 "Unable to find Reddit post"
Hi,

I'm trying to proof my Reddit account, but it keeps failing saying it cannot find the post.

Here's the link to the post: https://www.reddit.com/r/KeybaseProofs/comments/6fs11q/my_keybase_proof_redditsinnerman73/

Did I miss something?

Regards,

Arie

[2017-06-07 11:13] FishyFing opened #7306 "Keybase doesn't have access to my private folder..."
I installed the Keybase Mac app today, and was given this...

![shot_2017-06-07_12-13-10](https://user-images.githubusercontent.com/8279924/26875620-b78b2570-4b7a-11e7-9c4f-0a4eb55a5542.png)

[2017-06-07 14:16] strib commented on #7306
Hi @FishyFing, that's a special macOS fake file.  It's nothing to worry about, but you shouldn't be seeing an error notification for it.  I'll look into why.  It would help if you can do a `keybase log send` and report the resulting log ID here, so I can see what version of our software you're running.  Thanks.

[2017-06-07 14:16] strib commented on #7306
By the way, can you still access the real folder, `/keybase/private/franc_ist`?

[2017-06-07 14:18] FishyFing commented on #7306
ye, i can open it from inside keybase, and finder, but keybase throws the error whenever i open it from inside keybase.

(I'll send the log over when I get home later)

[2017-06-07 14:39] pipiche38 opened #7307 "When keybase will be available on other iOS Store (France for instance)"
Today keybase app on iOS is only available on a US Apple Store. When will it be available on other stores ?

[2017-06-07 14:54] cjb commented on #7307
It's available (almost) everywhere except France, because France has a law that requires government permission to import cryptography.  We don't have an ETA on receiving that permission from the French government.

[2017-06-07 14:55] cjb commented on #7305
Hi, your Reddit account is probably shadowbanned.

[2017-06-07 15:36] mannp opened #7308 "Can no longer access my private encrypted files on macos sierra"
Have been using the mac app for a while and its been fine.

Noticed I now cannot see any files in my private encrypted area.

I would select the private area and receive a notification that the files had been decrypted and I would see my files in my private area.

I no longer get that notification that my files have been decrypted and no errors are shown, just the private directory remains empty.

[2017-06-07 16:07] ogfomk commented on #7277
I have had to uninstall the app. I'm using a Samsung SM-G360T (Galaxy Core Prime) / Android 5.1.1 which is not a bad cheap phone. My experience was that the app installed fine. The set up process went ok. (It is better to install the desktop application first so you can recover faster.) Anyway after a few times when I would use my password to open the application it would loose authentication. I c

[2017-06-07 16:18] maxtaco commented on #7277
This is deeply troubling. @ogfomk can you provide any more details about exact error messages or can you go into the app and provide a "send feedback" so we can look at logs?

cc: @patrickxb, seems like an issue with logout/login

[2017-06-07 16:29] bnschmdt commented on #6963
Ahhh. "I've revoked my device in order to rename it and faced the same issue, could I possibly ask you to reset my account as well?" exact same issue here.

[2017-06-07 16:43] maxtaco commented on #6963
@bnschmdt  what is your keybase ID?

[2017-06-07 16:58] bnschmdt commented on #6963
"Benjamins"

Sent from my iPhone

On Jun 7, 2017, at 12:43, Maxwell Krohn <notifications@github.com<mailto:notifications@github.com>> wrote:

@bnschmdt<https://github.com/bnschmdt> what is your keybase ID?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/keybase/client/issues/6963#issuecomment-306854022>, or mute the thread<ht

[2017-06-07 16:58] maxtaco commented on #6963
ok, @bnschmdt, you are reset

[2017-06-07 17:10] patrickxb commented on #7277
Very hard to say without a log.

@ogfomk if you could do "Settings (gear icon) => FEEDBACK => Include my logs" on your android device, it would be very helpful.

Thanks!

[2017-06-07 17:16] strib commented on #7308
Hi @mannp, thanks for the report.  I took a look at the logs, and nothing jumps out to me as being wrong.  It seems like you're accessing your private directory (`/keybase/private/mannp`), and it's just empty.  This is probably a dumb question, but are you certain you didn't delete everything in the directory?

When did you first notice this problem?  From our servers, it looks like nothing has be

[2017-06-07 17:21] strib commented on #7308
By the way, if you want to give me access to more of the metadata about your folder, so I can help debug it, please run the command below from a terminal.  It will show me filenames, dates, and the operations you did to your folder (which would otherwise be encrypted and hidden from me), but it doesn't give me access to any of the data in those files.

[code]

[2017-06-07 17:28] mannp commented on #7308
Hi @strib Certainly not empty, the were about 6 files there, but haven't used it for a week or so, so am not exactly sure when it stopped working.

Would backups of my local folder contain the files in /keybase/private/mannp or are they encrypted elsewhere and wouldn't appear in /keybase/private/mannp until decrypted?

[2017-06-07 17:29] FishyFing commented on #7306
Log ID: `5b5df0e89519a74c4433591c` @strib

[2017-06-07 17:34] mannp commented on #7308
Hi @strib you should have the client_7308_update_history.json files shared now?

[2017-06-07 17:45] strib commented on #7308
Thanks.  I took a look at the file, and on May 19th, 2017 something on one of your devices deleted 45 files from the folder.  I put the names of those files in `/keybase/private/mannp,strib@github/removed_files.txt`.

From this data, I can't tell which device that happened on, or what process might have done the removal.

Do you remember anything that could have triggered the data removal on that

[2017-06-07 18:12] strib commented on #7306
Thanks.  I have a PR up to get rid of that notification: keybase/kbfs#1023.

[2017-06-07 18:17] mannp commented on #7308
I don't recall anything that would have deleted it? No apps know of that directory except keybase.

I certainly deleted the Mac apps which included a large number of small files.

I will check the file you state to see if I have backups of those files.

If I don't have backups, are you able to restore without being able to access the files themselves?

Is there a check for large deletions of files

[2017-06-07 18:20] mannp commented on #7308
Is it possible an update of fuse or keybase remove that directory? Or overwrite it?

[2017-06-07 18:25] strib commented on #7308
Yes, I think so.  Definitely we will never be able to access the data in the files.  But I'm not yet 100% sure we will be able to restore them before I try it, as the data is older than anything I've tried to restore before.

KBFS is just a file system, and we're expected to respond to every request sent to us through the file system.  We can't distinguish between you intending to delete the files

[2017-06-07 18:28] strib commented on #7308
Not to my knowledge.  The folder would be unmounted during those upgrades, and they'd never try to access data outside of their install directories anyway.  If you're a terminal user, I'd guess it's more likely an accidental `rm -rf *`, or maybe an accidental Finder drag-and-drop that moved the data, rather than copied it.

[2017-06-07 18:39] strib commented on #7308
In case it's useful, I figured out that the device that deleted the files was your `ultimata-degerm-spatter-tuck` computer, which was provisioned that same day, May 19th.

[2017-06-07 19:16] mannp commented on #7308
That's useful thanks, so I know which Mac it was, but I really don't believe I deleted all files on the same day it was provisioned.

I added the second machine to share the files, not delete them so I am no wiser on what happened.

Thank you for your help though.

I will check my backups over the next 24 hours and see if I need your further help 😀

I still think deleting everything should flag an

[2017-06-07 19:42] mercer opened #7317 "When in full screen in any app, clicking on menu bar takes me to desktop"
Keybase GUI Version: 1.0.23-20170522181119+8a8aea0

With the Mac client, when in full screen in any app, clicking on menu bar takes me to desktop.

Expected behaviour is to stay in that app, and keybase popup to draw over that app, like any other app in the menu bar (e.g. wifi, dropbox, date, sound volume, alfred).

![image](https://user-images.githubusercontent.com/95358/26897576-b246b73a-4bd1-11

[2017-06-07 19:51] mercer opened #7318 "Add option for menu bar only on mac, or make it menu bar only as default"
Keybase GUI Version: 1.0.23-20170522181119+8a8aea0

With keybase as a menu bar icon, I don't need to see it in the apps. Add option for menu bar only on mac, or make it menu bar only as default.

Other apps with this behaviour include Docker, Alfred.

![image](https://user-images.githubusercontent.com/95358/26898070-5ff3c7a0-4bd3-11e7-8f2f-a3f5f5dc9604.png)

[2017-06-07 20:31] strib commented on #7308
I wonder if by accident you tried to drag the files onto the local drive of the second machine when trying to share them, and accidentally moved the files out of Keybase entirely, rather than copy them.  It's a pure guess though, I really don't know.

If I can restore it, I will completely revert the folder back to the moment before the files were deleted, so they will all appear there as they use

[2017-06-07 21:02] mannp commented on #7308
Perhaps @strib but my work flows use shared servers rather than copying via local devices, so perhaps not in this case.

I'll put it down to user error for sure until I can test further and see if my future files remain rock solid in future :)

Very odd.

Sorry to waste your time.

[2017-06-07 21:03] strib commented on #7308
Ok, sounds like a plan.  If you ever see it happen again, when you didn't take any action, please let us know right away!

And do let me know if you need anything restored.

[2017-06-07 21:03] strib commented on #7306
Should be fixed in the next release.

[2017-06-07 21:03] #7306 closed

[2017-06-07 22:51] soundofjw opened #7324 "Stricter Login Impermanence [Private Key in RAM, etc]"
Presently, the iOS and Mac apps stay logged in indefinitely. _I appreciate that I can `keybase logout`..._

It'd be great to see a timeout feature for logins so that loss of physical hardware didn't pose as much of a threat.

On iOS this could be simply *passcode* or *touch ID* based.
On MAC this could be "timeout after x minutes of inactivity of kbfs, etc"

This is related to concerns surrounding

[2017-06-08 01:56] soumyaray opened #7325 "Error: public key appears corrupted (no valid primary key self-signature or key(s) have expired)"
![fb error](https://user-images.githubusercontent.com/1926704/26909023-c90b3efa-4c30-11e7-9582-6c0a65ca284a.png)
My Facebook verification is suddenly failing (was working before). When I ask to replace my post, I get the error:
`Error: Your public key appears corrupted (no valid primary key self-signature or key(s) have expired)`

My public key has not expired; not sure how to proceed.

[2017-06-08 01:57] maxtaco commented on #7325
Urg, sorry about this, seems like 1 or 2 bugs.  Can you try `keybase log send` and we can take a look?  Did you maybe change your privacy settings on FB or anything like it btw?

[2017-06-08 01:59] maxtaco commented on #7325
Did you delete your facebook proof btw? I didn't see it on your profile

[2017-06-08 02:02] soumyaray commented on #7325
strange -- i didn't delete it but it can't be found.  let me try revoking and reposting it.

[2017-06-08 02:05] soumyaray commented on #7325
i reposted it and it works now.  sorry about the confusion.  again, not sure where my earlier posting went. thanks for responding so quickly!

[2017-06-08 02:05] #7325 closed

[2017-06-08 04:15] DebsterSoCal opened #7326 "Photo on keybase desktop app not updating"
The photo on the web based app updates from Twitter, but the photo on the keybase desktop app is outdated.  See attached photo.

![keybase_photo refresh issue](https://user-images.githubusercontent.com/29268891/26912030-5f025fa8-4bc6-11e7-955b-605f6bae0290.JPG)