[2017-09-28 18:13] fvlthy opened #8704 "Timezone thingy"
Unknown error: SIG_BAD_CLOCK / bad signature: your computer's clock is wrong: signature is dated 86390 seconds in the future - I just moved, how do i fix?

[2017-09-28 20:16] #8704 closed

[2017-09-28 20:17] fvlthy opened #8707 "Timezone error (repost)"
Unknown error: SIG_BAD_CLOCK / bad signature: your computer's clock is wrong: signature is dated 86390 seconds in the future - I just moved, how do i fix?

[2017-09-28 22:35] doxxx commented on #8676
I tried the original installer again with the `DRIVER=1` option and picked Repair. It ran to completion and then I rebooted as asked. When I logged in again, I just got a black screen with a cursor. I waited for a minute or two but nothing happened.

I hit Ctrl-Alt-Delete, opened the Task Manager, reran the installer and chose the Uninstall option. Almost immediately, the rest of my desktop loaded

[2017-09-29 10:34] berkes commented on #6993
Any progress on this? Anything we can do to help?

[2017-09-29 11:08] ohadh opened #8709 "website no longer successfully verifying"
i started receiving notifications today that "your web proof just broke" even though i changed nothing.

when trying to reverify, i receive an error "that domain isn't loading" even though the site loads fine.

attached is a screenshot. what is the problem?

![untitled](https://user-images.githubusercontent.com/32332450/31013638-abc7120e-a51f-11e7-9428-f917655897ad.png)

[2017-09-29 11:43] maxtaco commented on #8709
i think we had a DNS outage overnight. Try it again via the "retry" button?

[2017-09-29 11:46] maxtaco commented on #8709
oh, I take it back.  something is wrong with your cert

[code]

[2017-09-29 12:25] ThierryIT commented on #8676
I have tryed today, no change, see my picture.
![kbfs](https://user-images.githubusercontent.com/31948106/31015746-5b24656c-a52a-11e7-834d-2d8e39f20056.JPG)

[2017-09-29 13:01] gjhiggins opened #8711 "Translation required for impenetrable jargon: “The device you are currently using needs to be provisioned.”"
$ keybase login:
“The device you are currently using needs to be provisioned.
Which one of your existing devices would you like to use
to provision this new device?”

No help available. Inappropriate device made selectable, no other options, no login.

[2017-09-29 14:54] ohadh commented on #8709
what is wrong with my SSL certificate?

On Fri, Sep 29, 2017 at 2:46 PM, Maxwell Krohn <notifications@github.com>
wrote:

[2017-09-29 15:09] zanderz commented on #8676
@doxxx Do you have any AV software installed? If you care to try again and can get to a state where you can do `keybase log send` at the Keybase Shell, we may be able to tell what happened.

@ThierryIT Is this the state where "Display in Explorer" leads to a repair install which fails because your account lacks permission? Not clear what the issue is from the picture.

[2017-09-29 15:12] ThierryIT commented on #8676
Hi,
Yes you are right, but I start to be confused concerning this lacks of permission, when we are able to install Keybase with a normal user (not admin) ...

[2017-09-29 15:19] shellster opened #8714 "Support for Bitbucket Verification"
Please support Bitbucket.org account verification.

[2017-09-29 15:21] shellster opened #8715 "Support Mastodon verification"
Please consider supporting Mastodon account verification: https://joinmastodon.org/

[2017-09-29 15:26] zanderz commented on #8676
The second half of the installer includes a device driver, which requires different permissions to install. Corporately managed machines often have restrictions on what kind of things can be installed, which is an important Windows feature, not a defect. Note that Keybase is usable for chat and command line filesystem operations even without a drive being mounted (`keybase fs ...`).

[2017-09-29 15:29] ThierryIT commented on #8676
Yes that 's how I am today using it ... But this is a bit frustrating not to be able to use folders ...

[2017-09-29 15:32] doxxx commented on #8676
I just have Windows Defender enabled. I’ll try again to capture logs this evening.

[2017-09-29 17:49] ptous commented on #8162
I'm having this issue today. It doesn't seem to matter whether I use apt or access the .deb URL in a browser. When I do the latter, I receive a raw XML page displaying "Access Denied" error data, in addition to HTTP 403 header error code.

The URL in question is:
`http://prerelease.keybase.io/deb/pool/main/k/keybase/keybase_1.0.32-20170928160216.35b4bbd00_amd64.deb`

and I get this from apt:
`Fail

[2017-09-29 17:50] maxtaco commented on #8162
CC: @oconnor663 something appears busted.

[2017-09-29 17:53] ptous commented on #8162
I whacked my post above. `sudo apt update` fixed me too.

I guess it's weird though that this seems to be needed kind of often for Keybase.

[2017-09-29 18:01] oconnor663 commented on #8162
This behavior is a result of how publishing fits into our build process. We treat the .deb repo hierarchy as a build product (so the whole thing gets recreated from scratch with every new version), rather than as a mutable piece of global state (where new packages might get inserted next to old ones). I wonder if we might be able to hack around this, though, by [not using `--delete-removed` in our

[2017-09-29 18:59] hersh-verthun opened #8722 "Is it not possible to setup new device without accessing other devices?"
I signed up for keybase using my **home computer** a few days ago and added Github handle to the keybase account.  After that I did not provision any other device to my keybase account. Last night I wiped the **Home Computer** OS drive and did a fresh install of the operating system. I realized later that I had lost access to the only device that was linked to my keybase account.

On launching the

[2017-09-29 21:37] maxtaco commented on #8711
Which device is "inappropriate"?  Have  you lost access to all of your devices?

[2017-09-29 22:11] junderw commented on #8711
@gjhiggins here’s a Translation:

“You need to approve this new device using another device which has already been approved by your account.”

It will ask you to select a device to use toapprove the current device, but it will only list the names you have given the devices, so there’s a chance that you gave a weird name to your other devices, and it’s hard to tell them apart???

I don’t quite unde

[2017-09-29 22:15] junderw commented on #8711
It looks like you have activated your account on a computer and you named that computer “ashpool”

You must log into your account on the ashpool computer and then select ashpool when logging in on the new device. Then approve the new device on the ashpool machine.

[2017-09-29 22:25] doxxx commented on #8676
I just tried rerunning the installer with the DRIVER=1 parameter again. This time there was no UAC prompt and it didn't ask me to reboot to complete the installation. I uninstalled and the reran the installer as admin. Still no prompt to reboot. I rebooted anyway. Still no K drive. I collected logs -- the ID is aa350119fe9f2e2162c73f1c.

[2017-09-29 22:30] doxxx commented on #8676
I tried reinstalling after deleting the kbfs* folders in AppData/Local/Keybase, but still no dice.

[2017-09-29 22:31] zanderz commented on #8676
@doxxx Apologies, the `driver` parameter must be lower case, sorry for my mistake there.

[2017-09-29 22:41] doxxx commented on #8676
Ok, so running the installer with `driver=1` instead resulted in different status messages about the dokan library while the installer was running. There's more happening in the logs now as well, although the same two errors still appear. And there's no K drive. :)

Logs ID: 70cf41903bb24de14fbb751c

[2017-09-29 22:49] zanderz commented on #8676
It says it mounted the filesystem. Your logs also show hundreds of files being created, not sure what that's about. Did the mount never show up? No install errors either. What are the errors you see now?
Thanks again for hanging in there and for the feedback.

[2017-09-29 23:18] gwilym opened #8731 "Request: disable message preview in notifications, conversation lists"
For situations where you're sharing or presenting your screen, or just working in any space where your screen can be glanced by others, it would be nice to disable message previews in conversation lists and desktop notifications, while still retaining the ability to be notified of some activity ("new message in ..." without a preview of the message). Especially since the targeted usage for keybase

[2017-09-29 23:29] doxxx commented on #8676
No new drive mount appears in Windows Explorer. If I open the Keybase app (which took two tries before the window displayed), the folders page no longer shows that warning so it thinks that the filesystem is mounted. But if I click one of the folders, I get a little dropdown from the top of the window which says "openInWindows requires k prefix: C:\public\doxxx. The path it mentions does not exist

[2017-09-29 23:33] doxxx commented on #8676
I just rebooted my PC again, and now the drive shows up in Explorer! It took a a minute or two to show up after I logged in. So it looks like a reboot is needed even though the installer doesn't say so.

[2017-09-30 00:12] dabura667 commented on #8722
login via web UI and revoke all keys.

You will have to re-confirm your github.

[2017-09-30 00:27] hersh-verthun commented on #8722
@dabura667 I setup a team on keybase when I signed up. Would revoking keys mean I'd lose access to that team-id as well?

[2017-09-30 00:48] dabura667 commented on #8722
I don't know.

But it doesn't matter, since you don't have the key and can't recover the key, so even if you decided "I don't want to revoke the key because it would leave me locked out of my team" you still don't have the key, so you can't access your team now, anyways.

[2017-09-30 00:52] hersh-verthun commented on #8722
When I signed up I was given a passphrase, I have that with me. That doesn't help?

[2017-09-30 00:55] dabura667 commented on #8405
then

Did you just argue with yourself? I am not following your meaning.

[2017-09-30 00:58] dabura667 commented on #8722
nope

[2017-09-30 01:07] hersh-verthun commented on #8722
I have to say, docs are really bad. I am very confused, this is very unlike other identity services. There is always some way to gain access to one's account.

[2017-09-30 01:31] dabura667 commented on #8722
I agree

That is true. The goal is to do something no other identity service does. Keybase is completely trustless.

Which means that someone is always holding a master key... Keybase does not require trust because they have no master key.

[2017-09-30 07:46] ThierryIT opened #8738 "Deleted chat ?"
Hello,
How to delete chat ?
Thx

[2017-09-30 08:59] junderw commented on #8738
You can’t.

[2017-09-30 09:19] raoulteeuwen opened #8739 "Can't user mac CLI"
Hi.

When i try to call the CLI on my Mac, i get "keybase command not found"

I'm a n00b fixing things outside the OS GUI. I did try some stuff based on what i found, but still haven't been able to get it to work.

I've tried to create a sym link in /usr/local/bin, but when i call keybase, it gives me "-bash: /usr/local/bin/keybase: cannot execute binary file". I guess i'm doing something wrong.

[2017-09-30 09:53] raoulteeuwen commented on #8739
(For now i've booted back into the other volume, ran the Keybase GUI, removed the device)

[2017-09-30 10:22] raoulteeuwen commented on #8739
(back in my other volume ... logged in ... but removing that 1 device apparently has the consequence i'm kicked out of my teams ... i assume this has something to do with keys being destroyed?)

[2017-09-30 16:25] maxtaco commented on #8528
@kylemanna you appear to be logged out. Try `keybase login`?

[2017-09-30 16:42] hersh-verthun commented on #8722
sounds heartless too.  I appreciate the sincerity of developers to keep Keybase incorruptible but I'd appreciate them even more if there was some warning on the homepage for all the ways a user could lose access to their account.

[2017-09-30 16:43] #8722 closed

[2017-09-30 16:50] kylemanna commented on #8528
Appears I wasn't logged in, oops. I ran `keybase login`.  I checked my `keybase status` before but l glazed over the logged in line.

Now seems to work, thanks!

[2017-09-30 18:18] ddiaz914 opened #8744 "Cannot Add a New Device"
Created a back up of my Macbook Pro. Clean Installed to macOS High Sierra. Attempting to login to Keybase, but it says that "The device you are currently using needs to be provisioned. Which one of your existing devices would you like to use to provision this new device?" I can't choose the only device that is on there because the device is an old version of itself. So I cannot add a device. I hav

[2017-09-30 18:36] maxtaco commented on #8744
You need:

[code]

Quit Keybase on the new install, and drop these files into the same place, it should work (though not very well tested).

[2017-09-30 19:03] ddiaz914 commented on #8744
Thanks for the response @maxtaco But as soon as I attempt to login, after entering my password I get this screen.
<img width="912" alt="screen shot 2017-09-30 at 2 03 31 pm" src="https://user-images.githubusercontent.com/13126601/31048688-2f3d0472-a5e8-11e7-9cd7-fb54b291c2d4.png">

[2017-09-30 19:15] gjhiggins commented on #8711
Okay, you are giving the term “provisioning” an idiosyncratic semantics with no relation either to the general term relating to vittles nor to the semantic extension of provisioning VMs.

The device labelled ashpool is my old laptop, which I have basically abandoned. I d/ld a fresh copy of Keybase on the new m/c and when I tried to log in with my username, having my password ready to hand, a selec

[2017-10-01 09:16] junderw commented on #8711
If you wiped, you could login to the website keybase.io and revoke all keys (starting over from scratch, you need to re-approve all SNS and provisioned keys.)

But for now, your old laptop needs to be connected to the internet, when you choose your old laptop on the new machine, it will give you a code to type into your old laptop, the laptop will sign the encoded data, and send the signature to k

[2017-10-01 09:18] junderw commented on #8711
Keybase, in general, is a security first UX second type of project... which is good if you understand how it works.

Maybe I should make a Youtube video explaining how everything works and Keybase could link it or something.

[2017-10-01 11:30] michaelvolz commented on #8638
I am using Windows 10 with Desktopscaling but the font size is still too small. I really would love some kind of font size managemant or the possibilty to zoom the whole GUI like Chrome does, please.

[2017-10-01 11:34] michaelvolz commented on #8638
@zapu Your tipp to change the scale-factor using a commandline switch did the trick for me. Didn't understand exactly what you meant at first. Thanks.

I have 1.25 default for my system and used `--force-device-scale-factor=150`
Much better now.

[2017-10-01 12:58] michaelvolz opened #8747 "Text overlapping when multiple messages come from the same user"
Keybase GUI Version: 1.0.31-20170921162923+71e03df

Everything works fine, except if a user posts more than one message in a sequence, the text areas overlap.
After some more messages from us, the text finally re-adjusts.

[2017-10-01 14:34] smarshal-Quest opened #8748 "Failed to lauhch MAcos client"
Installed now macos 10.13 High Sierra , when launching keybase get error

![image](https://user-images.githubusercontent.com/4686731/31055636-da6c5958-a6bd-11e7-85bf-5299da6ddfa0.png)

my log id: 44ce56f1e2338f5cfd52c81c

[2017-10-01 17:21] philippgille commented on #8671
I have the Keybase icon set to always showing and I also have the issue with the popup behind the taskbar. This is especially bad as I have my taskbar on the left side of the desktop (instead of default bottom), so I can't really use the GUI. When left-clicking, the popup doesn't flicker though.
- Left-click: Popup behind taskbar
- Right-click: Popup behind taskbar + taskbar context menu shows up

[2017-10-01 19:02] bartmcleod opened #8749 "No luck with Keybase..."
I can sort of login, but than I don't see a window for the UI and I can't open a new window. I do see a menubar. On the command line, I can login, but then it encounters an error after I give the device a name....

my log id: 8ac5010db57ba62ad0e4c11c

[code]

[2017-10-01 23:42] junderw commented on #8749
Are you using a smartcard?

[2017-10-02 03:57] antonio-gil commented on #7978
There exists a discussion/issue ([Keybase Verification Suggestions #518](https://github.com/keybase/keybase-issues/issues/518) — albeit there is in another repository) that already have several proposed services to use as verification, perhaps it could be good idea the check if those services are already on the list, or its needed to add them.

Hope it helps!

[2017-10-02 03:59] antonio-gil commented on #8714
There exists a discussion/issue ([Keybase Verification Suggestions #518](https://github.com/keybase/keybase-issues/issues/518) — albeit there is in another repository) that already have several proposed services to use as verification.

As far as I have read, Bitbucket has been proposed (and have a pull request) but it hasn't been accepted. I guess it'll be a matter of time until they review the P

[2017-10-02 04:01] antonio-gil commented on #8715
There exists a discussion/issue ([Keybase Verification Suggestions #518](https://github.com/keybase/keybase-issues/issues/518) — albeit there is in another repository) that already have several proposed services to use as verification.

As far as I have read, Mastodon has been suggested, but it hasn't been accepted. I guess it'll be a matter of time until they review it, and then decide to accept

[2017-10-02 04:47] cjeanneret commented on #8405
@dabura667 fact is: it doesn't allow to `keybase login <yourname>` if you already have a registered device, unless you get that device at hand or a paper-key. GUI or CLI.

[2017-10-02 04:58] bartmcleod commented on #8749
I have a ubikey but it wasnot plugged in...

Verstuurd vanaf mijn iPhone

[2017-10-02 07:24] ralph-tice commented on #8739
I like your setup!

I had a first-time installation just now, when I forgot to open a new terminal.  I haven't tracked down how keybase adds itself to the PATH -- it's not in ~/.bash_profile like I expect...

It's also a little weird that Keybase requires root on OSX, without explanation...

my log id: 6416dd07bb1da417a8a6921c

[2017-10-02 11:40] ohadh commented on #8709
what is wrong with my SSL certificate?

On Fri, Sep 29, 2017 at 2:46 PM, Maxwell Krohn <notifications@github.com>
wrote:

[2017-10-02 12:02] ferenczy opened #8751 "Execution of Keybase Shell depends on Start menu link on Windows"
When I open the popup window by clicking on Keybase's system tray icon, click on the menu in the top right corner and select _Keybase Shell_, it tries to execute the `Keybase Shell.lnk` located in user's `Start Menu/Programs/Keybase` directory.

I usually set my custom start menu location during an installation. Keybase didn't allow me to specify it, so I simply moved it manually after the install

[2017-10-02 13:08] gjhiggins commented on #8711
Thank you for the explanation, I now have an adequately useful model of the way Keybase works and, from your observation that the focus is on security rather than UI, I also understand how I acquired an inadequate model in the first place. Mea culpa, I didn't read the code in detail before executing the app.

[2017-10-02 15:05] xavrb opened #8754 "Firefox extension can't reach installed Keybase client on Fedora"
To my knowledge, Firefox extension must connect automatically with the installed client, but in this case it doesn't -- it always shows a blue button that asks for me to install the kb client. This is from the Firefox menu and the button on social media.
Tried restarting the browser and system (Fedora).

Keybase client version throws:
`Client:  1.0.31-20170917003451+ed4bf6a71`

Firefox extension i

[2017-10-02 15:45] zzeligg commented on #8638
Where would that command line switch be added under MacOS? I seem to only have a Keybase.app file in my Applications folder.

[2017-10-02 16:08] dtkerr opened #8758 "Can't start new conversations after account reset - GUI issue only"
After performing an account reset old conversation (as expected) aren't accessible, but it becomes impossible for the newly reset account's holder to start a new chat with anybody they previously chatted with as the notice about "REKEY NEEDED" has no way to start a new conversation, and clicking the "Rekey" button has no effect. (At least on my desktop linux client.)

Using the cli I can start a n

[2017-10-02 16:22] sporkwitch commented on #7173
For what my opinion is worth, I think that would make for a very reasonable compromise.
v / r
Robert Klebes
Mobile: 571-492-8639
https://keybase.io/sporkwitch
https://www.linkedin.com/in/klebes

On October 2, 2017 3:20:55 AM EDT, ralph-tice <notifications@github.com> wrote:

[2017-10-02 16:46] maxtaco commented on #8744
Can you run `keybase log send`?

[2017-10-02 17:06] maxtaco commented on #8748
thanks, we'll take a look, cc: @malgorithms

[2017-10-02 17:22] cjb commented on #7173
My sense would be that this sounds confusing and offputting to non-technical users, which usually makes things a no-go for us.  If you're explaining, you're losing.  :/  Thanks for the suggestion though.

[2017-10-02 18:34] kayiwa opened #8760 "unable to create a team"
When I try to create a team. I get the error below

[code]

my log id: 26c83522fb3c753264ddf41c

[2017-10-02 21:33] maxtaco commented on #8760
It should be fixed on the server side.  Let your app run for an hour, and then see if it works?  Or you can restart your app and it should try to rekey.

[2017-10-03 00:40] #8760 closed

[2017-10-03 04:54] ronnocol opened #8769 "Error: Too many failures; giving up"
I had typed my passphrase into the OS X UI incorrectly a number of times, but now I remember it (verified that it works on the website.) But I can't login to my Mac any more... no matter what I do (even when I type the correct password) I just get "Error: Too many failures; giving up."

How do I get back into Keybase on my MBP w/o "recovering" my passphrase thus destroying my PGP keys and freezing

[2017-10-03 08:53] NxtChg opened #8770 "Custom port is not supported when verifying a domain."
Websites that run on custom ports, like domain.tld:777, cannot be verified via web site, it doesn't allow to click 'Continue'.

[2017-10-03 08:54] NxtChg opened #8771 "keybase.txt verification text mangles CRLF"
keybase.txt proof text generated with keybase desktop app on Windows mangles CRLF's when copied and pasted into a text file.

[2017-10-03 09:41] rugk commented on #6859
Please add Mastodon & GNU Social. They both have easy APIs so it should not be harder than adding Twitter…

[2017-10-03 10:02] rugk opened #8772 "Cannmot add multiple PGP keys (Base64 error)"
What is the correct process for adding another PGP key? (on website with command line commands)

I tried to just select "update my key" paste my current key and the public key of another key.
I could continue and got this command:
[code]

However, it ends with a Base64 error.

[code]

Fedora 26
curl 7.53.1

[2017-10-03 10:18] rugk opened #8773 "Add Patreon"
One should also be able to verify the PGP key via Patreon.

[2017-10-03 10:18] rugk opened #8774 "Add Medium"
One should also be able to verify the PGP key via Medium.

[2017-10-03 10:29] caronni opened #8775 "Confused by proof changes of followed person"
Hi keybase :-)

I just spotted a red notification bar in my chat window:

<img width="718" alt="proofs" src="https://user-images.githubusercontent.com/4182038/31120460-c4f492d4-a834-11e7-9adb-24745e44d4ae.png">

All nice and good. But ... this is like a bug report saying 'something is wrong'.
For the future, you might want to provide a link in the message where I can
find out what proofs happen to

[2017-10-03 13:16] maxtaco commented on #8769
Can you log onto the website?

On Tue, Oct 3, 2017 at 12:55 AM ronnocol <notifications@github.com> wrote:

[2017-10-03 13:27] soulware opened #8776 "keybase rekey warning, cannot rekey"
This issue appears to be reoccurring on a new device -
keybase/client#7629

I installed keybase on a new laptop and the app is prompting me to turn on another device or enter a paper key.
Neither of which appear to resolve the issue.

I get this from the command line -
[code]

Running `keybase rekey paper` has no effect. I can enter the paper key but the issue persists.

Assuming logs will help so

[2017-10-03 13:28] maxtaco commented on #8776
cc: @songgao / @jzila / @strib

[2017-10-03 13:57] milouse commented on #7820
Duplicate of #6899

[2017-10-03 14:10] ronnocol commented on #8769
Yes. And my phone and Linux box are fine too. I just can’t get back into the UI on my OSX client.

Sent from my iPhone

[2017-10-03 14:11] maxtaco commented on #8769
Can you run `keybase log send` on the failing OSX machine?  You might need to "reprovision" that device, you might have hid an old bug that affects people's ability to login

cc: @patrickxb

[2017-10-03 14:12] maxtaco commented on #8769
Hmmm, no your account is too new.  If it's a bug, it's a new bug....

[2017-10-03 14:24] patrickxb commented on #8769
@ronnocol I would also try doing a full quit of the app.

In the menubar widget, select the dropdown on the top right and select Quit.
Then launch Keybase again and try again.

Sorry for the bug, but that restart might allow you to login.

[2017-10-03 14:45] sethwklein commented on #6203
I'm missing yesterday's update. The window popped up at a time when I couldn't leave it on top and couldn't upgrade so I had to click skip version :( There's still no upgrade later option, and no way to trigger an upgrade check manually. :(

[2017-10-03 16:20] alvarolizama opened #8782 "Keybase implicit team dir in macOS and iOS app"
In my directory for teams appears the follow folder called _keybase_implicit_team, same problem in iOS apps in the teams list. In the iOS app I can't leave the team and in macOS I can't delete the folder.

<img width="174" alt="screen shot 2017-10-03 at 11 18 06" src="https://user-images.githubusercontent.com/19955639/31136038-92595592-a82c-11e7-9e05-d9e4b9ea2990.png">

[2017-10-03 16:25] retrobabel commented on #8607
I'm getting the same issue, but it's not resolved after restart. My log ID: 5f67de9913237ca46ab97b1c

[2017-10-03 16:34] strib commented on #8776
@maxtaco @oconnor663 : the TLF showing up for a rekey is an old folder that's since been reset (#7629).  We need to wipe it from the kbfstld db.  The TLF ID is `53c15aff9406acee0c8aa0fdbb1bf916`.

[2017-10-03 16:35] strib commented on #8776
Oh wait, I forgot that I know how to do this.  I'll put up a PR in a sec.

[2017-10-03 16:42] strib commented on #8782
cc: @oconnor663 @mlsteele, looks like something went wrong in the team favorites list.

[2017-10-03 16:43] maxtaco commented on #8782
@oconnor663  is currently working on this

[2017-10-03 16:49] oconnor663 commented on #8782
Yep, expect a fix today!

[2017-10-03 16:52] strib commented on #8776
@soulware This will be fixed on the next server deploy.  Sorry about that!

[2017-10-03 17:43] alvarolizama opened #8784 "iOS App can't show team chats"
In the iOS the content for team chats don't appear.

![6298986b-19c8-4429-ba2b-d03cfea1562a](https://user-images.githubusercontent.com/19955639/31139851-6ea1054e-a838-11e7-97ca-9a2cbc58360f.jpg)

[2017-10-03 17:44] maxtaco commented on #8784
please send feedback from the phone.  i think we've fixed this, but i don't know for sure.

[2017-10-03 17:44] maxtaco commented on #8784
cc: @mlsteele

[2017-10-03 17:44] alvarolizama commented on #8784
What do you need @maxtaco

[2017-10-03 17:45] maxtaco commented on #8784
hamburger icon > feedback > send logs

[2017-10-03 17:46] alvarolizama commented on #8784
Done

[2017-10-03 17:47] mlsteele commented on #8784
Thanks @alvarolizama I see it. Looks like the version you are running is from Sep 13. Is there an update available in the app store?

[2017-10-03 17:47] maxtaco commented on #8784
https://keybase.io/_/admin/logdump_viewer?862873448#0b25e4a587b4de44cfae2c1c

[2017-10-03 17:52] alvarolizama commented on #8784
@mlsteele Its from Sep 15 the last and my current version, I don't have update and I re install today again the app.

My Appstore account is for Mexico Store

[2017-10-03 18:01] mlsteele commented on #8784
@alvarolizama Ok this is definitely a bug that is already fixed in master but we haven't released a new iOS that includes the fix yet. The bug triggered when you revoked the laptop used to modify the team. Expect a fix in about a week, sorry for the wait! In the meantime any updated desktop clients should be able to use the team.

[2017-10-03 18:04] alvarolizama commented on #8784
Thanks @mlsteele

[2017-10-03 18:08] iloabn commented on #8676
Just wanted to chip in that I had the same issue.
Running the installer with `driver=1` and then reboot solved it for me as well.

Doesn't feel like intended behavior.

[2017-10-03 18:28] netzkobold opened #8786 "Keybase Reddit verification is not working"
I followed all instructions (logged in and posted without changes) but Keybase keeps saying

But it's there just fine.

[2017-10-03 18:44] ddiaz914 commented on #8744
@maxtaco I have run the command, do you need me to post the output?

[2017-10-03 18:48] maxtaco commented on #8744
just the log number

[2017-10-03 18:50] ddiaz914 commented on #8744
9064defd3ff4ab95785f601c

[2017-10-03 20:10] kballard opened #8789 "`keybase chat send --topic-type dev` converted my team to a "big team""
While looking at the CLI I saw this `--topic-type` flag. I have no idea what it was for, so I decided to try it with my brand new single-channel team. I ran `keybase chat send --topic-type dev teamname 'testing flags'`, and immediately my team got converted to a "big team", with a message about how I created a new channel and whatnot. This is very confusing because there doesn't appear to be any n

[2017-10-03 21:44] kballard opened #8793 "Client says no server-given hint for a revoked signature"
If I run `keybase id pco` I see

Similarly if I look at them in the GUI app it shows the proof as broken. Meanwhile the website doesn't show the twitter proof at all.

In this case the website is correct. The CLI and GUI app should not be showing this proof, because it was [revoked a year ago](https://keybase.io/pco/sigchain#acd5a2b640d0e6e22878b11825d244653b7ff5828bb860cddb15d51057d4507c0f).

Cli

[2017-10-03 21:53] kballard commented on #8793
BTW at this point pco has now added a new Twitter proof so `keybase id pco` won't reproduce the issue anymore.

[2017-10-03 21:55] kballard commented on #8793
Hmm, maybe I misread the chain. The entry said `14 claimed ownership of twitter account pouwerkerk, revoked signature 8`, which I thought just meant it was revoking the claim of twitter. But I guess it was actually revoking an older claim and posting a newer one, which has only itself now finally been revoked in [signature 22](https://keybase.io/pco/sigchain#9f1caac384b11b795c8b6d06fbd7b652253f0e8

[2017-10-03 21:55] #8793 closed

[2017-10-03 23:11] thanandorn opened #8794 "Can't open personal private folder - reset message included"
Please reset my access to the private folder

`$ keybase sign -m "Please reset folder /keybase/private/thanandorn because all the devices that have access have been revoked."`

[code]

[2017-10-03 23:18] misw9423 commented on #8087
I just had this issue happen again.
Log ID: fe6e86d32480ca4b927f941c

Version info
------------------------------------------------------
Client:  1.0.31-20170921162535+71e03df
Service: 1.0.31-20170921162535+71e03df

![image](https://user-images.githubusercontent.com/7201814/31153437-70846d80-a85e-11e7-8f57-fc23eaa8cb7c.png)
![image](https://user-images.githubusercontent.com/7201814/31153457-87dd4

[2017-10-03 23:20] strib commented on #8794
@thanandorn: I can do that, but can you please include the current time and date in the signed-over message?  Something like this, substituting the time and date where indicated:

[code]

Thanks!

[2017-10-03 23:50] misw9423 commented on #8087
I was messing around on my computer trying to take care of some stuff, and I noticed that I had a network device that was mounted on the K: partition. I can't see it in explorer, but I managed to see it via another application. Does the kbfs always mount to the K: partition?

[2017-10-03 23:55] antonio-gil commented on #6859
There exists a discussion/issue ([Keybase Verification Suggestions #518](https://github.com/keybase/keybase-issues/issues/518) — albeit there is in another repository) that already have several suggested services to use as verification.

As far as I have read, Mastodon has been suggested, but it hasn't been accepted. I guess it'll be a matter of time until they review it, and then decide to accept

[2017-10-03 23:56] antonio-gil commented on #6803
There exists a discussion/issue ([Keybase Verification Suggestions #518](https://github.com/keybase/keybase-issues/issues/518) — albeit there is in another repository) that already have several suggested services to use as verification.

As far as I have read, Linkedin has been suggested, but it hasn't been accepted. I guess it'll be a matter of time until they review it, and then decide to accept

[2017-10-03 23:58] antonio-gil commented on #6802
There exists a discussion/issue ([Keybase Verification Suggestions #518](https://github.com/keybase/keybase-issues/issues/518) — albeit there is in another repository) that already have several suggested services to use as verification.

As far as I have read, GitLab hasn't been suggested, perhaps it could be a good idea to ask there to add it, hoping that it gets additional/more visibility.

Hope

[2017-10-04 00:21] shigeya opened #8795 "Can't install and start new version of Keybase"
I'm trying to use a machine which has an installation of an old version of Keybase.
When I try to log in using the app, it is showing

[code]

Initially, I overwrite after quit, Failed, so I remove the app, restart, reinstall and start the app, still failing.

my log id: abf52b07a6310ad46a65351

[2017-10-04 00:46] shigeya commented on #8795
Found Issue https://github.com/keybase/client/issues/2534 and tried:

[code]
then re-installing the app solve the issue.

[2017-10-04 00:46] #8795 closed

[2017-10-04 02:27] alvarolizama commented on #8782
Still with the problem even with the last update

[2017-10-04 02:42] maxtaco commented on #8782
I don't think @oconnor663  landed his change. It's a server-side fix, continue to stand by. Thanks for your patience.

[2017-10-04 03:29] jtsmith0101 opened #8796 "ERROR Context Deadline Exceeded"
Got this error following my windows client app update for keybasefriends.  Phone appears unaffected.

my log id: 774c1dfc87119fb004e25c1c

[2017-10-04 03:36] jtsmith0101 commented on #8796
Appeared to be resolved after a few minutes?

[2017-10-04 03:41] ekevoo opened #8797 "Strange ovelap on new team"
I just created a new team and longer auto messages aren't overlapping each other:

![image](https://user-images.githubusercontent.com/871714/31159075-57040ca4-a894-11e7-99cc-3538b6559f4d.png)

If I resize the window, it renders correctly, but if I switch out of the chat and switch back in, it's overlapping all over again!

[2017-10-04 03:56] jtsmith0101 commented on #8797
I've seen this behavior too....

[2017-10-04 05:13] ronnocol commented on #8769
Sorry for the delay, problem was on my home laptop, and it's been a long day.

I've sent the logs as per the above:

------------
Success! Your log ID is:

  98e8d9a01b0f47c5a8816d1c

Here's a URL to submit new bug reports containing this ID:

  https://github.com/keybase/client/issues/new?body=[write%20something%20useful%20and%20descriptive%20here]%0A%0Amy%20log%20id:%2098e8d9a01b0f47c5a8816d1c

[2017-10-04 05:45] 0xff7 opened #8798 "Can't access team after todays update macOS Sierra 10.12.6"
I installed the keybase update today and now I can't access my team. When I try and connect through the mac app it gets stuck on "securing" for a little then disconnects and says "EOF from server"

Here is the error log
`ofError at s.t.Dispatch.n._dispatch_reset (file:///Applications/Keybase.app/Contents/Resources/app/desktop/dist/index.bundle.js:6:250333) at e.close (file:///Applications/Keybase.

[2017-10-04 09:20] thanandorn commented on #8794
@strib Here you are. Hope I've got it right this time.

`keybase sign -m "Oct 4, 2017 10:16:34: Please reset folder /keybase/private/thanandorn because all the devices that have access have been revoked."`

[code]
Many thanks!

[2017-10-04 09:42] johannorrman commented on #8528
Same goes for me.

Log ID: c08024ca18668adadfd0971c

[2017-10-04 12:34] kadmil commented on #8528
Hey, guys, I have the same thing. `keybase status` shows me logged in

[2017-10-04 12:42] maxtaco commented on #8528
Do a ‘keybase log send’ and I will take a look.

On Wed, Oct 4, 2017 at 8:34 AM Victor Suzdalev <notifications@github.com>
wrote:

[2017-10-04 13:27] maxtaco commented on #8528
@johannorrman seems like when you did log in, it worked, there's just a slight delay.

See [here](https://keybase.io/johannorrman/sigchain#988dd90c79738677f45d1f996a53abe8e1dc4c107cf3a254df5aeed01a48fe310f)

CC: @mlsteele

[2017-10-04 13:38] maxtaco commented on #8528
@kadmil your bug was fixed on the server-side, it should work as soon as you restart your app, or when the next 1hr-timed background event fires.

[2017-10-04 13:51] maxtaco commented on #8798
Thanks, and sorry for the bug. Can you try a restart of the OS? Sorry about that.

Also, a `keybase log send` will help us debug.

[2017-10-04 13:54] skozin opened #8800 "Cannot add new team member"
Keybase GUI Version: 1.0.32-20171002191217+341a3c38c

I tried to add a new team member:

[code]

But, when they opened their Keybase app, they saw no invite. And no invite in their email. I tried to resend the invite by running the command above again, but got error `An invite for this user already exists`.

Then I tried to remove this member from the team in order to add them again, but got anoth

[2017-10-04 13:57] maxtaco commented on #8800
Thanks for this detailed report. We've fixed almost all of these bugs in master, but we have to wait for rollouts and release, etc.

The underlying bug --- that the user you're trying to add hasn't upgraded --- has also been fixed with a server bug.  So this issue should just work itself out on its own without any effort on your part.

[2017-10-04 14:02] skozin commented on #8800
Thanks for the prompt response! Approximately, how long should we wait, i.e. when I should update this issue if it's still not fixed?

[2017-10-04 14:04] maxtaco commented on #8800
Seems like his account just got upgraded, and he should have been auto-added into the team.

[2017-10-04 14:06] maxtaco commented on #8800
(And it also appears that he's now in the team, lmk if not...)

[2017-10-04 14:09] skozin commented on #8800
Thanks a lot, I'll check with him. I see him in the team, just want to make sure he has access to the chat. Anyway, closing this as, even if he doesn't, it would be another issue :)

Thanks a lot for your help!

[2017-10-04 14:09] #8800 closed

[2017-10-04 14:29] zanderz commented on #8087
@misw9423 Keybase tries to pick the first available letter after J: and keeps that one. You can see which ones Keybase things are available with the `keybase kbfsmount getall`, and you can change it with `keybase kbfsmount set` and restarting.

@sharpedavid Your logs show that keybaes is finding the dokan filesystem drivers not installed properly. Please try uninstalling dokan, then installing the

[2017-10-04 17:10] mivade opened #8802 "Wrong LKSec server length: 0 != 32"
I just created a new account using the mac desktop app, but I cannot login with it at all. I get the error:

[code]

Since this is the only device registered (I can see it if I login via web), I don't seem to have any way of adding any other devices.

[2017-10-04 17:14] strib commented on #8794
I reset the folder.  Please check it out and close this if everything seems ok.  (Might require a Keybase restart.)

[2017-10-04 17:15] maxtaco commented on #8802
hmm thanks for the report. Can you `keybase log send`?

cc: @patrickxb

[2017-10-04 17:19] mivade commented on #8802
Done. Log ID: d1093782dd1be3fc0b98f81c

[2017-10-04 17:19] sharpedavid commented on #8087
Thanks again @zanderz, but [you already responded to my report](https://github.com/keybase/client/issues/8087#issuecomment-328605047). Following the GUI prompts seems to have resolved the issue -- I just didn't notice the prompt at first ¯\_(ツ)_/¯

[2017-10-04 17:27] maxtaco commented on #8802
Ack, we had a server hiccup right in the middle of your signup, which put your account into a trashed situation. Definitely a bug on our part, which we'll fix ASAP.  But for you, the best bet is to "reset your account" from the website and then try to login to that device again. Very sorry about this!

[2017-10-04 17:30] patrickxb commented on #8802
You will have to choose a new device name and won't be able to reuse the one you used before.  Sorry for the inconvenience, but that should be the only thing "lost" by resetting your account.

[2017-10-04 17:34] johnturek opened #8804 "Issue with GIthub Desktop / Keybase on Windows 10 Insiders RS4"
Greetings,

@malgorithms mentioned on Reddit to have me post my log here.    I am trying to clone a new empty repo called "Test"

![capture](https://user-images.githubusercontent.com/53944/31190307-bd4ec700-a908-11e7-88e2-175182bea3b6.JPG)

Test is a fresh repo and did not already exist.

I am not sure if its a Keybase issue or GitHub Desktop

my log id: 9088949e3e4cad26e391a71c

[2017-10-04 17:34] thanandorn commented on #8794
@strib Works now. Thank you very much.

[2017-10-04 17:35] mivade commented on #8802
By "reset your account" do you mean "Reset your keys and start from scratch"?

[2017-10-04 17:35] maxtaco commented on #8804
It seems like there's something already at `C:\Users\JohnV\Documents\Test`?  Maybe try `C:\Users\JohnV\Documents\Test2`

[2017-10-04 17:36] maxtaco commented on #8802
Yes. very sorry about this

[2017-10-04 17:37] mivade commented on #8802
Perfect! Thanks for the quick turnaround!

[2017-10-04 17:56] johnturek commented on #8804
Thank you @maxtaco.   I was able to get past that screen by utilizing `c:\Test`  but now I am getting this error:
<pre>
Cloning into 'C:\Test'...
git: 'remote-keubase' is not a git command. See 'git --help'.

The most similar command is
	remote-keybase
Error(s) during clone:
git clone failed: exit status 128
</pre>

[2017-10-04 17:57] strib commented on #8804
@johnturek: looks like you mistyped "keybase://" as "keubase://"?

[2017-10-04 18:00] johnturek commented on #8804
Nevermind!  Problem existed between keyboard and chair.. I am sorry @strib and @maxtaco.  Thanks for all your work!

[2017-10-04 18:01] #8804 closed

[2017-10-04 18:29] ghjm opened #8805 "Wrong name shown when adding second Windows computer"
I just set up a keybase account and added my Android phone. I then added a Windows computer using the QR code process, which worked fine. However, when I added a second Windows computer, the device list on Android showed the Android device and two copies of the first Windows computer name. (In other words, it used the first name as the name for the second computer.)

However, the device list on th

[2017-10-04 19:13] ralph-tice commented on #7173
I read your reply as:

which is itself confusing and offputting to me.

Given that stance, another potential solution would be to implement our own client side autocompletion in a masked field.

Another option would be an A/B test to make this decision data-driven.

Can I help with either of those?

[2017-10-04 20:00] IMcPwn opened #8807 "My graph doesn't appear"
I cannot view my own graph, even when logged out on the Keybase website.

Here's my profile: https://keybase.io/imcpwn/graph

Here's the error in the JS console that I only get on my profile:
[code]

[2017-10-04 20:12] danieleggert opened #8808 "Make it easy to use PGP signing of git commits"
No one does this — because crypto is hard, PGP is hard. But you can do it!

[2017-10-04 20:13] maxtaco commented on #8807
Ah thanks for the report. Cc: @malgorithms

[2017-10-04 20:17] taruti commented on #3382
@dhruv-m-patel can you please do a Keybase log send? What other filesystem drivers, or AV do you have installed?

[2017-10-04 20:22] johngrimes commented on #8204
I get the same error on 1.0.33-20171003193446+d9ceb86ac

Mac OS X 10.12.6

[2017-10-04 20:25] dhruv-m-patel commented on #3382
As I mentioned I reinstalled windows. Then after I had ran windows update and it got appropriate drivers for my machine. The filesystem is NTFS. I can't do keybase log send as I have uninstalled the app already after noticing problems, and then after I had no issues.

[2017-10-04 21:28] bretcarmichael opened #8811 "Avatar doesn't show on profile"
The profile avatar displays as the generic silhouette, and does not load a profile image from social media, or one supplied to the user's public folder. You can see this at https://keybase.io/bretcarmichael:

**Tasks Completed:**
1. Twitter account (with profile pic) is proofed.
2. GitHub account (with profile pic) is proofed.
3. Reddit account is proofed.
4. Website is proofed.
5. Profile image e

[2017-10-04 21:44] #8811 closed

[2017-10-04 21:47] bretcarmichael commented on #8811
Closing this. Root cause seems to be user impatience: mine. The picture loaded after a little over an hour. A each on the web indicated that the avatar.jpg is not used to source profile images. Rather, it's a place to upload a high resolution copy.

[2017-10-04 21:49] CraigCottingham opened #8812 "git-remote-keybase error pushing to Keybase repo"
I have an existing Git repository that I've been using for a while. I created an encrypted repo (call it "foo") in the app, added a remote for it to `.git/config` like so:

[code]

Now, when I try to push to it, I get

[code]

Unfortunately, that's all the error I see.

OS: macOS Sierra 10.12.6
git: 2.14.2

[2017-10-04 21:50] strib commented on #8812
@CraigCottingham: hrm, that's no fun, thanks for the report.  Can you please do a `keybase log send` and let us know the resulting ID?

[2017-10-04 22:41] mankash opened #8814 "SDK Request"
Hi -

I'm interested in building cross platform apps leveraging KB as the back-end. A cross platform client SDK would be really useful in getting me/us from 0 to app in 10 minutes. Please consider the following features for the same:

1. Maybe a native library with a C header file. C because most languages can invoke it using bindings. Also, C because go libs can be wrapped as C. Libgit2 is an exc

[2017-10-04 23:03] strib commented on #8812
Can't repro locally.  By the way, I saw this early in developing git-remote-keybase, but only on Windows, where there are backslashes in the filenames, and we added some fixes for that.  I'm curious if your local git checkout, from where you're doing the push, somehow has a backslash in its path, or some other interesting character (like a space, for example).

[2017-10-04 23:09] schollz opened #8815 ""fatal: Unable to find remote helper for 'keybase'" when installing keybase from source"
After seeing the release today, I've been trying out the private git with keybase. It works great on Linux (installed with the deb) and Windows (installed with exe). I'm having trouble with using it on a `armhf` Chromebook.

On my chromebook I installed `keybase` with Go (`go version go1.8.3 linux/arm`) [following these instructions](https://github.com/keybase/client/tree/master/go#building) and l

[2017-10-04 23:11] strib commented on #8815
@schollz: `git-remote-keybase` is built from the KBFS repo [here](https://github.com/keybase/kbfs/tree/master/kbfsgit/git-remote-keybase).  You need to `go install` in there, and then make sure `$GOPATH\bin` is in your PATH (or move `git-remote-keybase` somewhere that's already in your path).

[2017-10-04 23:14] strib commented on #8815
You'll also need to be running the `kbfsfuse` binary, as described [here](https://github.com/keybase/kbfs#on-linux-or-os-x).  Although it's not required that you actually mount KBFS to `/keybase` for git functionality, you can use `-mount-type none` to skip that part.

[2017-10-04 23:33] dkoehler69 opened #8816 "Installation for multiple users fails + bug in Repair feature"
I was trying to install the Kybase client under Win10 on a system with multiple users. What I did was the following:
1. Installing it in with a non-admin account. Result: It worked only for this account.
2. Uninstalling it.
3. Installing it in an admin account. Result: Not available in non-admin account.
4. Uninstalling it.
5. Installing it it again in non-admin account: Result: Keybase client has

[2017-10-04 23:40] roens commented on #8281
At this point, given the situation I described, I'm now unable to start a new chat with that particular user.
* Open keybase app chat list
* Click on `+ New Chat`
* Enter name of the user (the one I've been talking about)
* While viewing info about that user, click on `Start a chat` button/link
* The "No valid message" error briefly displays at the top, and I'm left looking at the "search for a us

[2017-10-05 00:00] dkoehler69 opened #8817 "Github Photo not showing"
The photo from my Github proof does not show up in the client or the Keybase website. When I click on the photo edit icon in the client, I reveice the message: "For now, Keybase shows your profile photo from your Twitter or Github proofs. If you'd like to prioritize one service, you can change that setting on the Keybase website." I have no Twitter proof, so I would expect the Github proof photo t

[2017-10-05 00:07] mnordine opened #8818 "Blank white screen when you click the info button in a chat"
Keybase GUI Version: 1.0.33-20171003193446+d9ceb86ac

[2017-10-05 00:15] dkoehler69 opened #8819 "Cannot remove Keybase from taskbar"
Keybase GUI Version: 1.0.33-20171003151350+ea019b3

If I choose "Quit" Keybase is removed from the Taskbar, but it reappears when I restart my computer. I would expect from an unobtrusive application that it removes itself from the outrun applications in such a case.

Besides, I found that I have two entries of the "Keybase quite start utility" when I open up the Task-Manager.

[2017-10-05 01:26] mnordine opened #8820 "Add ability to edit text size in chat"
I don't think there's any way to edit the font size in the client right now.

[2017-10-05 01:28] mnordine opened #8821 "Display supported markdown features in help"
There's a few helpers in the message window, but even a link to documentation on the website the user could reach from the Window Help menu would be helpful.

[2017-10-05 01:30] mnordine opened #8823 "Support multi-line comments"
It'd be nice to be able to do:

[code]

[2017-10-05 01:31] mnordine opened #8824 "Autocomplete in chat on @ key"
Typing @ should popup a list of team users and autocomplete.

[2017-10-05 01:32] mnordine opened #8825 "Add support for reacting with Emoji"

[2017-10-05 01:38] mnordine commented on #8824
I think this may be handled here: https://github.com/keybase/client/pull/8788

[2017-10-05 02:05] currymj commented on #8825
this isn't just a trivial thing, i'm in a group right now that uses these for polling, temperature taking, etc.

plus it's cool and fun.

[2017-10-05 02:12] chris-morgan opened #8827 "Error: “/keybase is unavailable. Please try again.”"
Windows 10, 64-bit. I installed Keybase over a year ago, used it for a couple of things I wanted to use it for at the time, then ceased using it. Somewhere along the way I disabled the startup items that it installs.

Just now I wanted to start using it again; I tried starting it (without the background startup items having been started), but it got stuck on “Loading…” when I started it. After one

[2017-10-05 02:33] kevinSuttle opened #8828 "Can't create git repo in macOS"
Same error in the UI app and CLI.

`This device does not yet have read access to directory /keybase/private/kevinSuttle, log into one of your other devices to grant access`

<details>
<summary><strong>Stack trace</strong></summary>

[code]

</details>

I just did an in-place "upgrade" to High Sierra, and ran into some possible permissions issues, but this is new.

[2017-10-05 03:08] strib commented on #8828
@kevinSuttle: hrm, the message seems to indicate this device doesn't, and maybe never did, have access to your private folder.  Have you ever been able to access the regular KBFS folder at that address from this device?

Happy to take a look if you want to do a `keybase log send` and let us know the resulting ID.

[2017-10-05 03:11] kevinSuttle commented on #8828
Thanks @strib. I have been able to access that directory both in the GUI and CLI. log id: `6344f5030c5130b20fb8c71c`

[2017-10-05 03:13] strib commented on #8827
Thanks for the report.  If you do a `keybase log send` from the Keybase Shell, and let us know the resulting ID here, that would be very helpful.

cc: @zanderz

[2017-10-05 03:48] strib commented on #8828
Looks like that folder is only accessible from revoked devices now.  Looks like it's been that way since you revoked the devices `Mac` and `assault pigeon` in April 2016.  I think we need to reset the folder completely, losing any data that might be in there.  (Doesn't look like anything really's been written to it, very little anyway.)

If you want us to reset your folder, please run this command

[2017-10-05 03:57] manchinagarjuna opened #8829 "Not able to login into a new device"
I have reset my old device (iPhone) and restored from the backup. During this process my key base account was logged out.

Now I'm not able to add new device or login from any command line utility. Luckily I have access to keybase account via browser. However, there is not that much use as this is not helping me in authenticating the new device.

Can someone help with this?

[2017-10-05 03:58] kevinSuttle commented on #8828
[code]

[2017-10-05 03:59] strib commented on #8828
I reset the folder.  Please check it out and close this if everything seems ok.  (Might require a Keybase restart.)

[2017-10-05 04:08] kevinSuttle commented on #8828
That worked! Thank you @strib!

[2017-10-05 04:08] #8828 closed

[2017-10-05 05:51] gappleto97 opened #8831 "Android app on FDroid"
That would enable a lot of users who try for OSS only to use your app, myself included.

[2017-10-05 06:08] neersighted opened #8832 "Unable to access public folder after account reset"
Hey there,

I appear to be experiencing something similar to #2090. After resetting my account, I can no longer use a public keybase folder. Instead, I get this:

    ls: reading directory '.': Input/output error

In addition, in my signature chain, the JS does not show an account reset. I believe that a reset should be shown at [#117](https://keybase.io/neersighted/sigchain#302af53357fc61e9db079a

[2017-10-05 06:52] gustafe opened #8833 "Cannot add Keybase folder to Explorer in Windows"
Windows app, File area. Click the "Display in Explorer".

"Repair" option in installer is prompted. Click it to start.

Installer prompts for EXE: Keybase_1.0.33-20171003150842+ea019b3.386.exe, default folder is my Downloads folder. However this file is not found there. Pressing cancel cancels the operation.

* Screenshot 01
* Log file Keybase_20171005083857.log

I try again, this time searching f

[2017-10-05 08:30] nekromoff commented on #5399
I am having this issue with the latest 1.0.33-20171003193427.d9ceb86ac

[2017-10-05 08:35] schollz commented on #8815
Great! Thanks. Works perfectly now. For future reference, here's what I did on my Chromebook after installing Go:

**Pre-reqs**

[code]

**Install keybase**

[code]

**Install kbfsfuse**
[code]

**Install git-remote-keybase**

[code]

[2017-10-05 08:35] #8815 closed

[2017-10-05 08:53] gavinB-orange opened #8834 "Windows client - error provisioning"
New Windows install - first opening of the client fails with :
![image](https://user-images.githubusercontent.com/9639839/31218633-3f17bc08-a9bb-11e7-9393-9f8f58dde293.png)

Note - behind a corporate firewall, but my Linux workstation at the same location works fine.

[2017-10-05 10:06] juzam opened #8835 "[windows] unable to delete an already deleted git repository"
Steps to reproduce:

- add a keybase repo as a `new-origin` remote
- launch the command `git push --all new-origin` and interrupt it (CTRL-C works well, but could also be caused by a connectivity problem)
- try to delete said keybase repository

The first deletion apparently doesn't give an error but the result is a spurious entry in the list of repositories, that can't be removed.
On the next tri

[2017-10-05 10:15] Agorise commented on #8831
Yeah, this would be awesome since afaik google play app store is blocked in China.
F-Droid is awesome: https://f-droid.org

Fyi, other good places to post the Keybase apk would be:
http://www.aptoide.com
http://slideme.org
https://alternativeto.net

It's totally free to get the Keybase app published on those sites too :)

[2017-10-05 10:29] Agorise opened #8836 "Keep (some of) my teams and channels hidden"
in keybase, can you see what teams and channels i have created without me even adding you to the team or channel?

end goal: it would be cool if i could dump telegram, github, and google drive completely.

so,
in telegram, i have created supergroups (keybase channels?) that nobody can see unless i add you to the group. i gave each of those supergroups a custom name and can change it at any time. v

[2017-10-05 10:31] anowlcalledjosh commented on #7173
Given that the list of possible words in a paper key is known, the Keybase app should also be able to do a much better job of autocompletion than a keyboard app.

Alternatively, you could use `IME_FLAG_NO_PERSONALIZED_LEARNING` ([docs](https://developer.android.com/reference/android/view/inputmethod/EditorInfo.html#IME_FLAG_NO_PERSONALIZED_LEARNING)) to instruct keyboards to avoid learning from te

[2017-10-05 11:09] igufi commented on #8833
I have exactly the same problem.

[2017-10-05 11:40] sporkwitch commented on #7173
Limiting the range of autocomplete suggestions would degrade security by further limiting search space (though if the code for paper keys is public, I suppose that search space is already known, so that may be moot).

That flag seems ideal; legitimate keyboards would obey it and malicious ones are saving and sending back your keystrokes anyway.
v / r
Robert Klebes
Mobile: 571-492-8639
https://keyb

[2017-10-05 11:42] stefanozorzi opened #8837 "Cannot chat with one specific contact"
When I try to send a message to one of my contact I get this error. I have deleted a previous device and added a new one.

I know have this folder structure.
<img width="1172" alt="screenshot 2017-10-05 13 36 53" src="https://user-images.githubusercontent.com/5219644/31225568-fdf60848-a9d2-11e7-98f5-f42dd3edf4bb.png">
<img width="630" alt="screenshot 2017-10-05 13 41 49" src="https://user-images.g

[2017-10-05 12:18] yogiben opened #8838 "Is it possible to selectively encrypt: only a subset of files"
We're using [GitCrypt](https://github.com/AGWA/git-crypt).

It lets you specify what files should be encrypted. This is useful because you can still view PRs in the web GUI (unencrypted files) but encrypt sensitive info like environment variables.

Is this functionality possible? I couldn't see it in the readme.

[2017-10-05 12:54] maxtaco commented on #8837
Thanks, Cc: @mmaxim

[2017-10-05 12:55] maxtaco commented on #8833
cc: @zanderz

[2017-10-05 13:16] maxtaco commented on #8835
thanks for the report. cc: @oconnor663

[2017-10-05 13:17] maxtaco commented on #8834
yeah, it's likely the firewall....

On Thu, Oct 5, 2017 at 4:53 AM, gavinB-orange <notifications@github.com>
wrote:

[2017-10-05 13:21] abachman commented on #8818
Same, downloaded and installed today (2017-10-05).

macOS 10.12.6

[2017-10-05 13:22] maxtaco commented on #8818
Sorry guys, there's a bug here that we've so far failed to repro.  Can you both run `keybase log send`? Thank you

[2017-10-05 13:26] maxtaco commented on #8829
Is the app not accepting your password? Can you make sure you have the right username/password by logging into an incognito window on the website?

[2017-10-05 13:29] abachman commented on #8818
@maxtaco sure!

It was in a chat session with myself.

[code]

[2017-10-05 13:32] mnordine commented on #8818
I attempted to start a private chat with someone

[code]

[2017-10-05 13:49] mmaxim commented on #8837
This is a problem from KBFS, cc @strib any thoughts?

[2017-10-05 13:57] strib commented on #8838
No, sorry, it's all or nothing.  We encrypt at the storage layer, not at individual files.  Because of that, we will probably never be able to support showing data on a website.  Though someday we might implement a PR view in our client.

[2017-10-05 13:58] maxtaco commented on #8816
cc: @zanderz

[2017-10-05 14:08] zanderz commented on #5399
@nekromoff Can you do a `keybase log send`? Thanks.

[2017-10-05 14:10] zanderz commented on #8833
Can you also do a `keybase log send` ? Thanks.

[2017-10-05 14:17] nekromoff commented on #5399
done c812f5ccada402e977f3b51c

On Thu, Oct 5, 2017 at 4:08 PM, Steve Sanders <notifications@github.com>
wrote:

[2017-10-05 14:22] zanderz commented on #8833
Meanwhile, it should work if you point that dialog at the installer you downloaded,  https://prerelease.keybase.io/keybase_setup_386.exe

[2017-10-05 14:25] warsaw opened #8840 "Unknown error: GPG error: exit status 2"
I'm getting this error when trying to log in using the macOS client.  "There was an error in provisioning"

Version 1.0.33-20171003193446+d9ceb86ac (1.0.33-20171003193446+d9ceb86ac)

I generally use the command line option and I know it works because I *just* followed someone right before trying the macOS client.

[2017-10-05 14:37] #8838 closed

[2017-10-05 14:40] JonaDupIO opened #8841 "Can't create git repo in macOS"
Hi

Error in CLI and API.
Seems that I can't chat anymore with people I added before I reinstall my Mac.
I tried Keybase long time ago, delete it, and then I try to use it to test git and teams features.

My log id: 270c0b1cffb26c81d2bdaa1c

Thanks!

[2017-10-05 14:47] maxtaco commented on #8841
Can you send a screenshot?

[2017-10-05 14:53] petertodd commented on #4722
FYI I have this type of setup as well, and would appreciate a fix.

[2017-10-05 14:58] JonaDupIO commented on #8841
<img width="682" alt="capture d ecran 2017-10-05 a 16 56 13" src="https://user-images.githubusercontent.com/7522290/31234120-5e98a56e-a9ee-11e7-966c-9a23517d00d6.png">

[2017-10-05 14:59] maxtaco commented on #8841
yeah, it's because you reset your account and have all new keys, it's cryptographically impossible for you to gain access to your old data until you are rekeyed by your collaborators. We warn pretty heavily about this on reset.

[2017-10-05 15:00] igufi commented on #8833
Pointing to the keybase_setup_386.exe instead of the pre-filled Keybase_1.0.33-20171003150842+ea019b3.386.exe in the dialog box allows the repair process to complete and I can now see the KBFS in Explorer. Thanks for the tip @zanderz .

[2017-10-05 15:03] JonaDupIO commented on #8841
I understand about the chat/files part.
But why I have the same problem with git?

[2017-10-05 15:06] maxtaco commented on #8841
Git is build on top of the file system. Sorry for any confusion there

[2017-10-05 15:07] JonaDupIO commented on #8841
Ok, thanks.
What can I do to fix this?
I need a new account?

[2017-10-05 15:09] maxtaco commented on #8841
No, i think the people you're working with need to come back online and rekey for you.  @strib do you know the specifics of how a git repo should work with a reset user?

[2017-10-05 15:13] strib commented on #8841
@JonaDupIO: from your logs, it looks like you're trying to access a team repo, not a multi-user repo (like your screenshot above implies).  That should work, assuming the repo has been created via the GUI or command line, and your current, post-reset account is a member of that team.

What output are you getting on the git command line?

[2017-10-05 15:14] NiklasBr opened #8842 "Feature request: Allow bots"
The [Terms of Service](https://keybase.io/docs/terms) today forbids the use of bots or other automated tools, but the ability to have bots would be a huge boon for Teams. Is there any way to convince the Keybase team to allow bots?

For example, consider the ability to connect your CRM or intranet to Keybase Teams. Upon some events in the CMR/Intranet the CRM can post to a team channel that someth

[2017-10-05 15:28] jjgreen commented on #8405
I've got the same problem, I have 2 machines which are not (and will never be) close to each other.  One is registered (`bar`), and trying to login to register the other (`foo`) gives

    user@foo ~/ $ keybase login user

    The device you are currently using needs to be provisioned.
    Which one of your existing devices would you like to use
    to provision this new device?

	  1. [computer]

[2017-10-05 15:33] adampaulsen opened #8843 "message won't send if the last chunk of text is an @username followed by a questionmark"
Example:

Can you tell me what's wrong with this @username?

If I hit enter, the message won't send, however, if I put a space between the username and the question mark, it will then send.

running on OSX 10.11.6, KB version 1.0.33-20171003193446+d9ceb86ac

thanks!

@adampaulsen

[2017-10-05 15:35] 0xff7 commented on #8798
@maxtaco Any ideas if theres something I need to do on my end or if it is in fact a bug?

[2017-10-05 15:38] JonaDupIO commented on #8841
`➜  test keybase git create test`
`libkb.NeedSelfRekeyError{Tlf:"", Msg:"This device does not yet have read access to directory /keybase/private/jonathandupuich, log into Keybase from one of your other devices to grant access: --- is not readable by jonathandupuich (uid:---)\ngithub.com/keybase/kbfs/libkbfs.isReadableOrError\n\t/Users/build/go/src/github.com/keybase/kbfs/libkbfs/md_util.go:74\ngit

[2017-10-05 15:46] maxtaco commented on #8818
Thanks guys. CC: @keybase/react-hackers

[2017-10-05 15:51] strib commented on #8841
Ohh, I see, this is just your personal private folder, I was confused, sorry.  I guess you reset your account before we had auto-folder-resetting.

If you want us to reset your folder, please run this command on an currently-valid keybase device, and substitute the current date and time where indicated:

[code]

and post the results here.

[2017-10-05 15:51] maxtaco commented on #8660
Hi, did you send a `keybase log send`?

[2017-10-05 15:57] patrickxb commented on #8798
@0xff7 it's an actual bug, fixing it now.  Thanks for the report and the log.

[2017-10-05 15:57] zanderz commented on #8833
@igufi Can you do a `keybase log send` too? We aren't yet able to reproduce this and it could help to see the resolution case. Thanks.

[2017-10-05 16:05] oconnor663 commented on #8782
@alvarolizama fix is finally in review, apologies for the empty promises >.<

[2017-10-05 16:08] igufi commented on #8833
Log id 9823525bd9bef541d6c16f1c was sent via the CLI. Is this enough or do you need it also as an attachment in this thread?

[2017-10-05 16:10] maxtaco commented on #8660
And/or did it ever start working?

[2017-10-05 16:28] magneticnorth opened #8844 "unable to register - truenorth"
[All I get is Ah Shoot! Something went wrong, wanna try again?]

I populated all the fields including email, passphrase, device name.

my log id: a8e3ceb9548910ec6c29421c

[2017-10-05 16:28] manchinagarjuna commented on #8829
Iphone client is not asking me for a password. Once I enter the username or email address, by default it redirected to "Please prove you're you" screen.

[2017-10-05 16:36] malgorithms commented on #8807
ok, I believe it's fixed! @IMcPwn

[2017-10-05 16:46] pmocek opened #8846 "Keybase CLI fails to write to disk after disk-full and online resizing"
After filesystem to which Keybase attempts to write fills and online resizing is performed to increase available space, Keybase CLI fails as if filesystem remains full.  Quitting from GUI, then restarting it, then reattempting results in success.

Example:

    $  keybase follow somecontact
    ▶ WARNING Cannot put resolve result to disk: write /home/pmocek/.local/share/keybase/keybase.leveldb/000

[2017-10-05 16:47] pmocek opened #8847 "Keybase CLI fails to write to disk after disk-full and online resizing"
After filesystem to which Keybase attempts to write fills and online resizing is performed to increase available space, Keybase CLI fails as if filesystem remains full.  Quitting from GUI, then restarting it, then reattempting results in success.

Example:

    $  keybase follow somecontact
    ▶ WARNING Cannot put resolve result to disk: write /home/pmocek/.local/share/keybase/keybase.leveldb/000

[2017-10-05 16:48] pmocek commented on #8846
duplicated by #8847

[2017-10-05 16:48] #8846 closed

[2017-10-05 17:05] boydm opened #8848 "The link to install Keybase on the website is broken for MacOS with Safari"
The link to install Keybase doesn't work in Safari (which is a problem on a Mac...)

macOS Sierra 10.12.6
Safari 11.0

Steps to reproduce:
Go to install page on keybase.io

Try to click link to download and install keybase.

Unable to click link.

Works in Chrome.

[2017-10-05 17:18] patrickxb commented on #8798
@0xff7 could you try the following?

1. `keybase db nuke`
2. quit keybase app from the menubar widget and then launch Keybase again
3. try to access your team

We think there might be some stale data in your disk cache.

Despite its warnings, `keybase db nuke` is safe and is just removing the disk cache.  Quitting the app and restarting it just makes sure you're starting with fresh caches.

Thank

[2017-10-05 17:28] raingloom opened #8849 "Feature request: syntax highlight in Markdown"
# Allow adding a language to code blocks, same way Github does it

## how it is now

[code]
simply becomes:

[code]

## how it should be

[code]
should render to

[code]

Discord does this too and it's really nice.

[2017-10-05 17:38] aaa11235 commented on #7613
I've experienced this in `Version (Mac) 1.0.33-20171003193446+d9ceb86ac`

[2017-10-05 17:41] esilva-everbridge commented on #8786
I am seeing this as well.

[2017-10-05 17:58] netzkobold commented on #8786
Can anybody from Keybase acknowledge the issue or suggest a fix? This is still occurring as of now.

[2017-10-05 17:59] strib commented on #8786
You might be shadowbanned.  Try http://nullprogram.com/am-i-shadowbanned/.

[2017-10-05 18:14] netzkobold commented on #8786
@strib thanks, I am, that's helpful information, I had to look up what that even is, now I can go through "It's difficult. It's really, really, really, really difficult." process of getting un-shadowbanned

[2017-10-05 18:14] #8786 closed

[2017-10-05 18:30] maxtaco commented on #8607
@retrobabel, can you run:

[code]

Thanks!

[2017-10-05 18:58] maxtaco commented on #8607
Also:

[code]

would be useful too.

thanks!

[2017-10-05 18:58] spaetzel opened #8850 "Skip verifying proofs for unavailable sites"
If a certain identity provider is generally unavailable, the client should not attempt to verify proofs against it.

For example if Facebook.com is down, or blocked via /etc/hosts, Keybase shouldn't fail verifying someone's identity if their other proofs are still available.

[2017-10-05 19:30] zanderz commented on #8816
@dkoehler69 Sorry about the repair troubles, we're looking into those still. Meanwhile, it will work if you point it to the originally downloaded keybase_setup_386.exe.

[2017-10-05 19:45] karlkeefer opened #8852 "Fresh windows install, no shared or private folder access at all"
After initial install, I was prompted to "repair" by the shared folder section of the app.
I ran the repair script and the drive letter K now shows up in explorer, but it won't open (unavailable warning), and linkage from the status bar icon or the app itself seem to just "do nothing". No errors thrown of any kind.

[2017-10-05 19:49] oconnor663 commented on #8782
![image](https://user-images.githubusercontent.com/860932/31249304-d44e66fe-a9e4-11e7-9c92-da136899c879.png)

[2017-10-05 19:50] oconnor663 commented on #8782
@alvarolizama let me know if you see the right thing now.

[2017-10-05 20:11] oconnor663 commented on #8835
Good catch! We'll need to make sure we're getting "doesn't exist" as a concrete error type from KBFS, but either way it should be a quick fix.

[2017-10-05 20:20] kballard opened #8854 "Spurious "team already exists" message in the GUI"
I used the GUI app to create a new team. The team creation succeeded, but I was then presented with an error message saying "team already exists". My best guess is the GUI tried to create the team twice for some reason.

Client:  1.0.33-20171003193446+d9ceb86ac
Service: 1.0.33-20171003193446+d9ceb86ac

[2017-10-05 20:22] alvarolizama commented on #8782
All works perfect now! Thanks

On Thu, Oct 5, 2017 at 14:50, oconnor663 <notifications@github.com> wrote:

[2017-10-05 22:08] alexreg commented on #5039
Yes please! I asked for this issue before, and unfortunately it never got resolved. Would be a HIGHLY desirable feature for me.

[2017-10-05 23:16] strib commented on #8832
We discussed offline a bit and I gathered more logs from @neersighted (thank you!).  There was a rare bug in conflict resolution that caused the folder to be inaccessible.  The data would be recoverable with a little extra work, but we decided we will reset the folder since none of the data was needed.

[2017-10-05 23:19] jakebasile opened #8859 "Extra Files"
I'm seeing extra files on the KBFS drive. They all seem to be duplicates of true files prepended with '._', but the contents of the duplicate files isn't the same.

For example, I have a picture of me in a dashing fedora at `K:\public\jakebasile\fedora.jpg` or `/keybase/jakebasile/public/fedora.jpg`, but there is also an extra file at `K:\public\jakebasile\._fedora.jpg` or `/keybase/jakebasile/pub

[2017-10-05 23:33] CraigCottingham commented on #8812
`keybase log send` ID: b7edb1b4c647931c7666201c

The path to this local checkout has no unusual characters in it: `/Users/craigc/Projects/trademark-free-naval-warfare`

[2017-10-05 23:53] 0xff7 commented on #8798
@patrickxb clearing the cache worked. Thanks for helping me resolve this and keep up the great work!

[2017-10-05 23:53] #8798 closed

[2017-10-06 00:08] neersighted commented on #8832
Thanks for the quick resolution @strib!

[2017-10-06 00:08] #8832 closed

[2017-10-06 00:08] patrickxb commented on #8798
Great, thanks for reporting the bug!

[2017-10-06 03:29] chungy opened #8861 "Middle click paste does not use the primary selection, but the clipboard instead"
When trying to select text (eg from a terminal) and middle clicking in keybase to paste it into a chat, it doesn't paste what is expected, but tries to paste the clipboard instead. This is both extremely annoying (and counter-intuitive) and devestating since I have to go put the selection into the clipboard instead, wiping out the previous contents.

[2017-10-06 03:46] joannou commented on #8829
Same. Uninstalled Mac app. Reinstalled Mac app, entered my username, and was shown the "Please prove you're you" screen, with my Mac as the only option.

Tried installing iOS app, entered my username, and was also shown the "Please prove you're you" screen, with my Mac as the only option.

Tried `keybase login` on the command line as well, entered my username, and got

[code]

with my Mac as the o

[2017-10-06 04:31] jubos opened #8862 "Windows Explorer extension Repair Process fails."
I tried to install the Windows Explorer extensions but the "Repair" process fails with trying to open a non-existent file and bringing up a dialog.

my log id: ed7b9ec6401d9340fdcec51c

[2017-10-06 05:52] pquodling opened #8863 "Breaks ssh"
running on an Imac (will test soon with MBP) running High Sierra - Keybase installed via Homebrew, and am running Iterm2 that fires up tmux.

previously I could log into a remote server (passwordless) with an ssh myname@thenodeid.

This now returns

Unable to negotiate with 2001:yyy:xxxx::4 port 22: no matching cipher found. Their offer: aes128-cbc,3des-cbc,twofish128-cbc,cast128-cbc,twofish-cbc,b

[2017-10-06 05:54] MakotoTheKnight opened #8864 "White screen on Linux when clicking the Git button"
I'm attempting to use the encrypted Git feature and am seeing a white screen come up in the client instead.

my log id: 27548d96c958cf57ac380f1c

[2017-10-06 06:30] gustafe commented on #8833
After uninstalling and reinstalling Keybase client, issue is resolved.

[2017-10-06 07:10] yufeiying opened #8865 "Can't open keybase GUI after reboot system when I finished installing the new version."
I downloaded the old version of 1.0.31 setup file and forgot to install it. Today I remembered this app and ran the setup.exe to install it. After installation finished, I found that there was no K: drive in Explorer and the GUI kept saying that my encrypted folders were not showed in Explorer. So I re-download the setup file from official website and ran it again to overwriting existing files. Af

[2017-10-06 07:28] JonaDupIO commented on #8841
BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5weRa0zkKNwdzf kcTHO5jd0qLyPC2 g6qzhri8kzFi6wZ 5xZh4ZXRXGrLFou vsjGfynTJ6fQiYj INvMe7EpJGuL5DP qv23Puy6Nm5PSnY SKc9baeAybVdEHh NrNG1cPcS5xn7qE yesQaR5kEmiNiN8 tEJx0BWjc5Eqi38 6qc0YhaFjaJ9Da4 dLqrbxZ4zH2QMOb Iygf47f5LThCulN 7tpmOVAMX9a27TL ZhHGSVH7FfEGN0o 6qoP0WFLYdzPDZl spfLRDRhGe89vmN r8DkdwE2uQmDkFH oPdgswPyquuTH19 XCOdFa3P110wTzF 3tOqauDe2

[2017-10-06 07:36] yufeiying commented on #8865
It's OK now. I ran repair of the installer and repair for folders in Explorer. No issues now.

[2017-10-06 08:34] zuphzuph commented on #6096
need.

[2017-10-06 09:11] dcialdella opened #8866 "Can't validate my Ycombinator Profile..."
Can't validate my Ycombinator Profile...
now have 2 points... but seams anything else happends

ideas ?

thanks....

[2017-10-06 09:56] einarmagnus commented on #7705
Same issue with underscore, e.g. https://en.wikipedia.org/wiki/Solitaire_(cipher)

[2017-10-06 11:00] TheLeftMoose opened #8867 "terminal keybase prove twitter - nil pointer exception"
keybase prove twitter is written on your page for installing client on linux. Bu
t it gets a runtime error and throughs an nil pointer exeption

my log id: f2ec9e10fe8ec271aee4aa1c

[2017-10-06 11:01] maxtaco commented on #8867
Thanks for the report, it is likely due to a big refactor I committed yesterday.  I will check it out first thing.

[2017-10-06 12:07] Riduidel commented on #8862
I have the same issue. The repair process triggers the classical Windows open file dialog.
It happened twice, then (exactly when I tried to add an issue), it simply failed. My log file contains

	[0AFC:23A4][2017-10-06T14:01:23]i001: Burn v3.10.2.2516, Windows v10.0 (Build 15063: Service Pack 0), path: C:\Users\nicolas-delsaux\AppData\Local\Package Cache\{8029599c-5d18-407a-9bc1-5b7875d899d5}\Keyb

[2017-10-06 12:11] dakira commented on #8864
Keybase GUI Version: 1.0.34-20171006000413+5fe91ae13

[2017-10-06 12:12] maxtaco commented on #8864
We will investigate first thing.  Can you do a ‘keybase log send’ ?

On Fri, Oct 6, 2017 at 8:11 AM Matthias Niess <notifications@github.com>
wrote:

[2017-10-06 12:14] dakira commented on #8864
Log ID: 52e5f51f980733162205cd1c

[2017-10-06 12:22] maxtaco commented on #8864
Thanks. Cc @oconnor663

On Fri, Oct 6, 2017 at 8:14 AM Matthias Niess <notifications@github.com>
wrote:

[2017-10-06 12:23] maxtaco commented on #8862
Cc @zanderz

On Fri, Oct 6, 2017 at 8:07 AM Nicolas Delsaux <notifications@github.com>
wrote:

[2017-10-06 13:07] maxtaco commented on #8867
Fixed in #8868.  Sorry for the bug an thanks for the bug report. Should go out with a fix today.

[2017-10-06 13:07] #8867 closed

[2017-10-06 13:49] maxtaco commented on #8863
I'm pretty sure this is unrelated to keybase.

[2017-10-06 14:41] strib commented on #8812
The user found backlashes, generated by Tower, in one of his local git config files, that it causing `git-remote-keybase` to blow up.  We'll work on a fix.

[2017-10-06 15:02] tommorris commented on #7560
This broadly duplicates #4266.

Other cryptocurrency issues: #6208 (Monero), #5788 (reusable payment codes), #7042 (altcoins).

[2017-10-06 15:02] tommorris commented on #4266
This is broadly duplicated by #7560.

Other cryptocurrency issues: #6208 (Monero), #5788 (reusable payment codes), #7042 (altcoins).

[2017-10-06 15:03] tommorris commented on #6208
Other cryptocurrency issues: #5788 (reusable payment codes), #7042 (altcoins), #7560 and #4266 (Ethereum).

[2017-10-06 15:18] Spiltpickle commented on #8862
Same here. I found another comment on the web that if you select the original keybase setup file it proceeds.  Tried that and it worked, except that it didn't actually repair the kbfs and I continued to receive the message about it being broken in the client. Ended up reloading whole computer (for other reasons) before doing any more troubleshooting.

[2017-10-06 15:22] MBuchaus opened #8872 "window is blank white when selecting git button"
Keybase GUI Version: 1.0.34-20171006000413+5fe91ae13

Screen go's white and cannot change back to chat or other  without quit and start.

Repeats..
-------------
OS: Arch Linux x86_64
Host: 20ENCTO1WW ThinkPad P50
Kernel: 4.13.3-1-ARCH
Uptime: 1 day, 17 hours, 19 mins
Packages: 1632
Shell: zsh 5.4.2
Resolution: 1920x1080, 2560x1440, 1920x1080
DE: KDE
WM: KWin
Theme: Breeze [KDE], Breeze [GTK2/3]
I

[2017-10-06 15:33] ianeq opened #8873 "Cannot access (read/write) the personal private folder (macOS High Sierra)"
Hello,

I cannot access the private personal folder nor create a git repository on any of the Macs I use and have added and signed with Keybase.

On the CLI level (terminal) I can cd to the /keybase/private/**username** but no list, read or write works. I can easily read/write to one other shared private folder.

"This device has not yet have read access to directory /keybase/private/**username**

[2017-10-06 15:35] strib commented on #8873
Hi @ianeq, if you do a `keybase log send` and report the resulting ID here, I can take a look.  If you've revoked all of your original devices, you may have left yourself in a position where no new devices can read it.

[2017-10-06 16:26] styfle commented on #2074
https://keybase.io/docs/teams/index

[2017-10-06 16:28] styfle opened #8874 "docs: typo keybse should be keybase in /docs/teams/design"
I believe `keybse` is a typo and should be `keybase`.

https://keybase.io/docs/teams/design

Are the docs open-sourced somewhere so I can submit a PR?

[2017-10-06 17:04] strib commented on #8841
I reset the folder.  Please check it out and close this if everything seems ok.  (Might require a Keybase restart.)

[2017-10-06 17:22] steev commented on #7021
I've sent in a pull request that should hopefully be accepted soon.

This will only enable building the CLI.  To get GUI support, Electron 1.8.x needs to be used, and that's still in beta.  Also the tooling for building packages needs to be modified some, since they assume 64bit means building amd64 and 32bit means building x86 in the bash scripts.

Realistically, arm and aarch64 support should be

[2017-10-06 17:34] necrose99 commented on #8543
yup facebook is seeing it as spam and not to your wall by page id.... by the look of it....

SPAM-API problly killzing it.

[2017-10-06 17:36] geiziry opened #8877 "blank window on selecting Git tab"
I just installed keybase on ubuntu 17.04, and on selecting the Git tab I got a blank screen.
I rebooted the pc and tried again, and still getting the same blank window

my log id: 71bfa9f968e63559f499e51c

[2017-10-06 17:38] maxtaco commented on #8543
cc: @oconnor663

[2017-10-06 17:38] maxtaco commented on #8877
Sorry, known bug that we just rolled a fix for. Can you see if there's an update ready?

[2017-10-06 17:46] oconnor663 commented on #8543
Adding a flag on the command line to just dump the proof into the terminal is a good idea. Doing that much shouldn't be hard.

The tricky part will be to make sure that the client can _verify_ these proofs once they land in the page. I think this has worked in the past, but we haven't tested it in a while, and in general the verification code is super duper sensitive to the details of page layout.

[2017-10-06 18:04] themacguru opened #8878 "Enhancement: Make it easier to find start of missed messages"
When I open the app to read messages in the channel, it defaults to the end of the conversation. I need a way to easily have it scroll back to where I left off.

[2017-10-06 18:16] maxtaco commented on #2074
Closed!

[2017-10-06 18:16] #2074 closed

[2017-10-06 18:44] luchaos opened #8879 "Chat issues on macos"
I get `no TLF name specified` in a chat that was opened by another person.
And `no valid message in the conversation` in a chat that _**i**_ opened with the same person.

Both show `secure connection established`.

The chat the other person opened doesn't display an avatar nor name but an indicator when new messages arrived (can't see those though). Only `error unboxing chat message: secretbox fai

[2017-10-06 19:00] mmacia opened #8882 "I can't login with Linux application"
I can't login with Linux application.

my log id: c42ea979db89834853bea41c

[2017-10-06 19:02] maxtaco commented on #8882
what error did you see?

[2017-10-06 19:09] skymoo opened #8883 "Adding hook scripts to hosted git repositories"
I was already hosting some git repositories in `kbfs` and with the new git implementation I've been converting these over, however for a couple of my repositories I have some `post-receive` hooks. There doesn't seem to be a way to add hook scripts to the repositories.

Can a way be added to configure repository hook scripts?

[2017-10-06 19:12] nisargap commented on #7163
Hey @maxtaco I'm running into this same issue I put in a log: `020d470dbe985347b089341c`
my username is `nisarga`
Thanks

[2017-10-06 19:13] maxtaco commented on #7163
@nisargap what screen did you see?

[2017-10-06 19:26] z0mbix commented on #2074
Thanks so much, you all rock!

[2017-10-06 19:51] andsav opened #8885 "iOS Client: "null is not an object" error message appearing in chat"
Using the Keybase iOS version, and I had this error message suddenly appearing in chat:

![img_0277](https://user-images.githubusercontent.com/5506087/31295796-f087f898-aaad-11e7-8e1e-5166610dc70f.PNG)

This seems to be JavaScript related.

The message appeared immediately after I went on the app (it was in running in background)

[2017-10-06 19:52] maxtaco commented on #8885
thanks for the report

cc: @keybase/react-hackers

[2017-10-06 19:52] diego898 commented on #8776
Hello - I am not sure if this is realted to my problem. I got a new laptop so I decided to revoke everything and start over. I installed keybase on my new computer, and verified my identities. Now in the GUI when I go to chat, it tells me I need to rekey. I press the rekey button but nothing happens.

In the command line when I type in `keybase rekey status` I get: `No TLFs need rekeying.`

[2017-10-06 19:52] maxtaco commented on #8882
Thanks. cc: @oconnor663

[2017-10-06 20:23] oconnor663 commented on #8882
I'm seeing this, might be the issue:

[code]

[2017-10-06 20:24] maxtaco commented on #8882
I think that is fine if the app is being provisioned for the first time.
Is it?

On Fri, Oct 6, 2017 at 4:23 PM oconnor663 <notifications@github.com> wrote:

[2017-10-06 20:25] bailylex opened #8886 "Stop working after launching"
Keybase GUI Version: 1.0.34-20171006000413+5fe91ae13

[2017-10-06 20:42] mmacia commented on #8882
Yes, I just installed the client.

[2017-10-06 20:43] diego898 commented on #8776
Now I see the following:

<img width="702" alt="screen shot 2017-10-06 at 3 43 00 pm" src="https://user-images.githubusercontent.com/742407/31297815-1db0943e-aaad-11e7-8cec-4a186a648763.png">

[2017-10-06 20:55] ianeq commented on #8873
The log ID: b68a479a71f6c176fc6f3b1c

[2017-10-06 21:07] luchaos commented on #8879
it seems a background update fixed all of that.
was at version 1.0.2x before and it's at 1.0.33 now.
working nicely now

[2017-10-06 21:12] strib commented on #8873
@ianeq: yeah looks like your private folder in only keyed for the devices `IANEQ5` and `PRO1`, both of which have been revoked.  So that means KBFS and git won't work, and unfortunately that means any data in that folder is unrecoverable.  We can reset the folder if you like, to make things work again.

If you want us to reset your folder, please run this command on an currently-valid keybase devi

[2017-10-06 21:15] ianeq commented on #8873
BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5weRa0zkLOSoc9 eEfacwapzAXIFFb grhiJhmGvqHqi7h fTlgAO9kbWVTHMm oqPAlF4hv0BhOA8 FnlfhTH9lgBNxHw ozoMhxFzTDmrfso r8EZ4I36RhAql6F LDHKYM5aj3d3g9z O1cvrWIdpQ1u1Dq yRE09yihMaCWx1O oZQUyg9HyYM7sYB USKUPmwN7HH2mFg e5tRdN6jMxJ5ld1 ReUj9p6Z85G7GYz TQMbrZa9nWcYEhT AqiNzdQUJWyvqm6 u5ywzkixSX9ZDou hFIvNZPHv8n3B6e WRbREgiXJcu0plM 8zLW83dcBJD9edf Wqnileyud

[2017-10-06 21:15] strib commented on #8873
I reset the folder.  Please check it out and close this if everything seems ok.  (Might require a Keybase restart.)

[2017-10-06 21:18] ianeq commented on #8873
Works great, thanks a lot!

[2017-10-06 21:18] nisargap commented on #7163
Same ones the original poster saw - but we got it resolved over email, thank you again! :+1:

[2017-10-06 21:27] craigwatson opened #8888 "Install Error After Updating to macOS High Sierra"
Error message:

my log id: d7f49f1cef6f38ee161a8e1c

[2017-10-06 21:28] maxtaco commented on #8888
thanks.  Did you click "ignore" or "quit"?

[2017-10-06 21:30] craigwatson commented on #8888
@maxtaco I've tried both, clicking "ignore" will allow the UI to load but `/keybase` is empty.

[2017-10-06 21:31] maxtaco commented on #8888
ok, great.  Well that's working as intended.  Are you indeed running any of those programs listed? VMWare, VirtualBox, etc?

[2017-10-06 21:34] craigwatson commented on #8888
I do have VirtualBox and TunnelBlick installed, but no VMs running or VPN tunnels active.

[2017-10-06 21:35] maxtaco commented on #8888
Yeah it probably doesn't matter, i think they swoop in in front of keybase and grab the KEXT slots.  There's not much more we can do.

[2017-10-06 21:36] maxtaco commented on #8888
cc: @cjb / @chrisnojima, not sure if there is any mitigations we have up our sleeves.

[2017-10-06 21:41] craigwatson commented on #8888
A reboot seems to have cleared it (duh, should have tried that!) - a useful improvement would be to display some kind of info about what other devices are holding the slots, but I guess it's a race for the Kext slots.

Will close for now, thanks!

[2017-10-06 21:41] #8888 closed

[2017-10-06 21:42] maxtaco commented on #8888
Ah good to know, thanks!

On Fri, Oct 6, 2017 at 5:41 PM, Craig Watson <notifications@github.com>
wrote:

[2017-10-06 22:18] strib commented on #8812
I just merged a commit that should fix this in the next release.  Sorry for the bad experience!

[2017-10-06 22:18] #8812 closed

[2017-10-06 22:57] steev opened #8889 "Enabling building for other architectures"
Hey keybase devs, and any others who are interested.

I would like to start working towards enabling armhf and arm64 builds of the keybase client.

I'm not entirely sure of all the steps that will be required but so far the only thing that seems to be absolutely required will be to add some bits to

 client/packaging/linux/build_binaries.sh

but in doing so, will need to modify it just a bit.

Cur

[2017-10-06 23:01] sandfox opened #8890 "Unable to successfully install on OSX 10.13"
No matter how I install the app on OSX high sierra it is unable to start (or doing anything)

my log id: 101703dbc23fbe0eeedf4c1c

(below is log output of trying with homebrew, but the same end result happened when installing from website. Have tried uninstalling, rebooting, reinstalling again, all to no avail

[code]

[2017-10-06 23:04] pquodling commented on #8863
Indeed - a Cipher line in the ssh config file fixed it

[2017-10-06 23:04] #8863 closed

[2017-10-07 01:30] sowbug commented on #8654
Keybase promises end-to-end encryption, but not encryption at rest on endpoints out of its control. That's a good balance. If your threat model includes physical/local device access, then you already had full-disk encryption and a passphrase + screen-lock policy before installing Keybase. Anything Keybase did to address that threat on a machine without OS-level FDE & screen locking would be inadeq

[2017-10-07 01:52] yufeiying commented on #8865
It was ok yesterday. Today Keybase Setup showed up for asking to repair for KBFS in Explorer. I clicked the "Repair", this error occurred: "Error writing to file: C:\Users\[My LoginName]\AppData\Local\Keybase\Gui\api-ms-win-core-namedpipe-|1-1-0.dll. Verify that you have access to that directory."

I checked the directory and tried to create any file in that directory, all operations are ok.

If I

[2017-10-07 03:37] kbuzby opened #8893 "No error shown in linux when adding device (when there should be)"
I was trying to add a client on a VM (Lubuntu 16.04 VM on Windows 10 Host) and was trying add the device by scanning the QR code from my phone, but was not being redirected anywhere once my phone was done scanning.

I then tried to login in the website and got an error that the system time was behind and I wasn't able to log in (since it was a VM I never set the time up properly). I then set the t

[2017-10-07 03:38] reub opened #8894 "Unable to start on OSX 10.13"
Install latest version on OSX 10.13.

# Gui window is blank and empty.
# Menu Icon when clicks does not show a menu.
# keybase command not installed or accessible on command line.

Happy to provide further debugging info.

[2017-10-07 03:45] maxtaco commented on #8894
Thanks for the feedback. Can you please run `keybase log send`?

[2017-10-07 03:56] reub commented on #8894
And thanks for the quick reply. Sadly, I can't as it seems the binary wasn't installed or put on the path.
[code]

[2017-10-07 07:34] einarmagnus commented on #7705
Actually, it's probably the opening parenthesis that's the problem, not the underscore.

[2017-10-07 08:59] heini opened #8895 "TrendMicro Office Scan prevents installation of Keybase FS"
Hi,

seems that TrendMicro Office Scan somehow thinks the Keybase FS part is malware and prevents its installation on a Windows 7 laptop.

[2017-10-07 09:53] heini opened #8896 "Keybase on Windows is installed for current user only"
Hi,

just like Linux, Windows is a multi user system, too. Please let the installer install Keybase for all users, so that an admin can install it once.

[2017-10-07 10:47] Jenan opened #8897 "Is it possible to create a chat on the web base on keybase"
Hello,

I am wondering if is it possible to create chat in web application base on keybase principal like with encryption/singing?

Is it able to use the javascript crypto library and store the private key in the browser?

Thank you.

[2017-10-07 10:55] minibikini opened #8898 "[Android] Doesn't show chat messages"
Thanks for the great tool, I love it so much! Unfortunately I'm have a problem with the Android client:

- I do receive message notifications
- I can't see historical messages
- I can't see new messages from myself nor friends, the chat screen is empty.
- On the conversations list screen I can see the latest messages
- I've tried to clean caches, reinstall, re-add device - nothing helps.
- Everyth

[2017-10-07 11:35] michaelvolz opened #8899 "Very long chatmessage - now I can't login again"
Keybase GUI Version: 1.0.33-20171003151350+ea019b3

I posted a very long chat message.
There was warning in red.
I tried to shorten the message, but it did not work.
I logged off to restart Keybase.
Now I can't log in again.

I rebooted my Windows 10.
Same result. Can't log in.

[2017-10-07 11:40] michaelvolz commented on #8899
After a complete re-install it works again.

[2017-10-07 11:53] igorkulman opened #8900 "Cannot create a new account after deleting existing"
I deleted my account to start over because my account got broken and I could not add new devices.

Now I cannot create the account again, because `Username XXX is unavailable. Pick again or login if that's you.`

but when I try to login I get `Error: Server failure: user deleted`

I also tried recovering password but got `user deleted`

[2017-10-07 11:54] maxtaco commented on #8900
Can’t reuse deleted accounts. We warned you.

On Sat, Oct 7, 2017 at 7:53 AM Igor Kulman <notifications@github.com> wrote:

[2017-10-07 11:54] #8900 closed

[2017-10-07 12:20] orta opened #8901 "Add Instagram as a proof of identity"
Hello there 👋

I use Keybase to chat with [my wife](https://keybase.io/gemmamaslen) - she doesn't use Twitter or GitHub, so she really can't get an avatar without setting up that account. In theory allowing Facebook as an image source, would also work too. For her though her "main digital identity" is tied to instagram.

Scraping the instagram account for the verification text should be fine via t

[2017-10-07 12:37] maxtaco commented on #8899
Thanks for the report

Cc @keybase/react-hackers

On Sat, Oct 7, 2017 at 7:40 AM Michael A. Volz (Flynn) <
notifications@github.com> wrote:

[2017-10-07 13:34] odarriba commented on #7190
I'm on the same situation. I created @odarriba user long time ago, and closed it later on. Now I cannot create one using the same username. Any chance of recovering or freeing the user handler?

[2017-10-07 13:40] maxtaco commented on #7190
We don’t have the bandwidth right now to implement this feature. Pick a new
name is the best we can offer.

On Sat, Oct 7, 2017 at 9:34 AM Óscar de Arriba <notifications@github.com>
wrote:

[2017-10-07 14:21] strib commented on #8895
cc: @zanderz @taruti

[2017-10-07 14:22] strib commented on #8896
Right now, on every platform including Linux, Keybase only works for a single user at a time.  We haven't built multi-user support yet.

[2017-10-07 14:34] igorkulman commented on #8900
Really this is your answer? That I should have read some warning that nobody reads? If my account did not get into a broken state I would never have had to do it.

[2017-10-07 15:12] ianeq opened #8902 "The excellent Keybase iOS app not working correctly on iPad Pro 10.5"
Are there any plans (or ETA?) for iPad and/universal app for iOS?

The iPhone app launches and basically works on iPad, nevertheless on the iPad Pro 10.5 it displays badly — in both 1x and 2x scaling — there is always a scroll bar on a side to be moved back and forth to access top and bottom buttons or functions. Also, the drag-and-drop and other goodies of  iOS 11 on iPad Pro would be more than w

[2017-10-07 16:40] latentflip opened #8903 "Cannot push to git repo (BServer: block does not exist), and get lots of "Unknown RPC errors" in the app"
I can no longer seem to do very much in the app. I can login, but most actions give me an "Unknown rpc error".

It's possibly a red herring, but I have done two, (admittedly slightly strange) things since signing up:

* Added my phone as a device, then revoked it, and re-added it with a different name
* Created a git repo, pushed to it successfully, then deleted it and created a new one (with the

[2017-10-07 16:45] strib commented on #8903
Thanks for the logs, I will take a look as soon as I get some time.  Sorry for the inconvenience.

[2017-10-07 17:11] legostax opened #8904 "Feature request - Add Gab.ai for proofs"
I don't know what else needs to be said.  I'd like to be able to use my https://gab.ai account for a proof.
I really appreciate Keybase and the work being done it!

[2017-10-07 17:36] SamsungGalaxyPlayer commented on #6208
Zcash is already added as an altcoin, so I see no reason other coins should not be supported.

[2017-10-07 18:38] strib commented on #8903
This looks like the same issue underlying client#8832, which has been fixed in master and will be fixed for everyone in the next release.  It seems that you may have run a few git commands concurrently (which should be perfectly fine, that's not a bad thing to do), and they triggered the bug.

This means your private folder needs to be repaired.  If you want, I can restore it to the state it was i

[2017-10-07 18:45] johnnyRose commented on #2938
@waynew @oconnor663 The [build instructions](https://github.com/keybase/client/blob/master/go/README.md#building) _almost_ worked for me, but I received the following errors running go1.7.4:

    gopath/src/github.com/keybase/client/go/protocol/keybase1/extras.go:1451: undefined: sort.Slice
    gopath/src/github.com/keybase/client/go/protocol/keybase1/extras.go:1452: undefined: sort.Slice
    gopa

[2017-10-07 18:45] joaosilva2095 commented on #6136
Hi!

I am joaosilva2095 in Keybase and I can't access my private folder "joaosilva2095" because I have revoked in all devices and then added a new one. Is it possible for you to reset my private folder?

Thank you!

[2017-10-07 18:48] maxtaco commented on #2938
Yeah good point, you need 1.8+ to build keybase

On Sat, Oct 7, 2017 at 2:45 PM John Rosewicz <notifications@github.com>
wrote:

[2017-10-07 18:57] latentflip commented on #8903
@strib a reset would be great, thanks!

[code]

Should I just be careful running concurrent git commands in the meantime?

[2017-10-07 19:01] strib commented on #8903
I reset the folder.  Please check it out and close this if everything seems ok.  (Might require a Keybase restart.)

And yeah, until you get the next update, I recommend one git command at a time.

[2017-10-07 19:21] jscheel opened #8905 "Cannot access KBFS"
I cannot access my folder on my osx device. I've completely removed every trace of keybase, including everything in Application Support, re-verified by laptop as a new device, restarted my computer, etc. Whenever I go to folders, it says that my "Keybase folders are not currently showing up in finder." Then I get a prompt to install the Keybase helper. Every time I enter my password, it just shows

[2017-10-07 19:22] oconnor663 commented on #2938
Woops, thanks for pointing that out @johnnyRose, I'll update the instructions now.

[2017-10-07 19:27] jscheel commented on #8905
Here's the logs after entering my password to install the helper:
[code]

[2017-10-07 19:47] jscheel commented on #8905
Ok, tried manually creating `/keybase` and restarted client. Got an error saying that installing kbfs failed (which is odd, because before it said that kbfs was running when I checked keybase status).

Log: 68eba715b862316e0294141c

[2017-10-07 19:58] djdesign opened #8906 "macOS High Sierra 10.13.1 keybase install fails kbfs"
macOS High Sierra 10.13.1 keybase install fails kbfs.

my log id: cecd65ca24cca2f3b76ddb1c

[2017-10-07 20:03] Heliosmaster commented on #8557
Still happens with the new version 1.33, FYI

[2017-10-07 20:19] strib commented on #6136
@joaosilva2095:
If you want us to reset your folder, please run this command on an currently-valid keybase device, and substitute the current date and time where indicated:

[code]

and post the results here.

[2017-10-07 21:05] maxtaco commented on #8557
Thanks @Heliosmaster; we've gotten similar complaints in a post-reset state. We're going to put some effort in the coming weeks against fixing the experience after reset, which is quite rough.

Cc: @keybase/react-hackers

[2017-10-07 21:07] joaosilva2095 commented on #6136
Result:

BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5weRa0zkXBWqkR Exasse8OueC2asj WAgZslZ1Nen5B9N YReft6shmNIqNwv AHwoGOJSS1T692c VOr8ZxlpEfZJuzu 9yozRrmZjqUBqUJ XBIJEQsn5VhGJaZ BCyTQgvpGtSrH7m 7sXFNmLy7fol5X9 4lEysSUYUDI2pGa awPnru1Cs0r6kih UXosW3j9vvNLUKo O1EGHRMY7R6Xr7X ONhZ7bZdQ8GhL5Z HSbg80GkE90ogX5 spBBF6vU9QHTYRM 05chV4kznCCZSVz dFduvSemcY3xmHv 2O3iEYFVeYZNCpP AeWiWWqv4aW3wRF

[2017-10-07 21:43] reub commented on #8894
Was able to gather logs by finding binary under the Keybase.app folder structure: a62e32d3a553db77526a911c

[2017-10-07 21:55] olson-sean-k commented on #8671
Also seeing this. My taskbar is left-aligned and the system tray obscures most of the Keybase UI. Removing focus closes the Keybase popup but not the system tray.

[2017-10-07 22:04] strib commented on #6136
@joaosilva2095: I reset the folder.  Please check it out and close this if everything seems ok.  (Might require a Keybase restart.)

[2017-10-07 22:15] joaosilva2095 commented on #6136
Ya it is working! Thank you :D (the issue is already closed I think)

[2017-10-07 22:37] io4 commented on #8836
From the [announcement's](https://keybase.io/blog/introducing-keybase-teams) FAQ:

So no, only keybase servers (and people you share the team with) can know what groups you are in, and group members can not determine which subteams you are in.

[2017-10-07 23:10] eslachance commented on #8671
Can confirm this is an issue. Note that if you click anywhere in the Keybase notification window and then wait for 2-3 seconds, it does come forward in front of the "hidden task icons" dialog.

[2017-10-07 23:53] AeliusSaionji opened #8907 "Default to XDG for Downloads folder"
I see the `TODO` comment to make this configurable, but I think it would make sense for the Linux client to default to the downloads folder defined by XDG.

I think this is the relevant file

https://github.com/keybase/client/blob/264a242ee310ba7d5e6faa1a1722225176f9557d/shared/util/file.desktop.js#L32

[2017-10-08 02:33] Zenexer opened #8908 "Out-of-band verification of sigchain with revoked PGP keys"
When a user never revokes any PGP keys, it's easy for me to manually verify all the sigchain links that have been signed by that key with GPG or a comparable tool.  However, once a PGP is revoked, it doesn't seem to be possible to retrieve the public key from Keybase anymore.  How, then, can I verify sigchain links signed by that revoked PGP key?  How does the keybase client verify such links, for

[2017-10-08 03:03] Zenexer commented on #8908
Just as an example, a sigchain has this sibkey link:

[code]

That key was then allegedly used to sign this link:

[code]

Notice that the KID in the latter link begins with `0101`, which indicates to me that it's an RSA PGP key, not one of Keybase's ECC keys.  This means I have the KID and the PGP fingerprint, but I can't find any way to actually obtain the public key so I can verify the signatur

[2017-10-08 03:49] ghjm opened #8909 "No iPad App"
The iOS app is for iPhone only, so it is not searchable by default in the App Store on an iPad. If you find and install it, it gives a huge unusable screen on the iPad.

(iPad Air 2, iOS 11, if it matters)

[2017-10-08 04:41] maxtaco commented on #8908
[This API endpoint](https://keybase.io/_/api/1.0/user/lookup.json?uid=021308501d8d3ce358a5dc2f63745f19) is what the client hits to load all keys for that user. Note that the PGP key's full hash (see `full_hash`) is signed into the sigchain, so the server is powerless to muck with the PGP packets of the key.

In this case, that endpoint has the PGP key:

[code]

If you SHA2 that whole ASCII text bl

[2017-10-08 05:23] meonkeys opened #8911 "Ubuntu client just says Disconnected"
I'm on version 1.0.34-20171006165932.d0664a9cb. Ubuntu 16.04.3 64-bit desktop.

my log id: edbe72dac251f57dbad34b1c

![screenshot from 2017-10-07 22-23-14](https://user-images.githubusercontent.com/50639/31314159-2562a6e8-abae-11e7-96f1-512a6fd9d8f1.png)

I also just tried this:

[code]

[2017-10-08 05:28] meonkeys commented on #8911
Oh huh, fixed itself? I might have accidentally fixed it by hitting Ctrl-d, but I'm not sure. Anyway, looks like it works now.

But I still don't have a [git tab](https://keybase.io/blog/encrypted-git-for-everyone), even thought keybase updated just now.

[2017-10-08 05:28] #8911 closed

[2017-10-08 07:19] coderjoe opened #8912 "git push --force always fails with an error"
If you push a branch, then try and correct the push by using `git push --force` keybase will initialize, sync, and then (almost) always error with `error: failed to push some refs to 'keybase://private/username/repository.git'.

The linked text file is a bash script which I used to reproduce the problem. Please note that it presumes you don't already have a repository named `forcepushbugtest`. It

[2017-10-08 10:08] dabura667 commented on #8912
I just ran your script. Everything worked fine.

[2017-10-08 10:08] dabura667 commented on #8912
What is your keybase version and git version?

[2017-10-08 10:09] dabura667 commented on #8912
For me:

git version 2.7.4
keybase version 1.0.34-20171006165932+d0664a9cb

[2017-10-08 12:21] fuzzygroup commented on #5190
I've seen similar issues all documented here: http://fuzzyblog.io/blog/osx/2017/10/08/forensic-computing-2-kernel-panics-and-kexts.html . For now I've deleted keybase and manually uninstalled the kext.  I'll try and post back if my system becomes more stable.

[2017-10-08 13:41] latentflip commented on #8903
Okay, that has sort of improved things, but it looks like I have some lingering issues.

The git repo that I had previously seems to be stuck in my keybase app - as in I can't delete it as it says it doesn't exist, but it's still listed in keybase. I did create a new one and that appears to be working.

More concerning is that all my devices say that my folder needs to rekey or I will lose my data

[2017-10-08 13:43] latentflip commented on #8903
Have sent updated logs for you: `147a9b4e6cf64e78a7a4f51c` but it sounds suspiciously similar to:  https://github.com/keybase/client/issues/8776

[2017-10-08 16:21] coderjoe commented on #8912
Would you mind trying a few more times? Maybe increase the `sleep 5`? I did have to add a sleep command to the script to get it to happen more often. Maybe there's a chance there isn't sufficient wait time on your machine? Then again it could be completely unrelated..

Versions:

[code]
My most recent run as of this morning:

[code]

[2017-10-08 16:26] strib commented on #8912
@coderjoe: I just tested this several times myself, with different timeouts, and I couldn't repro either.  We tested force push quite a bit before release, so I'd be pretty surprised if it was universally broken.

That said, it looks like it's broken in your environment for some reason.  To figure out why, I'd need to look at logs.  Can you please do a `keybase log send` and let us know the result

[2017-10-08 16:29] strib commented on #8903
Ah yeah, we have to take extra steps to forcibly remove the repo from the db, and to remove the old pre-reset folder from the rekey list.  I can do the second part.

@oconnor663: can you please delete the old `keybase/private/latentflip` repo from the DB?

[2017-10-08 16:39] coderjoe commented on #8912
Log: 5db2f8a0643a087ed402d81c

[2017-10-08 16:39] coderjoe commented on #8912
As an aside is there a way for me to audit the content of these logs?

[2017-10-08 16:43] strib commented on #8912
You can run `keybase status` which will show you the location of the log files we send, and then you can check those files.  I'll take a look at the logs.

[2017-10-08 16:46] strib commented on #8912
Hmm, you are consistently able to repro a panic in our code, shown in your `keybase.git.log`.  I'll have to take a look at the code more carefully when I get more time, either later today or tomorrow.  Sorry for the bad experience!  Will fix ASAP.

[2017-10-08 17:03] coderjoe commented on #8912
Not a problem. For now I got around the problem by deleting the repository and re-creating it. Good luck! This seems like it'll be difficult to debug.

[2017-10-08 17:25] mmacia commented on #8882
I removed all config files and I installed again and now it works.

[2017-10-08 17:25] #8882 closed

[2017-10-08 18:02] mrdnomaid opened #8913 "Use Twemoji or Emojione"
The current Apple(?) ones look horrific, and they're obviously not open source like [Twemoji](https://github.com/twitter/twemoji) or [EmojiOne](https://github.com/emojione/)

[2017-10-08 18:14] dcialdella commented on #8866
Seams I need 2 points.... this was the reason.

[2017-10-08 18:20] ericjarvies opened #8914 "Problems with Keybase git - folders dissapearing, and git clone failing"
[code]

And in Finder, folders in Keybase user home folder disappear (reappear after restart)

my log id: 176e695cf4ae9c4d6c20741c

[2017-10-08 18:50] strib commented on #8914
I'm sorry about this.  The cause seems to be slightly different from #8903, I'm still investigating.

In the meantime, do you have any data yet in a personal, private Keybase repo that you want to save?  If you are ok blowing away your personal private repos, you can try `rmdir /keybase/private/ericjarvies/.kbfs_git`, that might recover things for you.

If you have git data you want to save, I can

[2017-10-08 19:04] strib commented on #8914
Actually it looks like there's a second issue, probably causing the Finder issues you're seeing.  You can try `rm /keybase/private/ericjarvies/._.DS_Store` for that one.

[2017-10-08 19:12] strib commented on #8914
Also, it would really help me debug if you could run this command to share the history of your private folder with me (it contains only metadata needed for debugging, it doesn't contain any metadata):

[code]

(Note that `.kbfs_update_history` is a virtual file that doesn't show up in `ls`, but you can read/copy it like a normal file.)

Thanks!

[2017-10-08 20:30] thelibrarian commented on #8797
I too have seen this same behaviour, on mac OS.

[2017-10-08 21:01] charles-dyfis-net opened #8915 "Git push can indefinitely block "waiting for journal bytes to flush""
On one occasion:

[code]

...waited indefinitely at that "0.00%" twice, shortly after the repository in question, succeeding on later 3rd try.

Logs from the second failed instance look like:

[code]

[2017-10-08 21:13] strib commented on #8915
Hi @charles-dyfis-net, thanks for the report.  If you do a `keybase log send`, and report the resulting ID here, we can check what might have gone wrong.

[2017-10-08 21:24] pduguet opened #8916 "unable to proof identity on twitter"
Despite numerous attempt. Still unable to verify my identity on twitter
heroes the last link

  | pduguetVerifying myself: I am xphil on Keybase.io. cpPtYRPNiBwBi0tzkA42x7LEqgbu-p6tVZ8E / keybase.io/xphil/sigs/cpP…8 oct. 2017 19:22
-- | --

[2017-10-08 21:27] chungy opened #8917 "Apple's emoji font included and used exclusionary to system fonts"
For both licensing and system configuration preferences, it would be nice if this was at best included as a fallback when a glyph isn't otherwise available, or (imo, better) removed entirely (might be difficult on Windows 7 users though...).

[2017-10-08 21:53] charles-dyfis-net commented on #8915
That ID is 811012208a28d6850150531c

[2017-10-08 23:14] iwburns opened #8918 "Feature Request: Team public folders"
I'm sorry if this has been suggested before elsewhere; I searched but didn't find anything.

I think it would be really nice there was a way for teams to have a public folder in addition to the current private folder under `/keybase/team/`.

This would allow teams to have a homepage served at `keybase.pub` and would allow them to put out public documents as well.  (I'm mostly thinking of larger op

[2017-10-08 23:17] maxtaco commented on #8918
On our internal roadmap. We would also need a notion of a public team whose membership is visible to all, to verify writers and writes.  Please :+1: if your team also would use such a feature. Thank you!

[2017-10-08 23:45] iwburns commented on #8918
Thanks so much for the quick response; very happy to hear this is on the internal roadmap!

I guess I didn't realize that teams are currently completely private (makes sense, just didn't think about it).  I'm assuming this means in the future there will be two types of teams (public/private) and you'll have to specify which type of team you're creating during the creation process?

If so, I'm assu

[2017-10-09 02:28] Zenexer commented on #8908
Got it.  Is there any particular reason old keys can be loaded through that API, but not [user/pgp_keys.asc](https://keybase.io/docs/api/1.0/call/user/pgp_keys.asc) or [key/fetch](https://keybase.io/docs/api/1.0/call/key/fetch)?

[2017-10-09 04:49] jzila commented on #8859
macOS creates these metadata files when you browse in Finder. They don't have anything to do with Keybase.

[2017-10-09 04:49] #8859 closed

[2017-10-09 05:42] wjlafrance commented on #6795
Same on FreeBSD 11.1-RELEASE, installed via pkg. Log ID `71bbe6f245b14b069277951c`.

Had originally installed an older version of Keybase prior to the filesystem being implemented, then upgraded via `pkg upgrade keybase`. To ensure this wasn't the cause I `pkg remove` and `pkg install`'d it again, no effect.

[code]

[2017-10-09 10:17] bmellstrom commented on #8877
I had the same problem; seems to be fixed after upgrade!

[2017-10-09 11:13] dabura667 opened #8920 "PGP key update says it was performed with the wrong key"
9C62 6AD2 6AF6 B207 8B7C 1939 A927 3B5A D3E4 7B45

I just updated both my pgp keys using keybase pgp update —all on HomePC and one of the notifications said WorkPC...

Seems like a bug?

[2017-10-09 11:33] dabura667 commented on #8918
This seems like a good use case for subteams methinks.

You could have a few people join a subteam for outward facing public folders, and the public wouldn't know of all the members of the parent team.

[2017-10-09 12:12] Binnette opened #8921 "[Windows][Desktop App] Can not copy error message"
Hi, can you please add a button here to copy the error message to clipboard ? Thanks.

![image](https://user-images.githubusercontent.com/6597721/31337501-e9748ae4-acfb-11e7-84b2-ec3c8725f3ef.png)

[2017-10-09 12:30] Binnette opened #8922 "[Windows][Desktop App] KeyApp is not working behind a company proxy"
Keybase is not working behind a proxy. And there is no option in menu, to configure one.

Here the error message I have:
![image](https://user-images.githubusercontent.com/6597721/31337501-e9748ae4-acfb-11e7-84b2-ec3c8725f3ef.png)

[2017-10-09 12:38] fuzzygroup commented on #5190
Just to give an update, I've since suffered from two additional crashes AFTER I removed this kext so I don't think it had anything to do with it.  Apologies for casting aspersions on Keybase.

[2017-10-09 12:57] lim-daniel commented on #8639
On webpage :-1:

[code]

[2017-10-09 13:05] maksim77 commented on #8841
Hi @strib!
I have the same problem! Please reset my folder:

[2017-10-09 13:06] FUSED-ID opened #8923 "FAILED Login"
[write something useful and descriptive here]
Failed Login
my log id: dca633780a5a499845c6301c

[2017-10-09 13:27] maxtaco commented on #5190
Thanks for following up @fuzzygroup!

[2017-10-09 13:35] iwburns commented on #8918
Yeah, I think that would work pretty well.

The only issue I see with that is that it might be an annoyance for "public" teams to have to create a sub-team and add everyone to it if what they _really_ want is for the whole team to be public.

Which also means there'd be no way for a team to _prove_ that there are no "private"/"hidden" team members.

Not sure if either of those are worth being conc

[2017-10-09 13:50] dabura667 commented on #8918
The point is that I, as a consumer of the data, need to know that a member of the public team signed the data. If I see data signed by an unknown user, I just ignore it. No need to prove “no hidden members”

[2017-10-09 13:56] maxtaco commented on #8908
It's probably an accident of history. As we developed that app, we just shoved more data into `user/lookup` that we needed to load a sigchain and play it back for a given use, to save RTTs.  I'm guessing those other API endpoints date back to our PGP-only client, and we've never retired them.

[2017-10-09 14:05] iwburns commented on #8918
That's true, and that totally makes sense.

I really just meant that point to be considered from a transparency perspective instead of a security perspective.

[2017-10-09 14:06] sergeevabc commented on #6551
Err… Hello? :)

[2017-10-09 14:08] sergeevabc commented on #6551
So, what’s the status? Does keybase-specific subkey work as expected, @hashhar?

[2017-10-09 14:14] oconnor663 commented on #8882
@mmacia did you happen to save a copy of those file? :)

[2017-10-09 14:24] zanderz commented on #8671
Tracked internally with DESKTOP-4289 and DESKTOP-4129

[2017-10-09 14:42] mmacia commented on #8882
No, sorry.

[2017-10-09 14:49] pbentkowski opened #8925 "Chat: some characters break the URL links and they do not work"
When there is a coma  ", " inside the URL then rendering of the link gets truncated at it and the link does not work. There are other similar reports regarding Chinese characters, some Spanish letters and parentheses.

https://github.com/keybase/client/issues/6898

https://github.com/keybase/client/issues/6285

[2017-10-09 15:15] maxtaco commented on #8894
@reub it might be worth it to uninstall and install again. does that help? seems like you hadn't updated for a while and the update from the old version to the new one didn't wok. I think

[2017-10-09 15:21] maxtaco commented on #8900
What was wrong with your account?  How was it broken?

Sorry, we just don't have the resources to fix this issue at the moment. Keybase is different from the other apps you might be thinking of. We make heavy use of append-only data-structures to prevent service malice.  Undoing an operation is not a question of just changing a value in a database.

[2017-10-09 15:22] maxtaco commented on #8896
Multi-user support should work if KBFS is disabled, no?

[2017-10-09 15:24] maxtaco commented on #8890
Looks like it might be a permissions problem. What are the permissions on `/Users/sandfox/Library/LaunchAgents/` ?

Also, do you use LastPass? We have reports that LastPass just destroys the permissions on macOS system directories

[2017-10-09 16:26] maxtaco commented on #8864
Dupe of #8872 and now fixed in master

[2017-10-09 16:26] #8864 closed

[2017-10-09 16:30] oconnor663 commented on #8864
(fix should be out already if you upgrade to latest)

[2017-10-09 16:35] reub commented on #8894
Thanks - I did try that a couple times and yes, I had installed a much earlier version. Is there some list of files or directories I can look in to try to manually remove the older version if that's the case?

[2017-10-09 16:37] dakira commented on #8864
Confirming fix.

[2017-10-09 16:40] maxtaco commented on #8894
I don't think clearing those files would help, I think there's something about your system that our install can't handle.

[2017-10-09 16:41] maxtaco commented on #8894
Can you send another log send after you tried to reinstall?

[2017-10-09 16:45] MakotoTheKnight commented on #8864
I am confirming the fix as well.

On Mon, 9 Oct 2017, 10:37 am Matthias Niess, <notifications@github.com>
wrote:

[2017-10-09 17:24] reub commented on #8894
1287a4c07a09b38b9f76ab1c

Terminal log and observations: [keybaselog.txt](https://github.com/keybase/client/files/1369351/keybaselog.txt)

[2017-10-09 18:03] strib commented on #8841
@maksim77: I reset that folder too.

[2017-10-09 19:37] jscheel commented on #8905
So, I'm thinking this is happening because I was debugging a kernel panic a while ago. I unloaded the keybase helper launchdaemon with the `-w` flag, which disabled subsequent loads of the helper. I think this is now preventing the helper from running properly. I've tries loading the helper again, with `-w`, but launchctl seems to be fighting me on this.

[2017-10-09 19:47] jscheel commented on #8905
Yep, this solved my problem. Here are the steps:

1. `launchctl print-disabled system`
2. keybase listed as permanently disabled (though this type of disabling lets launchctl _pretend_ that it is loaded
3. `sudo launchctl load -w /Library/LaunchDaemons/keybase.Helper.plist`
4. `sudo rm /Library/PrivilegedHelperTools/keybase.Helper`
5. `sudo rm /Library/LaunchDaemons/keybase.Helper.plist`
6. `keyba

[2017-10-09 19:48] jscheel commented on #5902
Take a look here for the solution: https://github.com/keybase/client/issues/8905#issuecomment-335267082

[2017-10-09 20:29] spion06 opened #8932 "Cannot start gui or cli client"
I cannot start the GUI or cli client for keybase. Looking at the output of `keybase ctl start` makes me think it's an issue with how it's finding the keybase CLI client potentially.

my log id: c00a4747b1333835b5c3831c
5c56d46df64c3ecd89f02e1c

[code]

[2017-10-09 20:37] IVGusa opened #8933 "Second Git ID-KeybaseProof"
Keybase GUI Version: 1.0.33-20171003151350+ea019b3

[2017-10-09 20:42] maxtaco commented on #8932
What are the permissions on `/Users/km022926/Library/LaunchAgents/`?

Also, relatedly, do you run LastPass?

[2017-10-09 20:43] spion06 commented on #8932
I run 1passoword but not lastpass. Permissions on LaunchAgents looks fine from what I can tell

[code]

[2017-10-09 20:52] ar-jan commented on #8507
I'm curious about this too. I can see why having the device keys leave the device is not recommended, but in case of an intentional reinstall someone could choose to do it safely (encrypted backup or secure-delete afterwards).

I found this [here](https://github.com/keybase/client/issues/2357): `it's possible to restablish your new OS as being the same device by restoring the Keybase directories f

[2017-10-09 20:55] maxtaco commented on #8932
Yeah, it sure does. Do you see `keybase.service.plist` in that directory?

[2017-10-09 20:59] spion06 commented on #8932
I do not

[code]

[2017-10-09 21:08] maxtaco commented on #8932
Yeah, that's our bug here, but damned if I can figure it out.  `launchctl` says it works, but then it noops.

Do you think your mac is in a state where it wants to restart due to an OS upgrade?

[2017-10-09 21:10] spion06 commented on #8932
actually i think it is. I can try giving it a restart and see if that does anything

[2017-10-09 21:11] maxtaco commented on #8932
I had a case like this where a restart "fixed" it.  Ug!

[2017-10-09 21:13] zander opened #8934 "deleting a team doesn't seem to work."
I had to restart my account, as such I deleted the team I am the owner of (and sole member) manually before doing the destructive action.

After starting my new account I tried to re-create the team, which failed with "already exists". So I figured I'd try and join;

$keybase team request-access tomzander
▶ ERROR Root team does not exist (code 2614)
$keybase team create tomzander
▶ ERROR team alre

[2017-10-09 21:28] spion06 commented on #8932
yeah. looks like a restart fixed it :( kinda strange/annoying but at least i know now!

[2017-10-09 21:28] #8932 closed

[2017-10-09 21:31] maxtaco commented on #8932
thanks for your feedback. Sucks that the remediation is so unsatisfying. We'll continue to scratch our heads over here.

[2017-10-09 21:41] maxtaco commented on #8507
If experts want to backup their keys and copy them back after they have installed their OS, there's obviously nothing we can do to stop them. It's just nothing we want to encourage the average users to do, lest they transfer their private keys insecurely (via iCloud, let's say...)

If you do want to back up and restore, the only important files are found in `dirname "$(keybase config info)"`

[2017-10-09 21:46] apeyroux opened #8936 "git remote helper and lfs support"
I want to use Git LFS with keybase remote helper but :

[code]

Do you plan to add git lfs support?

Regards

[2017-10-09 21:54] strib commented on #8936
Thanks for the suggestion.  We looked into it already, and found that the LFS protocol can only run over HTTPS.  Unfortunately for us, that would require running a server on a port on localhost, which is a non-starter on some platforms (like Linux) due to local firewall restrictions.  Maybe we'll revisit this someday or work with the LFS team on tweaking the protocol, but for now I don't see how i

[2017-10-09 22:09] fabiob opened #8937 "kbfsfuse keeps crashing on my Linux machine"
Hi! I just started using Keybase. Today, my laptop was running real slow. I checked `iotop`, and noticed that kbfsfuse was performing a lot of IO. So I killed it, using the same procedure that the `run_keybase` script does:

    fusermount -uz /keybase
    killall kbfsfuse

Now I'm trying to use Keybase to transfer some information among two of my laptops, but kbfsfuse just won't start.

Hope you

[2017-10-09 22:10] bfleischer commented on #5190
Thanks for following up @fuzzygroup.

However, I would like to add that none of the panic logs you posted on your blog indicates that kbfuse might be to blame for the panics. You wrote that in each case kbfuse was the last loaded kext. This is not correct:

* October 8: com.apple.driver.AppleXsanScheme
* October 7: com.apple.iokit.AppleBCM5701Ethernet
* September 30: com.apple.driver.AppleXsanSche

[2017-10-09 22:10] strib commented on #8937
Thanks for the report!  Already looking through your logs, will update when I figure it out or have a workaround.  Sorry for the bad experience!

[2017-10-09 22:19] fabiob commented on #8937
Thanks :) BTW, for now, everything I have in my private folder is a copy... So I won't mind if one of the workarounds is to reset the folder entirely.

[2017-10-09 22:33] daelv opened #8939 "file to view in Win10 Explorer .exe tries to load into folder"
![image](https://user-images.githubusercontent.com/24859041/31360959-e68d557c-ad1e-11e7-8791-b78ef35a6e58.png)
I click on "display in explorer" and get this:
![image](https://user-images.githubusercontent.com/24859041/31361006-1fecf3e0-ad1f-11e7-8212-dce6ed4ef473.png)
and this:
![image](https://user-images.githubusercontent.com/24859041/31361036-3a4633fa-ad1f-11e7-9f14-7998971e8583.png)
 and routi

[2017-10-09 22:39] daelv commented on #8939
for kicks, tried to fool it by creating blank "Text" file with Keybase_1.0.33-20171003150842+ea019b3.386.exe as name from new text file option and selecting that but no go.
Now it comes up with this error:
![image](https://user-images.githubusercontent.com/24859041/31361387-25ff05fa-ad21-11e7-80cc-8122e0a58848.png)

[2017-10-09 22:57] strib commented on #8937
@fabiob: I think the workaround is to stop Keybase on this machine, and blow away the local commits that haven't made it to the server yet:

[code]

Then restart Keybase, and copy the files back into the shared folder.

If I'm reading the logs right, it looks like you wrote a bunch of files from two different devices at the same time, and managed to get this device into a weird, broken state.  Not

[2017-10-09 23:00] strib commented on #8912
@coderjoe: found the problem and pushed a merge to master, should be fixed in the next release.  Thanks!

[2017-10-09 23:02] strib commented on #8915
@charles-dyfis-net: I think I found the issue and just merged a fix to master.  It should be fixed in the next release.  Thanks!

[2017-10-09 23:09] seiZo3 commented on #8219
+1

[2017-10-09 23:19] fabiob commented on #8937
It worked! Thanks for your help, @strib!

What actually happened is that I've sent a bunch of files to my private folder yesterday from my "Computer A", then shut it down.

Today I tried to send some more from "Computer B". When I opened my private folder on "Computer B", I noticed that some of the files were missing, so I just sent those again.

When I was done, I opened "Computer A" again, and t

[2017-10-09 23:21] strib commented on #8937
Ah got it, that makes sense.  Thanks for the explanation.  I'll work on finding the bug to prevent this from happening again in the future.

[2017-10-09 23:44] strib commented on #8914
I found the underlying cause for this bug (it was very obscure, see keybase/kbfs#1247 for an explanation) and merged a fix to master.  It should be fixed in future releases.

@ericjarvies if you still need help restoring your folder to a working state, please let me know.

[2017-10-10 00:40] robbielamb opened #8944 "Please Reset Private Folder"
I rebuilt my devices and revoked my paper key so I lost access to my private folder. I would like to play with the new git integration in my private folder /keybase/private/robbielamb. Thanks.

BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5weRa0zkOLKMAg 9ZztQnHWNTHKsr8 RX8nMfw3BJ6RGey P4xaHSO2US4qRaq ZCONUGAYx4ZZV4a GmHPqJdTfAEkpYo 4TiJhAjUUEZ1KqK SAM1OCECJllRiul iULUwYZfuPphQO9 iSqpXeV

[2017-10-10 02:34] coderjoe commented on #8912
Fantastic to hear. I'm glad it wasn't a wild goose chase! Thanks for your help. I can't wait. :)

[2017-10-10 05:09] harryfear commented on #8905
Solved. Amazing!

[2017-10-10 08:23] PC-Admin commented on #8831
Yes please, everyone recommends keybase but it doesn't have an FDroid version available. :( Meanwhile your competitor 'Pretty Easy Privacy' has had a client on FDroid for over a year.

[2017-10-10 09:19] sandfox commented on #8890
[code]

Here's just about everything I do have installed incase there's anything obvious doing something terrible.
[code]

[2017-10-10 09:36] seb2point0 opened #8946 "Team/user name conflict after user has been deleted"
Issue: Team cannot be created with the name of a user which has been deleted

How to produce de the issue: When creating a team, Keybase app displays the following message when trying to use the username of a user which has since been deleted.

Expected behavior: The application should allow for a deleted username to be used for a team name.

[2017-10-10 10:18] SoreGums opened #8947 "Where is the data for KBFS (is this how I would do backups?)"
So would I be using 10GB of data eventually on a keybase.io server somewhere with KBFS?
My home internet has a whopping massive 0.3mbps connection - so "streaming" from my home computer via the internet to my phone while out and about is not going to work well.

If this is not a "sync" model how do I run backups?
Do I simply tar the folder and thus read every file thus forcing the data to come ont

[2017-10-10 10:58] maxtaco commented on #8946
The error message can use work but this behavior is desired. We can’t reuse  names Willy nilly since it is an attack vector.

[2017-10-10 10:59] zander opened #8948 "How could we add a new identity 'proof' for something like yours.org ?"
As a keybase user as well as a yours.org user I find it valuable to link authors to their real identities. Too many people imposing others on the internet nowadays.

In the keybase 'prove' list of supported proofs there doesn't seem to be anything where I could write a post on the yours.org site and get it validated by keybase.

I would really like to be able to tie my yours.org identity to keybas

[2017-10-10 11:55] defnotryan opened #8950 "Files/folders not appearing in private folder"
I had Keybase installed on a Macbook Pro for months, and just recently installed it on two more devices (iPhone and then Macbook). Before I installed Keybase on my Macbook I wrote a test file to my private folder (`/keybase/defnotryan/private`), intending to check it later on my Macbook. When I installed Keybase on my Macbook it prompted me to Rekey the filesystem. I wasn't sure what that meant so

[2017-10-10 13:36] defnotryan commented on #8950
Log ID is 383d34677b6e8383390c511c

Thanks!

[2017-10-10 14:26] maxtaco commented on #8890
OK, thanks.  Some app crapped on your `LaunchAgents` directory, but I don't know which.

You can fix it via `chown sandfox:staff ~/Library/LaunchAgents`

Then try to rerun keybase?

[2017-10-10 14:31] sandfox commented on #8890
hehe, I was just doing the same thing as you replied.
I fixed the permissions, but had to uninstall and then reinstall keybase again so it would create some  missing folder(s) in `~/Library/Group Containers/Keybase`. after doing that it all worked wunder bar.

[2017-10-10 14:31] #8890 closed

[2017-10-10 14:33] maxtaco commented on #8890
thanks for closing the loop!

[2017-10-10 15:10] paczkow opened #8952 "Install error (updater, service, kbfs)"
OSX: I am able to copy the app into /Applications folder. However, when launching the app displays error/alert window with two option Quit and Ignore. The error states:

Keybase Install Error
There was an error trying to install the updater
There was an error trying to install the service
There was an error trying to install the kbfs

The end results is, I am unable to use Keybase.

my log id: 01b

[2017-10-10 15:14] maxtaco commented on #8952
Can you run:

[code]

And paste in the replies?

[2017-10-10 15:15] oconnor663 commented on #8903
Believe it or not I can't. It looks like @latentflip has two repos in his private folder, but the names are encrypted :-D

I think you'll be able to delete it yourself from the GUI as soon as I fix https://github.com/keybase/client/issues/8835, though, which is next on my list.

[2017-10-10 15:21] paczkow commented on #8952
Under letter K:

ls -lsa ~/Library:
[...]
 0 drwxr-xr-x    3 user1  staff     96 Oct 13  2016 Keyboard/
 0 drwx------+   2 user1  staff     64 Feb  5  2014 Keyboard Layouts/
 0 drwxr-xr-x    5 user1  staff    160 Sep 28  2016 KeyboardServices/
 0 drwxr-xr-x   13 user1  staff    416 Oct 10 10:06 Keychains/
[...]

ls -lsa ~/Library/LaunchAgents:
empty

launchctl print-disabled system:
disabled servi

[2017-10-10 15:23] geiziry commented on #8877
updated, and it's fixed

thanks alot

[2017-10-10 15:23] #8877 closed

[2017-10-10 15:24] maxtaco commented on #8952
I would also like to see the permissions on the directory LaunchAgents
itself.

Thanks

On Tue, Oct 10, 2017 at 11:21 AM Krst <notifications@github.com> wrote:

[2017-10-10 15:34] strib commented on #8903
@oconnor663: do they have TLF IDs associated with them?  You can nuke any repo assciated with `405bfbc403128c9ba071d08e283bab16`, because it's been nuked.

[2017-10-10 15:35] paczkow commented on #8952
drwxr-xr-x    3 root  staff     96 Feb  5  2014 LaunchAgents/

Thanks Max.

[2017-10-10 15:37] maxtaco commented on #8952
Yeah, that's the problem, some other app shat on the permissions of that directory. If you:

[code]

and start keybase again, it should work

[2017-10-10 15:41] paczkow commented on #8952
Thanks much. Worked. Your prompt help is much appreciated. Best!

[2017-10-10 15:41] #8952 closed

[2017-10-10 15:42] maxtaco commented on #8952
No worries. We're going to work on automating this fix, but it's great to know that in your case it was the cause.  Thanks for your help

cc: @cjb and @chrisnojima

[2017-10-10 15:45] paczkow commented on #8952
I think the "fault" could have been some long time ago I set those permissions manually on purpose. Hard to track what this minuscule mind of mind decided to do in the past. Thanks.

[2017-10-10 15:46] maxtaco commented on #8952
Nah, it's hit enough different people that it's likely a misbehaving app that first escalates privileges and then twiddles with `launchd` as root.

[2017-10-10 15:52] oconnor663 commented on #8903
Ok, deleted both rows.

[2017-10-10 16:35] djdesign commented on #8906
@maxtaco I apologies not able to get that error message to show up again after the first time appears, but it did continue not to show or allow access to kbfs until I did the following steps. Looks like it resolved itself after running a manual uninstall yesterday of the application and services.

[2017-10-10 17:08] strib commented on #8944
Hi @robbielamb, I'm happy to reset your folder, but please include the current date and time in the message you sign over (to prevent someone from reusing this message in the future to impersonate you).  Thanks!

[2017-10-10 17:16] joshlewis opened #8955 "Keybase fails to open after migrating to new MacBook Pro"
I just migrated to a new MacBook Pro from a Time Machine backup, and when I opened Keybase it said "There was an error trying to install the kbfs."

Maybe this has to do with APFS? I think I hadn't opened Keybase since upgrading to High Sierra on my old MacBook Pro, and this might be the first time I opened Keybase after that upgrade.

my log id: f4beb4e96fb23fb7c82a8a1c

[2017-10-10 17:17] strib commented on #8950
Oof, looks like you might have hit the same bug as #8903, which led your folder to become unreachable.  (I could verify it for sure if you send logs from your Macbook as well.)

I tried to restore the root directory that your Macbook Pro is trying to access.  However, it's hard for me to know whether they will be other issues after that with unreadable files or subdirectories, or files that appear

[2017-10-10 17:23] joshlewis commented on #8955
Ah, I think this is just a duplicate of #8795. I'll close this.

[2017-10-10 17:23] #8955 closed

[2017-10-10 17:26] defnotryan commented on #8950
Thanks for your work on this.

I now see a directory that originated from the MBP but not a directory that originated from the MB.

I didn't have anything important in there--if it's simpler, feel free to reset it:

[code]

[2017-10-10 17:38] strib commented on #8950
I reset the folder.  Please check it out and close this if everything seems ok.  (Might require a Keybase restart.)

Sorry you had such an epically bad experience. If this is the same bug as #8903, it will be fixed in the next release.

[2017-10-10 18:18] steev commented on #8889
@oconnor663 sorry to ping you but since you helped with my PR, i figured maybe you had some input, or knew who best to get to look at this to get the discussion going.

[2017-10-10 18:29] oconnor663 commented on #8889
Did you mean getting aarch64 builds into our public release pipeline, or just enabling them for you locally?

[2017-10-10 18:50] D3add3d commented on #8862
I also have this issue

[2017-10-10 18:53] steev commented on #8889
Eventually the former (hopefully) - but not just aarch64, also armel and armhf (debian) for devices like the Raspberry Pi or various other ARM boards that people use as desktop systems - but I'd like to build and test it locally to make sure it even works - as of right now, Electron only supports aarch64 on the 1.8+ releases but I can test armhf builds because electron supports those in 1.7.

[2017-10-10 19:20] ivanoats commented on #7074
Did anyone find a resolution? I'm having this issue still today.

[2017-10-10 19:43] oconnor663 commented on #7074
@SubSeven57 suggested that dropping the `-f` flag from the `apt-get` step seemed to help? Unfortunately we've never been able to reproduce this problem, even on the exact same version of Ubuntu.

@ivanoats, could you tell us as much as you can about your setup? Like the output of these commands:

- `cat /etc/os-release`
- `uname -a`

I wonder if this is a 32-bit system issue. But @cowpig was insta

[2017-10-10 19:50] strib commented on #8947
The data comes to your devices Keybase servers when you read a file for the first time, and after that we try to cache it locally as long as you have room on your hard drive, or until the file changes.  So if you `tar` in a directory you've never read before, it will indeed stream all the data from our servers.  The second time you do it, it should read all the unchanged data from the cache on you

[2017-10-10 19:52] oconnor663 commented on #8889
It's unlikely we'll want to add any other architectures to the official builds. As it stands, we're _this close_ to axing our 32-bit builds, and going 64-bit only the way that Chrome has.

That said, it should be pretty easy to arrange things to respect a set of `KEYBASE_ARCH{_GO,_DEB,_RPM,_ELECTRON}` flags or something set in the environment, for people who want to build their own binaries or pac

[2017-10-10 19:55] ivanoats commented on #7074
[code]

[2017-10-10 20:03] ivanoats commented on #7074
Well, using -f worked for me just now. Just wary of using it.

[2017-10-10 20:12] jerodg opened #8959 "git pull not working"
I've a keybase git-repo with a couple folders,
If I delete one of those folders on the file-system and do a 'git pull' it claims everything is up to date.
 - If I do 'git diff' it shows all the files that were deleted
If I delete the whole thing and clone again I get all folders as expected.

[2017-10-10 20:15] paczkow commented on #8952
I concur. I have tested to chown back to root (revert to previous option), killall all Keybase processes, and relaunch. The error remains. This means the /Users/$(USER)/Library/LaunchAgents must be owned by the operating user.

[2017-10-10 20:19] oconnor663 commented on #7074
Oh, this might be a simple confusion. `apt-get -f` is totally mandatory (this bug notwithstanding), which is why it's in our install instructions. Note that `-f` stands for `--fix-broken`. You have been reading it as `--force` instead? (I don't think `apt-get` has any `--force` flag, though it does have `--force-yes`).

[2017-10-10 20:21] krstp opened #8960 "Keybase folders main root"
Keybase folders appear in main disk root. It would be nice if the folders were stored in $(USER) path, possibly under documents or if there was option to even select path.

I believe storing private/public in main root brings some dangers of granting access to other users with root privileges.

[2017-10-10 21:06] florin-andrei-curbside commented on #8654
@sowbug I see your point.

However, it should be noted that if the app allows unrestricted access to all its data as soon as you are able to open the GUI feels like a big disappointment after the initial promises. You get strong protection end-to-end, but then each end is very significantly "softened".

The all-or-nothing approach seems unnecessary at best, and misleading at worst. For the sake of

[2017-10-10 21:30] steev commented on #8889
That makes sense - although, Chrome really hasn't gone 64bit only - as long as they are releasing 32bit chromebooks they will have to support 32bit, at least for a few years.

As long as we can create our own debs/binaries that would be great, I'm just not sure of the best way to go about doing so.

[2017-10-10 21:54] defnotryan commented on #8950
Looks back to normal; thanks!

No worries--I think Keybase is seriously cool, and I'm excited to see it develop and mature.

[2017-10-10 21:54] #8950 closed

[2017-10-10 22:02] sowbug commented on #8654
I think we agree on the facts but have different attitudes about the security story. I view Keybase as an ingredient of the full story (FDE etc. being more essential ingredients). You're being a little more pragmatic, recognizing that not everyone is willing to go that far. Thus you're concerned that Keybase doesn't actually do anything, today, to protect data at the endpoints for people who aren'

[2017-10-10 22:34] maxtaco commented on #8960
Dupe

[2017-10-10 23:36] florin-andrei-curbside commented on #8654
Don't ignore a key concept here: layered security. As a matter of fact, all security is "layered" on some level, there's no magic silver bullet in this field. There's a lot of value in not removing that extra snag from the way of the intruder, especially when that does not affect general usability. It's certainly better than the abandon-all-hope-ye-who-enter-here approach.

Removing layers from th

[2017-10-10 23:38] NickMarley opened #8967 "Can't use Git w/ GitKraken client"
Gives me some error about not found

[2017-10-10 23:39] maxtaco commented on #8967
Yeah, I noted this, there's nothing we can do, they don't support the standard git external helper protocol.  Please ping them and tell them to do so!

[2017-10-10 23:40] maxtaco commented on #8967
In the mean time, you can use the `git` CLI for push/clone/fetch/pull, and gitkraken for everything else.

[2017-10-10 23:56] NickMarley commented on #8967
Ahh. okay. I'll look into using GitHub desktop as your blog post said that is supported.

[2017-10-10 23:58] maxtaco commented on #8967
GitHub desktop is tested and works

Sourcetree works too...

[2017-10-11 00:43] robbielamb commented on #8944
Let's try this.

I rebuilt my devices and revoked my paper key and lost access to my private folder. I would like to play with the new git integration in my private folder /keybase/private/robbielamb.

This message is timestamped at Wed Oct 11 00:42:40 UTC 2017.
BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5weRa0zkOLKMAg 9ZztQnHWNTHKsr8 RX8nMfw3BJ6RGey P4xaHSO2US5CulD czOBuuPFeiEK2VA Gu

[2017-10-11 00:56] andreadellacorte opened #8968 "Your Keybase folders are currently not showing up in your explorer"
I can't open my Keybase folder on my pc. The following message is shown "Your Keybase folders are currently not showing up in your explorer". Clicking the message attempts to repair my installation but this fails and nothing changes.

my log id: f7eaf1a880ec4d7da657861c

[2017-10-11 02:27] ivanoats commented on #7074
Thanks for explaining that to me, I should have RTFM 😛 Appreciate it!

[2017-10-11 03:40] mitchjacksontech opened #8969 "macos Keybase Install Error"
Immediately after a clean reinstall of macOS 10.13 on a MacBook Pro, I saw this error the first time I launched the app:

Keybase Install Error
There was an error trying to install the updater.
There was an error trying to install the service.
There was an error trying to install the kbfs.

![keybase-install-error](https://user-images.githubusercontent.com/16674329/31421208-c01bfcca-ae0b-11e7-977f

[2017-10-11 03:47] BrianZachary opened #8970 "New iOS device provisioning rejects default iOS apostrophe"
When attempting to provision my device as "Brian‘s iPhone 6", using the default iOS apostrophe, the name was rejected for failing to match the device name regex. After some thinking, I tried "Brian's iPhone 6", that his, holding down the apostrophe key and selecting the right-most option, a vertical tick mark. This matched the regex and I was able to continue.

I don't think the right answer here

[2017-10-11 04:21] cjb commented on #8970
Huh!  Thanks, that suggestion does seem to make sense, filed an internal ticket to check it out.

[2017-10-11 04:55] oconnor0 opened #8971 "Keybase requires login to be created before accepting"
I was recently invited to a team and told to install and run a command: `keybase team accept-invite --token=...`
I then get the error
[code]
I later realized I needed to create a new account which I did. That command then worked successfully.

It might be good to include that step in the email or to change the message to be clearer about "There is no account on this computer. Please login to the c

[2017-10-11 05:01] junderw commented on #8970
imo, English input methods that automatically replace ascii keys with non-ascii unicode characters need to die in a fire.

Slack does it too when you aren't typing in between code delimiters... but the thing is if you write something and surround it with code delimiters afterward the non-ascii quotes stay... so annoying...

</rant>

[2017-10-11 06:03] dhiltonp commented on #7021
Excellent! The patch is in and I successfully built a client via a slightly modified `clean_build_kbstage.sh` (replacing staging with production), as well as via `linux/build_binaries.sh production` with the following config:

[code]

kbfs couldn't be built; it builds kbfs and electron together. I stripped out electron and hit the same syscall issue in kbfs.

[2017-10-11 06:37] steev commented on #7021
Kbfs might not have the updated vendor yet, I've been modifying it myself manually.

[2017-10-11 09:01] tetrakos opened #8973 "[Android] Back button too high when creating a team"
Hi,

When I create a team in the Android app, the back button is partly hidden behind the notification bar, which makes it hard to use (screenshot below).
My phone is a Xiaomi Mi5, with Android 6.0.1.

Thanks for this great job anyway.

![keybase_team_bug_circle](https://user-images.githubusercontent.com/1481809/31431129-179d7aca-ae73-11e7-95a3-d9d183cdf129.jpg)

[2017-10-11 09:41] alex9099 commented on #7329
same as @jgomo3, camera doesn't work and i can't add with text

[2017-10-11 11:59] mogaal commented on #6228
Hello, I am getting the same problem and yes. I just did reset, how long I need to wait?

Cheers

[2017-10-11 12:05] maxtaco commented on #6228
@oconnor663 please take a look

@mogaal what is your keybase login?

[2017-10-11 12:14] mogaal commented on #6228
Like my github username: mogaal.

Thanks a bunch!

[2017-10-11 13:43] maxtaco commented on #8971
thanks for the bug report. We've fixed this in master.

[2017-10-11 13:43] #8971 closed

[2017-10-11 13:48] maxtaco commented on #8969
Hi, thanks for this bug report, can you help us debug a bit?  What are permissions on `~/Library/LaunchAgents`?

For some reason, we can't even see your installer log, which is unusual

[2017-10-11 15:35] mdemare commented on #8970
`+` sign isn't accepted either, even though it's in the list of supported characters.

[2017-10-11 17:03] strib commented on #8944
@robbielamb: I reset the folder.  Please check it out and close this if everything seems ok.  (Might require a Keybase restart.)

[2017-10-11 18:26] robbielamb commented on #8944
Looks good! Thanks.

[2017-10-11 18:26] #8944 closed

[2017-10-11 18:46] tggiles opened #8980 "Android app install on Nexus 5X started a bootloop"
After installing Android app v1.0.7 my Nexus 5X went into an immediate bootloop, from which I have not recovered. I cannot boot into recovery mode.

I had all the most recent security patches on the phone.

I'll attempt this flash recovery method tonight https://www.xda-developers.com/nexus-5x-bootloop-fix-boot-phone/

[2017-10-11 20:32] andreagrandi opened #8984 "Changing PGP key keeps the old verification (with old PGP key) still valid"
Hi,

I'm not sure if it's a bug or not, but I've recently changed my PGP key (and also added a second one I use at work) and I've noticed that if I click on my website and GitHub/Gist proofs they still show the old validation, for example:

[code]

but that's the PGP id of my old key, not the ID of the current one. Keybase client doesn't refresh these information and show these proofs as still val

[2017-10-11 20:37] maxtaco commented on #8984
https://keybase.io/blog/keybase-new-key-model

[2017-10-11 20:44] inconshreveable opened #8985 "Feature Request: A way to set default notification settings"
Currently, the Keybase application allows you to set notification settings on a conversation-by-conversation (or channel-by-channel) basis.

I would like to be able to set the default notification settings for channels which don't have custom notification settings. My specific motivation for this is disabling mobile push notifications for everything except DMs, @ mentions and high-value channels t

[2017-10-11 20:48] kelnos commented on #8985
In addition, I'd like to also see a default that allows me to disable @-channel notifications globally.

[2017-10-11 20:54] kelnos opened #8987 "Smileys are corrupted on Linux desktop client"
Smiley in the Linux desktop client are corrupted both in the pop-up chooser, and when displayed inside a chat.  Since a picture is worth a thousand words, I'll just attach a screenshot.

![2017-10-11-135342_1285x1540_scrot](https://user-images.githubusercontent.com/544991/31466317-9d8cb714-ae8b-11e7-8757-fc34b5fc7826.png)

[2017-10-11 21:09] tggiles commented on #8980
Scratch that; not going to void my warranty. Ordered a warranty replacement phone.

[2017-10-11 21:09] #8980 closed

[2017-10-11 21:42] Mr0grog commented on #8744
Did this ever get figured out? I am in pretty much the exact same situation (minus a clean install of OS X).

[2017-10-11 21:45] andreagrandi commented on #8984
@maxtaco hi Max, thanks for your reply. I saw that page but either there is still something I don't understand (highly possible) or I didn't explain the problem in the proper way. I will try again.

From my understanding of Keybase, what makes an identity "safer" it's not the fact that you are "Jon Doe" with a certain PGP key attached, but the fact that you can verify the Keybase account using one

[2017-10-11 23:07] katnip62 opened #8995 "Proofs different from one machine to another for a follower"
I have a follower that has a mac install and he says all my proofs are fine. Then on his linux install, he said the app reports all my proofs are wrong. ideas here?

[2017-10-12 02:08] junderw commented on #8984
That is how GPG works though.

The assumption is that once you revoke a key, any signatures AFTER the revocation are invalid. Signatures made BEFORE the revocation are always valid.

The revocation data as well as any signatures in GPG have the date included in the signature... so as long as the user is certain you were the sole owner of the PGP key at the point when the proof was signed, that's a

[2017-10-12 05:37] andreagrandi commented on #8984
I agree on this, but if PGP was safe enough where would it be the Keybase value of allowing multiple identity proofs?

Is it possible that I decide to remove one of my old keys and add a new one. It's exactly what I recently did when I changed my PGP key. But it's also possible that someone else does it, without needing to reconfirm all the other proofs.

and this is another weak point: if only a

[2017-10-12 09:12] #8879 closed

[2017-10-12 09:51] smarshal-Quest commented on #8748
unloading the intel HAZM , seams to resolve this issue,

sudo kextunload -b com.intel.kext.intelhaxm

appears 10.13 isnt supported
https://software.intel.com/en-us/articles/intel-hardware-accelerated-execution-manager-intel-haxm

[2017-10-12 10:35] Ryan09 opened #8998 "Can't pull from keybase encrypted git repo"
I've successfully made a repo inside keybase and pushed to it a few times, however I've just tried to do a pull from another computer and I get:

[code]

my log id: 357336e473619372ab35301c

[2017-10-12 10:58] Ryan09 commented on #8998
For some more context, the clone works successfully, but running fetch gives the same error.

I've tried making a new repo on the second machine and pulling to the first, and it has the same issue.

Both machines are windows.

[2017-10-12 11:39] wladiolo commented on #8898
Same problem here with Huawei P9 light, Android 7.0

[2017-10-12 11:59] Ryan09 commented on #8998
Did some more testing and I think this was an issue outside of keybase, so I'll close the issue.

[2017-10-12 11:59] #8998 closed

[2017-10-12 13:04] maxtaco commented on #8898
@minibikini  please send feedback through the app if you can?  That will send us logs.

[2017-10-12 13:34] damongant commented on #8529
I can confirm that the rekey button is currently doing nothing.

[2017-10-12 13:42] Jolg42 opened #8999 "Keybase Install Error - macOS Sierra 10.12.6"
My log ID is: 7c5c9f526a3659472f071d1c

<img width="816" alt="screenshot 2017-10-12 at 15 38 04" src="https://user-images.githubusercontent.com/1328733/31498884-766bad1a-af63-11e7-8422-992116ca9365.png">

<img width="491" alt="screenshot 2017-10-12 at 15 38 22" src="https://user-images.githubusercontent.com/1328733/31498891-788fc41e-af63-11e7-9119-936aa300ec82.png">

[code]
No .plist named keybase

[2017-10-12 13:43] Jolg42 commented on #8969
Same error for me https://github.com/keybase/client/issues/8999

[2017-10-12 13:44] maxtaco commented on #8969
@Jolg42 can you run

[code]

And tell me what you see?

[2017-10-12 13:49] maxtaco commented on #8999
Yeah, it looks like you do have the right permissions. Let me ask you another question: does your macOS want to reboot to upgrade, and maybe you canceled the reboot?

[2017-10-12 13:50] maxtaco commented on #8999
And a third annoying question I might ask is: does a reboot solve the problem?

[2017-10-12 13:56] Jolg42 commented on #8999
Hi! @maxtaco So it's actually not the first time I try to install the Keybase app and it did the same thing last time.
I didn't cancel any upgrade :( and will not switch to HighSierra until mid next year ~.

[2017-10-12 14:04] maxtaco commented on #8999
Well it's an issue that has been reported to us that we can't repro. The causes are usually as stated above.

The problem is that launchctl pretends as if it worked, and then doesn't do anything. We are stumped.

Can you run:  `launchctl print-disabled system`

[2017-10-12 14:08] maxtaco commented on #8529
it's a bug that we're working on fixing.  that button is irrelevant here and shouldn't be displayed.

[2017-10-12 14:13] Jolg42 commented on #8999
As a developer myself I know it can be hard to debug some specific issues too 😇

[code]

[2017-10-12 14:49] maxtaco commented on #8999
ok, we came up empty there, thanks for your help.  how about this?

[code]

Thank you!

[2017-10-12 14:57] Jolg42 commented on #8999
[code]

[2017-10-12 15:06] #8507 closed

[2017-10-12 15:12] hmeine commented on #8999
I am having the exact same problem (log ID 4d73ea3f68d28b91490fff1c).  No hits at all in /var/log/system.log.  Less disabled entries:
[code]
Uptime only 24 days (sudden reboot IIRC); no reboot canceled.  Also still on Sierra (10.12.6).

[2017-10-12 15:13] patrickxb commented on #8999
Hi @Jolg42 thanks for all your help with this.  Still stumped.  This might shed some light:

    `ps ax | grep -i keybase`

to see if there are any processes hanging around and getting in the way.

And the permissions on `~/Library/Group Containers/keybase/Library/Caches` and `~/Library/Group Containers/keybase/Library/Caches/Keybase`

Thanks for all your help, we'd love to figure this out!!!

[2017-10-12 15:17] patrickxb commented on #8999
@hmeine for you, it looks like the permissions on `~/Library/LaunchAgents` are probably set to root.

[2017-10-12 15:26] Jolg42 commented on #8999
[code]

[code]

[code]

[2017-10-12 15:27] MBybee opened #9000 "[Android] Unable to send messages, send button greyed out"
Tested between multiple people, reinstalled, still present.
Desktop app is working fine.

Are there some specific logs that I could attach in order to help? I sent 'feedback' with this from the android app already.

[2017-10-12 15:41] Serkan-devel commented on #8831
Waiting for the Fdroid release of keybase.

[2017-10-12 15:42] Serkan-devel commented on #6899
@Albirew wait keybase is blocked in France?

[2017-10-12 15:45] Diti commented on #6899
@Serkan-devel Not any more, it finally got [released on 2017-10-03](https://twitter.com/malgorithms/status/915197913860657152) (9 days ago).

[2017-10-12 15:52] patrickxb commented on #8999
@Jolg42 thanks again...you're helping us check off some theories, but we still haven't figured it out.

If you are still willing to keep trying stuff, this is our next thought.  To try to see if `launchctl` will work manually.

I made a `keybase.service.plist` file for `j42` and put it here:

https://keybase.pub/patrick/keybase.service.plist

If you download that and put it in `~/Library/LaunchAge

[2017-10-12 16:08] robison commented on #6559
Hi, any updates on this? I'm starting to think it's merely cosmetic, but would love to help in any way I can. Thanks!

[2017-10-12 16:09] maxtaco commented on #6228
@mogaal  you should be fixed!  Give it a try?

[2017-10-12 16:09] Jolg42 commented on #8999
[code]
Not working :(
[code]

[2017-10-12 16:10] maxtaco commented on #8999
Aha! This is something. Permissions! How about `ll ~/Library/` ?

[2017-10-12 16:13] Jolg42 commented on #8999
[code]

[2017-10-12 16:27] patrickxb commented on #8999
@Jolg42 can you `ls -l /Applications/Keybase.app/Contents/SharedSupport/bin` please?

I think the permissions are about the binary it is trying to start.

[2017-10-12 16:42] jyn514 commented on #8959
@jerodg that's not how git works. Your *remote* repo is up to date, but you haven't queued any changes to push. If you wanted to update the repository, use `git commit --all -m <message here> && git push`.

[2017-10-12 16:45] Jolg42 commented on #8999
[code]

[2017-10-12 16:47] jyn514 opened #9002 "Feature request: Two-factor authentication"
Title pretty much says it all. Passwords, even long ones can be brute forced, and once they're gone, they're gone. I'd appreciate even a basic 2fa using [google auth](https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en) (although of course open-source implentations are preferred).

[2017-10-12 16:49] jyn514 commented on #8968
I had this problem as well, for some reason rebooting my laptop helped. If a reboot doesn't help, try running `keybase status` and posting the result.

[2017-10-12 16:51] jyn514 commented on #8948
I'd like something like this for arbitrary sites, where you can take any account you have, post the `ctime` and a signature, and have it verified by Keybase. I'm sure that's a lot harder than I made it sound, but I think would improve adoption a lot.

[2017-10-12 16:51] jyn514 commented on #8995
What does the website say? If everything agrees but one install, it might be the installation.

[2017-10-12 16:53] #8959 closed

[2017-10-12 16:54] jyn514 opened #9003 "[Feature request] Make encrypted contents of /keybase/private openly accessible"
It would be nice to be able to access the files in `/keybase/private/jyn514` from a computer where I'm *not* logged in but *do* have my PGP key. It would also help reassure me the server isn't keeping any plaintext, right now the software says it's encrypted but all the implementation details are hidden so I can't really know.

[2017-10-12 16:57] jyn514 commented on #8923
Are you even trying?

[2017-10-12 17:05] fgabrieli opened #9005 "[Question] Does keybase implement peer-to-peer encryption?"
Hello all, i didn't find any docs on your webpage about how does keybase work.

Does all messages between A, B go through a centralized server or it implements peer to peer encryption? Not sure if there is a forum for the project where to ask this question or this is the right place.

thanks,
Fernando

[2017-10-12 17:20] strib commented on #9003
Files are not encrypted for your PGP key.  They're only encrypted for your Keybase device private keys.  So something like this isn't possible, I'm afraid.

Also, the files aren't encrypted as individual files in a directory, they're encrypted as blocks (along with directories), and they're impossible to tell apart once they're on our servers.

The implementation is open source!  I know it's dense

[2017-10-12 17:20] patrickxb commented on #8999
Ok a few more `ls -l` for you:

    ls -l /tmp
    ls -l /private/

I'm looking for the permissions on `/tmp` which is the working directory specified in the plist.  On mac, it usually links to `/private/tmp`, so want to check the permissions on that directory as well.

I tried changing them on my computer and they caused `launchctl` to fail silently (like we see in the logs) so this might be the

[2017-10-12 17:20] strib commented on #9005
Everything goes through our servers.

[2017-10-12 17:22] ruipacheco opened #9008 "Inconsistent behaviour when quitting the client"
Using the latest OSX, if I right click on the client icon on the dock and press click, the application logs off and shuts down. Doing `ps -ef | grep keybase` on Terminal sometimes shows no processes with the Keybase name or just `/Library/PrivilegedHelperTools/keybase.Helper`.

But if I open the application, hover the mouse on the menu bar on top of the screen, click on the application name (Keyba

[2017-10-12 17:22] ruipacheco commented on #9002
+1

[2017-10-12 17:28] fgabrieli commented on #9005
Hi strib, thank you for answering. Is there a reason to send all traffic through your servers?

[2017-10-12 17:37] patrickxb commented on #8999
Might as well include permissions on `~/Library/Logs` as well...

[2017-10-12 18:14] strib commented on #9005
It's mainly for user experience, e.g. you can send someone a message without them needing to be online.

Note that the encryption is end-to-end of course, only the clients have keys to read the data.  The server is just a dumb holding ground for encrypted data.

[2017-10-12 18:28] initbar opened #9009 "adding support for git repository renames"
Currently in order to rename a repository, one must clone and push to a new repository with different origin remote value.

In order to reduce this overhead, I think a `rename` command might be helpful:

[code]

[2017-10-12 18:29] seefood commented on #9002
just FYI: Google Authenticator is Free Software, released under the Apache License:
https://github.com/google/google-authenticator-android
(It's even available from F-droid's app store!)

Also, the auth methods of TOTP and HOTP are RFC and under the public domain for years. it's fully compatible with implementations in Microsoft Azure Authenticator, Keepass and the others out there.

Anyway, I vot

[2017-10-12 18:30] strib commented on #9009
We're currently working on this.  Part of it's already in review actually (keybase/kbfs#1260), but not sure when it'll bubble up to the GUI.

[2017-10-12 18:32] Jolg42 commented on #8999
Here it is
[code]
[code]
[code]

[2017-10-12 18:37] seefood opened #9012 "Binary deliverable is huge - modularize?"
I just did apt-get upgrade and Keybase _took 28 minutes_ to download, and I have a nice 40MB line here.

I imagine your apt repo host could use some bandwidth upgrade (have you considered dumping it on an S3 bucket?), but there's also the question of how it reaches nearly 73Mb in size. that's almost twice the size of the Firefox deb, and updates more often.

Any way of either downsizing it, or bre

[2017-10-12 18:44] patrickxb commented on #8999
Thanks, you're a trooper...still haven't found anything wrong with your permissions!

    ~/Library/Application Support

and

    ~/Library/Application Support/Keybase

do you own those as well?

[2017-10-12 18:47] Jolg42 commented on #8999
Some permissions again 😃

[code]
[code]

[2017-10-12 18:53] maxtaco commented on #8999
@Jolg42 forgot to ask, can you `echo $USER`?

[2017-10-12 18:56] maxtaco commented on #8999
and I have a theory! Maybe permissions are not too closed, but rather too open. How about:

[code]

[2017-10-12 18:57] maxtaco commented on #8999
For me I have:

[code]

[2017-10-12 19:01] WallE256 opened #9015 "Git clone fails halfway through"
Hello,
I have moved a ~600MB repository with my Mac with success, however, when I try to clone that same repository on my Windows machine, the `git clone` stops halfway through with no apparent reason. The only thing that I noticed might be a problem is a rampant memory usage by the `git-remote` module. Here is how the console looks like after a failed clone:
[code]

Let me know if I can provide a

[2017-10-12 19:02] Jolg42 commented on #8999
[code]

After `chmod 0770 ~/Library/Logs`
[code]

Launched the app but still stuck...!
<img width="457" alt="screenshot 2017-10-12 at 21 01 24" src="https://user-images.githubusercontent.com/1328733/31514012-90be2f6c-af90-11e7-8bf8-34ca23c7e531.png">
<img width="427" alt="screenshot 2017-10-12 at 21 01 55" src="https://user-images.githubusercontent.com/1328733/31514024-9ba5a5c2-af90-11e7-9923-ca90

[2017-10-12 19:21] strib commented on #9015
@WallE256 thanks for the report.  I suspect this is due to the fact that we do 32-bit builds for Windows, even for 64-bit architectures, and that leads to earlier memory issues that we wouldn't see otherwise.

What do you mean by "rampant memory usage"?  How much was it using before the crash?

[2017-10-12 19:22] katnip62 commented on #8995
it's not easy to uninstall this app as it's fairly deep into the system, linux. we can  try that and see what happens, but he usually get's the same result.

[2017-10-12 19:22] patrickxb commented on #8999
Still shooting in the dark, but:

    `ls -l /usr/local/bin/keybase`

maybe that's not a symlink to the one in the application bundle.

[2017-10-12 19:39] WallE256 commented on #9015
When the clone starts, it starts from about 40MB memory usage, and it crashes when it reaches 1GB memory usage. The actual memory usage slightly differs from test to test (crashes occur from 800MB to about 1GB memory usage), but the behavior is the same. So basically by "rampant memory usage" I'm talking about a probable memory leak.

[2017-10-12 19:49] ruipacheco opened #9016 "Client is unusable"
I've started using Keybase as a chat client and find it barely usable. I really like the idea but the implementation is very flakey. Every time I open the client I click on "People" and nothing loads. Just a blank window with placeholder shapes. Sometimes I get an error to the effect of "Server sent EOF" or something like that.

I've been trying to use the desktop client to follow and unfollow peo

[2017-10-12 19:49] strib commented on #9015
Hmm, ok thanks for the info.  How much RAM does that machine/VM have in total?

We heavily cache data in our process, and so reaching 800 MB - 1GB for such a big repo doesn't necessarily mean a _leak_ (although there could definitely be one).  It might just mean we're not sizing our caches correctly.

[2017-10-12 19:50] maxtaco commented on #9016
seems like a bug and/or a crasher.  Which version of keybase? Run `keybase version`

Thanks, sorry for the issue

[2017-10-12 19:51] ruipacheco commented on #9016
[code]

[2017-10-12 19:51] ruipacheco commented on #9016
Latest OSX.

[2017-10-12 19:54] maxtaco commented on #9016
Can you run `keybase db nuke` and then try it again?

[2017-10-12 19:55] ruipacheco commented on #9016
Should I kill -9 the app first?

[2017-10-12 19:57] minibikini commented on #8898
@maxtaco done

[2017-10-12 20:02] WallE256 commented on #9015
I have 16 GB of RAM on my computer, so crashing from actually running out of memory are out of the question.

[2017-10-12 20:03] maxtaco commented on #9016
it seems to me it's in a crash loop, so i didn't think that would be necessary, but i'm really not sure

i haven't seen this issue before, and it's hard to know without seeing a log (which as you said above you can't do)

[2017-10-12 20:06] ruipacheco commented on #9016
[code]

I quit by right clicking on the dock icon and pressing "Quit" which in my experience truly kills the app. Then I restarted the app, waited a bit while it did something in the background and then it presented me with the login screen.

I entered my email and waited. This was strange because there was no visual feedback that there was any background work being done. It finally asked for my p

[2017-10-12 20:06] ruipacheco commented on #9016
So, 3 things:

* No feedback when something happens in the background
* There's a typo on "canceled".
* I can't login

[2017-10-12 20:09] maxtaco commented on #9016
Are you behind a firewall of some sort?

[2017-10-12 20:14] COLABORATI opened #9018 "No version info in gui client"
I can not see the version information anywhere in the gui client. The gui should provide a menu to check the current version.

[2017-10-12 20:16] strib commented on #8998
You may have already figured this out, but it looks like you put the whole git repo URL in your remote name.  I see things like this in the log:

[code]

Usually you want to create a remote with a short name and use that, something like:
[code]

[2017-10-12 20:19] ruipacheco commented on #9016
I have Little Snitch, but its configured to let all Keybase traffic through. OSX firewall also not blocking. And this issue is intermittent.

[2017-10-12 20:20] strib commented on #9015
Yeah I think the memory limits are artificially low because it's a 32-bit build.

Thanks for the info, we're looking into it.

[2017-10-12 20:21] COLABORATI opened #9019 "Missing update information in gui client"
I just updated the gui client (apt-get update && apt-get upgrade on Ubuntu 16.04) while the gui client was running. After the update there is no information about a new version of the client just being installed, so users do not know if they have to restart the client (if necessary). I assume that a restart of the gui client is needed after an update, but I actually do not know if there is some ma

[2017-10-12 20:21] ruipacheco commented on #9016
One more thing, I sometimes can do `keybase log send`. Did so yesterday while fighting this issue.

[2017-10-12 20:27] ruipacheco commented on #9016
So for fun I just tried to do `keybase log send` and this came out:

⟩ keybase log send
This command will send recent keybase log entries to keybase.io
for debugging purposes only.

These logs don’t include your private keys or encrypted data,
but they will include filenames and other metadata keybase normally
can’t read, for debugging purposes.

Continue sending logs to keybase.io? (type 'YES' to

[2017-10-12 20:28] ruipacheco commented on #9016
[code]

[2017-10-12 20:30] maxtaco commented on #9016
great, we'll take a look. thanks

[2017-10-12 20:41] maxtaco commented on #9016
```2017-10-12T22:07:45.114812+02:00 ▶ [DEBU keybase standard.go:178] 1e0 - API GET https://api.keybase.io/_/api/1.0/user/lookup.json?fields=basics%2Cpublic_keys%2Cpictures&load_deleted=1&multi=1&username=ruipacheco: err=ERROR: API network error: doRetry failed, attempts: 3, timeout 13.5s, last err: context deadline exceeded, status="", jsonwBytes=0 [tags:API=ih-HlCSuaes4]```

Are you sure this end

[2017-10-12 20:42] patrickxb commented on #8999
@hmeine yes, we've seen it before.  And LastPass has been the culprit before.  Fortunately, this error shows up in the logs, so it's easy to diagnose...

[2017-10-12 20:43] maxtaco commented on #9016
cc: @patrickxb  who is helping me debug

[2017-10-12 20:48] Jolg42 commented on #8999
@patrickxb
[code]

[2017-10-12 20:56] mitchjacksontech commented on #8969
I had reinstalled again since, so I can't check the permissions.  Too many applications were broken with a case sensitive file system.

I can say that, trying to troubleshoot this and other applications that wouldn't run under a case sensitive file system, at one point I issued a `chown -R me:staff ~/` and it didn't make any difference

[2017-10-12 21:00] ruipacheco commented on #9016
I've now disabled Little Snitch and the OSX firewall. I can load the people I'm following, and unfollow them, but I can't load any chat messages.

Got an error, black background with white text, saying something to the effect of not being able to connect to the chat server.

[2017-10-12 21:03] ruipacheco commented on #9016
I closed the client by right clicking on the dock and Quit. Reloaded the client, got black banner with white text saying "Internal Error: API request requires session, but session token empty" and then this exception:

`Error: Internal error: API request requires session, but session token empty at l.t (file:///Applications/Keybase.app/Contents/Resources/app/desktop/dist/index.bundle.js:1:248847)

[2017-10-12 21:04] maxtaco commented on #9016
try to quit and restart the app

[2017-10-12 21:05] maxtaco commented on #9016
and try to logout and log back in

[2017-10-12 21:07] ruipacheco commented on #9016
Can't log out. Client hangs without loading UI and when I click on logout nothing happens. Quitting and restarting the app does not change this.

Little Snitch and OSX firewall are confirmed disabled.

[2017-10-12 21:08] maxtaco commented on #9016
Do another `keybase log send` and we'll take another look. It appears you've pushed the app into a broken state due to your firewall settings.

[2017-10-12 21:09] ruipacheco commented on #9016
Am now getting a random exception:

`Error: Can't load devices at r (file:///Applications/Keybase.app/Contents/Resources/app/desktop/dist/index.bundle.js:6:1049050) at r.throw (<anonymous>) at n (file:///Applications/Keybase.app/Contents/Resources/app/desktop/dist/index.bundle.js:6:152845) at n (file:///Applications/Keybase.app/Contents/Resources/app/desktop/dist/index.bundle.js:6:153671) at file:

[2017-10-12 21:20] ruipacheco commented on #9016
be4830c03accb36f30c91e1c

[2017-10-12 21:24] smiller171 opened #9023 "Add Google+ Identity verification"
I use Google+ Extensively, and the ability to verify my identity there would be great.

[2017-10-12 21:24] maxtaco commented on #9016
We're still seeing a ton of network calls failing.

[2017-10-12 21:25] smiller171 commented on #9002
TOTP and U2F would be excellent additions.

[2017-10-12 21:25] ruipacheco commented on #9016
Anti-virus, firewall and Little Snitch are disabled. I have youtube in the background and am unfollowing people in the client. Not sure what else could be in the way. Maybe at the ISP level?

[2017-10-12 21:26] maxtaco commented on #9016
I'm  not sure, but our other users aren't reporting these issues, so at this point, I think it's local to your configuration and I'm not in a good position to debug it.

[2017-10-12 21:27] ruipacheco commented on #9016
What else do you need from me?

[2017-10-12 21:32] patrickxb commented on #8999
Urgh.

Well, we could try this:

    sudo launchctl fs_usage | grep -i keybase > ~/keybase_fs_usage

in another terminal window, try the `launchctl load ~/Library/LaunchAgents/keybase.service.plist`

should see every file it's trying to access...

[2017-10-12 21:34] maxtaco commented on #9016
I can't provide any more support, have lots of other things vying for my attention.  I think the problem is still local to your config, so you'd have to find a want to figure it out.  Watch the logs show in `keybase status` to see what network calls are failing. I see these right now:

[code]

[2017-10-12 21:34] ruipacheco commented on #9016
Will do, thanks for the help!

[2017-10-12 21:34] #9016 closed

[2017-10-12 21:42] maxtaco commented on #8999
Note the ^edit^ to the above

[2017-10-12 21:43] ruipacheco opened #9025 "Wrong follower assigned to me"
I was debugging an [issue] with the team when something unexpected happened: I have 3 followers, one called `marktaw`, one `surai` and one called `differance`.

At some point, for no reason, `difference` was replaced by a user called `pqjc` who I've never seen before. I logged out and logged in again, and `differance` was back.

Apparently `pqjc` follows someone I also follow, a user called `tbark

[2017-10-12 22:16] fgabrieli commented on #9005
Wouldn't it perform better if it is p2p ?

you could push offline msgs to server anyway then send back when the
recipient gets online and delete them, what do you think?

On 12 October 2017 at 15:14, Jeremy Stribling <notifications@github.com>
wrote:

[2017-10-12 22:20] strib commented on #9005
It wouldn't necessarily perform better, because then the sender has to upload N copies of each message, one for each of the recipient's N devices.  If the sender has bad upload speed, this will make performance much worse.

And in general, p2p is very hard to implement in the general case, and we're not interested in supporting it right now since server-based communication works for 99.9% of cases

[2017-10-12 23:16] fgabrieli commented on #9005
I see, i was not thinking in many to many conversation :) makes sense. I'm
working myself on a very small project to implement a chat client with p2p
encryption. Thanks for all your answers.

Fernando

On 12 October 2017 at 19:20, Jeremy Stribling <notifications@github.com>
wrote:

[2017-10-12 23:24] strib commented on #9015
So it turns out we've already fixed the memory issues in master, and they will become available with the next Windows release (likely next week).  In theory you could build it yourself from our github repo, if you're so inclined.  Sorry for the inconvenience in the meantime!

[2017-10-13 01:09] maxtaco commented on #8744
cc: @patrickxb, who looked into this issue.

[2017-10-13 01:20] tdickman opened #9028 "Device name already in use"
I currently have Keybase setup on an android device, and I am trying to add my linux computer to the account. First I tried adding it using my gui, selecting 'add new desktop' on my phone, and scanning the qr code, but nothing happened. After trying several times I did the same thing using the cli (keybase login), and was able to see the error "ERROR device name already in use".

It looks like the

[2017-10-13 01:23] maxtaco commented on #9028
Ah, thanks for the bug report.

Cc: @keybase/react-hackers

Can you send a `keybase log send`?

[2017-10-13 01:24] tdickman commented on #9028
Log Id: 01ec0c5be1d71e89ebe4301c

[2017-10-13 01:24] maxtaco commented on #9028
thanks you

[2017-10-13 04:44] steev commented on #7021
It looks like the latest versions need go 1.9, but once you have go 1.9 installed, I was able to build it, though it took a bit - including the electron app, however, I'm not sure if it's because of trying electron 1.8.1 or I'm missing something else, but I can't quite get the secure chat to work.  It just sits there saying securing... over and over - looks like some issue with the js based on the

[2017-10-13 05:23] junderw commented on #9002
With the website login being an all-powerful poison pill to revoke all keys, I would feel much better if 2FA was an option.

[2017-10-13 09:01] zander commented on #8948
For arbitrary sites is a bit tricky, as the relation between a url and a user on that host needs to be established somehow. Assuming you want to be able to have many users share the same hostname.

As a generic solution maybe something like this;

The owner of a site (yours, medium, slashdot..) posts a proof stating a mapping between a usename and a url on their site that the user can put his proo

[2017-10-13 09:07] zander opened #9030 "[groups] Feature request; 'writer'-role users may suggest new members to admins"
This is similar to how it works in wechat.

Random users may make a suggestion for a new user to the admins and the admin has to approve before the original user can send out the invite.

The usability gained from this is quite significant;

* the invite comes from an actual 'friend' instead of from an admin.
* teams don't have to create a long list of admins in order to allow diversity in invitin

[2017-10-13 14:28] goeddea commented on #9002
For the app:
Why have just a username + control over an authenticated device at the time of pairing?
I was expecting to be asked for the password as well (password + control over a device).

[2017-10-13 14:34] XIRGO commented on #8833
Hello,
I don't want to hijack this thread but I am also getting the same issue

I reinstalled as gustafe has done without any success (however on another computer that I was able to reproduce this one the reinstalling and running with Administrator rights did solve the issue).

I have sent a log with Log ID: 65faeddecb387dd185e3b31c for further troubleshooting.

Let me know if it's better if I ope

[2017-10-13 15:06] zanderz commented on #8833
@XIRGO Do you mean that "Display in Explorer" fails? Does it open a dialog to find a weirdly named installer? If you select the original download at that point it should work: https://prerelease.keybase.io/keybase_setup_386.exe
We've identified the problem and it should work better in an upcoming release.

[2017-10-13 15:13] XIRGO commented on #8833
@zanderz, I went ahead and did this and even tried uninstalled + reinstalled but with using "Run as Administrator". This fixed the issue and I no longer see the first issue however I do not see any K: drive in Explorer nor can I open any of the folders from the keybase client.

When I quit the client and rerun it I get a notification pop-up at the bottom right of my screen that says

 & another th

[2017-10-13 15:14] strib commented on #8833
You can safely ignore the cache error, it's really just a warning.  As long as everything else seems to be working fine, you should be good. We're looking into that separately.  cc: @jzila.

[2017-10-13 15:17] plandislv opened #9032 "keybase - windows 10 signing in keep showing disconnected"
When signing into Keybase, the app keeps showing Disconnected.  System is Windows 10.

[2017-10-13 15:19] zanderz commented on #8833
"Run as Administrator" isn't usually recommended, since Keybase has to run with the same permissions as the current user. It may enable installation in cases where the normal user account lacks permission to install things, but that doesn't mean you're out of the woods. Please do a `keybase log send` and post the ID and we'll see what happened to your drive letter.

[2017-10-13 15:20] zanderz commented on #9032
Hi, can you open a CMD window and do `keybase log send` and post the ID? thanks.

[2017-10-13 15:21] XIRGO commented on #8833
@strib the drive is not mounting after being ran and I'm unable to open any folders from within the client either

@zanderz I have resent the log. The log id is: 0e05d432d384522d1d53bb1c

[2017-10-13 15:30] plandislv commented on #9032
It’s probably related to VPN.   Possibly the work network blocks this.

C:\Users\lan2869>keybase log send
This command will send recent keybase log entries to keybase.io
for debugging purposes only.

These logs don’t include your private keys or encrypted data,
but they will include filenames and other metadata keybase normally
can’t read, for debugging purposes.

Continue sending logs to keybase.

[2017-10-13 17:03] PhilRW opened #9034 "Team folder not syncing"
Team folder is out of sync, not quite sure what to do or how to proceed to reset it. Would be great if there was a reset/resync functionality somewhere in the CLI but so far my efforts have not been fruitful.

my log id: ca2347d3a39a5a70f3861f1c

[2017-10-13 17:06] strib commented on #9034
Looks like your local device is in a conflict state due to some bug in our code.  I'll look into it further.  If you're in a pinch and need a quick fix to get back in sync (but discard whatever data you've written in the meantime), let me know.

[2017-10-13 17:07] PhilRW commented on #9034
Thanks for the fast response. It's not a huge deal but glad I could help find a bug. Perhaps there should be a feature request for the ability of users to perform this discard/reset on their own? :)

[2017-10-13 17:09] strib commented on #9034
There is something like that, but we don't advertise it because if it happens, it usually means a bug and we want to hear about it!  I'll look into this for a bit and let you know what the best thing to do is.

[2017-10-13 17:26] zanderz commented on #8833
@XIRGO Logs show a "start error" from Dokan, the filesystem driver. I don't know what causes that but you might try uninstalling Dokan from the control panel, then doing the "Display in Explorer" again. Or it may be a symptom of having been installed as administrator. @taruti ?

[2017-10-13 17:35] strib commented on #9034
Hmm, this is a super weird one.  I suspect it might be an unusual symptom of another bug that we've already fixed, but I'm not sure.

Would you be willing to share the private metadata history of that folder with me so I can debug a bit more?  It wouldn't contain any file data, just file/dir names, attributes, and sizes.  If so, please go into that folder and run `cp .kbfs_update_history /keybase/

[2017-10-13 17:41] pixlwave commented on #7195
It’s getting better, but still not quite there:
![93708b56-14b6-4f3b-aee0-3ebd65e2104a](https://user-images.githubusercontent.com/6060466/31558774-2d11a122-b046-11e7-92bb-da86a4cdcabc.png)

[2017-10-13 17:46] philpl opened #9038 "Reset private folder"
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Hiya, a while ago I've removed all my previous devices and I've gone through 2 GPG keys during that time as well. I've now noticed that I can neither use the private folder nor Git on Keybase.

Can some help me to reset it please? Sorry, btw, didn't find any other way to contact someone on the site.
-----BEGIN PGP SIGNATURE-----
Version: Keybase Ope

[2017-10-13 17:48] zeuben opened #9039 "OSX high sierra"
fresh install, app never starts.

my log id: ae52adba90d44b1258fbaa1c

[2017-10-13 18:00] maxtaco commented on #9039
It is a permissions problem?  Look elsewhere in this thread for `LaunchAgents`

[2017-10-13 18:06] strib commented on #9038
I reset the folder.  Please check it out and close this if everything seems ok.  (Might require a Keybase restart.)

[2017-10-13 18:17] philpl commented on #9038
Seems to work perfectly now! Thanks for the quick help ❤️

[2017-10-13 18:17] #9038 closed

[2017-10-13 18:21] strib commented on #9034
It might also be useful to have your full set of logs, rather than the subset sent by `keybase log send`.  If you're willing to share those, you can find your log directory in the output of `keybase status`.  Go into there, and run `tar -czf /keybase/private/strib@github,philrw@github/client_9034_kbfs_logs.tgz keybase.kbfs*`.  Thanks!

[2017-10-13 18:22] XIRGO commented on #8833
@zanderz alright, I've uninstalled Dokan, reinstalled it via the Display in Explorer. When that didnt work i uninstalled keybase and Dokan fully and tried reinstalling everything without any administrator rights. When that didnt work i disabled my anti-virus (webroot) and tried the above steps all over. I've rebooted my computer between all these steps as well.

Lastly I shared a folder with mysel

[2017-10-13 20:28] patrickxb commented on #8744
This should be fixed in the next release.  A fix is in progress for logging in after reset.

If you don't mind the terminal:

    keybase logout
    keybase login

should work, then you can use the GUI app.

[2017-10-13 20:39] strib commented on #9034
@PhilRW: if you're willing to try out a test build, I made a special test release that I think will resolve the conflicts on your folder successfully: https://s3.amazonaws.com/prerelease.keybase.io/darwin-test/Keybase-1.0.34-20171013202904%2Be45b61ae8.dmg

Install that, look inside the team folder, and hopefully it should quickly come up to speed (with a couple minutes).

If you're not willing to

[2017-10-13 20:57] PhilRW commented on #9034
Which client machines should I try this build on?

[2017-10-13 20:59] strib commented on #9034
The one you sent me logs from: `CL MacBook Pro`

[2017-10-13 21:13] PhilRW commented on #9034
It's installed and running now but still seems to have the discrepancies.

[2017-10-13 21:15] strib commented on #9034
Hmm ok, if you do another `keybase log send` and post the ID here, I'll take a look.

[2017-10-13 21:40] daveloyall commented on #6447
I tried `File > Quit` in the GUI.  The I tried `sudo systemctl stop keybase.mount`, which did something...  Then, as a last resort, `killall kbfsfuse; killall keybase; killall Keybase`.  That did it.

For starters, please provide a shell script for properly shutting down all keybase-related processes.

[2017-10-13 21:43] daveloyall commented on #3773
@zanderz hm?  That's not what I observed a moment ago.  See https://github.com/keybase/client/issues/6447#issuecomment-336574032.

(Also, someone please merge these two Issues.)

[2017-10-13 21:43] hugohomem opened #9048 "pgp gen error"
This was my setup when I tried to generate a public key
[code]
And I got this message:
[code]
The INFO Generating, WARNING and ERROR were repeating in loop.

[2017-10-13 21:49] maxtaco commented on #9048
Doh! Can you ‘keybase log send’? Thanks. We will fix it.

[2017-10-13 21:55] hugohomem commented on #9048
@maxtaco Didn't know about that, sorry! Log id: 94721676c4a9a726787ee21c

[2017-10-13 22:05] maxtaco commented on #6447
‘keybase ctl stop’ should work.

On Fri, Oct 13, 2017 at 5:40 PM Dave Loyall <notifications@github.com>
wrote:

[2017-10-13 22:10] zanderz commented on #6447
Internal windows issue: CORE-3563

[2017-10-13 22:18] PhilRW commented on #9034
033636620617d1a87634371c

[2017-10-13 22:21] strib commented on #9034
Thanks.  Seems like there was a second bug hiding behind the first one.  Looking...

[2017-10-13 22:21] Mr0grog commented on #8744
Ah, that worked. Thanks!

[2017-10-13 22:53] daveloyall commented on #6447
Hi, @maxtaco.  Thank you for your suggestion.  Unfortunately, it didn't work.

It does stop a process named `keybase` (lower case).  It does not stop the four `Keybase` processes nor the `kbfsfuse` process.

I'm using `Client:  1.0.34-20171012160058+c282fb227`.

Cheers, thanks!

[2017-10-13 23:54] strib commented on #9034
@PhilRW: here's another build to try out, with a new fix.  Thanks!

https://s3.amazonaws.com/prerelease.keybase.io/darwin-test/Keybase-1.0.34-20171013234544%2B8bdf88aed.dmg

[2017-10-13 23:58] kjerk opened #9049 "Main window not unhiding on Windows 7 when clicking tray icon"
The application once minimized to tray seems to be unable to re-show for me. Clicking the taskbar icon or right/left clicking the tray icon just re-hides or attempts to show the application.

Here's an example of me spamming right and left click, I get one flash of the application window in the lower right but it quickly disappears again.

![keybase_render_issue](https://user-images.githubusercont

[2017-10-14 00:08] jzila commented on #8898
@maxtaco: 26adb465fac7f62b572c1b1c

[2017-10-14 00:25] jsloan117 commented on #3729
Has this been resolved? I am not able to remove the shared folder I accidentally shared via the GUI not the CLI using the build in tools of Keybase itself. I'm able to remove the folder fine via Windows Explorer but it still shows up in Keybase app and gets recreated.

[2017-10-14 02:17] solvaholic commented on #6954
Per https://github.com/keybase/client/issues/6899 this issue [has been resolved](https://twitter.com/malgorithms/status/915197913860657152).

[2017-10-14 03:05] MichelDiz opened #9051 "Some plans to "Git advanced GUI"?"
I was wondering here. The Keybase client only maintains the repositories. Right? Is it possible in the future to have a GUI similar to Github?

To have functions like "talk about the code" with the team. Analyze "pull request" accept "PR" and delete "Branch" in the act.

If these things already have. Where do I find out about?

Cheers

[2017-10-14 04:00] dabura667 commented on #9051
Yeah, I think this would be great... but the encrypted nature makes it very difficult to do something like fork and merge from forks.

It would almost necessitate the branch and merge method (rather than fork and merge) which would then almost definitely require the need for branch permissions...

It's a bit of a rabbit hole... but I think it should be on the roadmap.

But they are doing an AMAZIN

[2017-10-14 04:14] MichelDiz commented on #9051
Yeah, that's an amazing tool.

At first I had not understood the potential of the keybase. After searching for videos and reading reviews I completely understood.

And I understand that the Git option is entirely new. I suppose my question was in their sights. I just wrote to probe it.

I do not know if it would be complicated. But I believe doing what I said on the client does not seem to be comp

[2017-10-14 05:26] solvaholic commented on #6899
It looks like pushing an .apk to the mainline F-Droid repo is a nontrivial process - for the app creator and for the F-Droid team.

While `keybase/keybase-client` is being updated frequently that could be a lot of extra work.

How would it be to publish the Keybase Android app in [a simple binary repository](https://f-droid.org/docs/Setup_an_F-Droid_App_Repo/) users could add through their F-Droid

[2017-10-14 06:34] daelv commented on #9032
yah, same problem here
stops here:

------------
Success! Your log ID is:

  be3db710290c08a825f5201c

Here's a URL to submit new bug reports containing this ID:

  https://github.com/keybase/client/issues/new?body=[write%20something%20useful%20and%20descriptive%20here]%0A%0Amy%20lo
g%20id:%20be3db710290c08a825f5201c

Thanks!
------------

[2017-10-14 09:30] Serkan-devel commented on #6899
Can pushing apks to the main repo be automated?

[2017-10-14 12:07] PhilRW commented on #9034
That seemed to work; I came back overnight and it looks to be syncing now.

[2017-10-14 12:07] #9034 closed

[2017-10-14 12:08] zeuben commented on #8969
i may be having the same issue:

$ ls -lsa ~/Library/LaunchAgents
total 72
0 drwxr-xr-x  11 zeuben  staff   374 Oct 13 13:25 .
0 drwx------+ 72 zeuben  staff  2448 Sep 15 12:19 ..
8 -rw-r--r--   1 zeuben  staff   697 Aug  3 20:28 com.adobe.AAM.Updater-1.0.plist
8 -r-xr-xr-x   1 zeuben  staff   458 Jul 30  2015 com.citrixonline.GoToMeeting.G2MUpdate.plist
8 -rw-r--r--   1 zeuben  staff   686 Aug 10